<span class="cover"></span>
<div class="ng-scope sidebars" ng-controller="AssignmentDashController">
    <div class="sidebar colored group col-md-4">
        <div class="sidebar-header">
            <div class="close"><span ng-click="hidePopups()">+</span></div>
            <p class="blob-status ng-scope" ng-if="!assign.final.final_submission">Not submitted
                yet</p>
            <h2 class="blob-title ng-binding"> Project 1 Contest: Hog Strategy</h2>

            <p class="blob-shiftcopy blob-copy ng-binding"><span class="icon-clock"></span>due
                02/18/2015 at 11:59 PM</p>
        </div>
        <h2 class="sidebar-subtitle">Group</h2>
        <p class="sidebar-byline"><b class="blob-name ng-binding"></b></p>
        <ul ui-sortable="" ng-model="currGroup.member"
        class="list-view ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable">
        </ul>
        <ul class="sidebar-list">
            <li>Some content</li>
            <li>Some content</li>
        </ul>
        <a ng-click="" class="action">Save</a>

        <h2 class="sidebar-subtitle">Submissions</h2>
        <ul class="sidebar-list">
            <li>Feb. 2 at 6:00 p.m. by Alvin Wan<a href="submission.html">view<span class="arrow right dark fat"></span></a></li>
            <li>Feb. 2 at 6:00 p.m. by Angie Jodjana<a href="submission.html">view<span class="arrow right dark fat"></span></a></li>
            <li>Feb. 2 at 6:00 p.m. by Alvin Wan<a href="submission.html">view<span class="arrow right dark fat"></span></a></li>
            <li>Feb. 2 at 6:00 p.m. by Angie Jodjana<a href="submission.html">view<span class="arrow right dark fat"></span></a></li>
            <li>Feb. 2 at 6:00 p.m. by Alvin Wan<a href="submission.html">view<span class="arrow right dark fat"></span></a></li>
        </ul>
        <a ng-click="" class="action">Load More</a>
        <h2 class="sidebar-subtitle">Backups</h2>
        <ul class="sidebar-list">
            <li>Feb. 2 at 6:00 p.m. by Alvin Wan<a href="submission.html">view<span class="arrow right dark fat"></span></a></li>
            <li>Feb. 2 at 6:00 p.m. by Angie Jodjana<a href="submission.html">view<span class="arrow right dark fat"></span></a></li>
            <li>Feb. 2 at 6:00 p.m. by Alvin Wan<a href="submission.html">view<span class="arrow right dark fat"></span></a></li>
            <li>Feb. 2 at 6:00 p.m. by Angie Jodjana<a href="submission.html">view<span class="arrow right dark fat"></span></a></li>
            <li>Feb. 2 at 6:00 p.m. by Alvin Wan<a href="submission.html">view<span class="arrow right dark fat"></span></a></li>
        </ul>
        <a ng-click="" class="action">Load More</a>
    </div>
</div>