<div class="wrap toBlur" ng-controller="AssignmentDashController">
  <div class="row" ng-repeat="row in rows">
    <div class="col-md-4"
         ng-repeat="assign in row | orderBy: ['assignment.active','assignment.points']:true">
      <div class="blob {{ assign.assignment.active || assign.assignment.revision ? 'colored' : ''}}"
           color="{{ assign.assignment.active || assign.assignment.revision ? randomColor(assign.assignment).color : 'gray'}}"
              id="{{ assign.assignment.id }}">
        <div class="blob-dot"></div>
        <div class="blob-main {{ !assign.final.final_submission ? (assign.assignment.active ? 'attn' : 'bad') : 'good'}}">
          <div class="blob-alert">
            <span class="check" ng-if="assign.final.final_submission"></span>
            <div class="close white" ng-if="!assign.final.final_submission && !assign.assignment.active"><span>+</span></div>
            <span ng-if="!assign.final.final_submission && assign.assignment.active">!</span>
          </div>
          <p class="blob-status" ng-if="!assign.final.final_submission && assign.assignment.active">Not submitted yet</p>
          <p class="blob-status" ng-if="!assign.final.final_submission && !assign.assignment.active">No submission found</p>
          <p class="blob-status" ng-if="assign.final.final_submission && !assign.final.final_submission.revision">Assignment submitted</p>
          <p class="blob-status" ng-if="assign.final.final_submission &&  assign.final.final_submission.revision"> Revision submitted </p>
          <h2 class="blob-title ng-binding">{{ ::assign.assignment.display_name }}</h2>
          <p class="blob-shiftcopy blob-copy ng-binding"><span class="icon-clock"></span>due
            {{ ::assign.assignment.due_date | amCalendar }}</p>
          <p class="blob-copy" ng-if="assign.final.final_submission">
            <a ng-hide="assign.final.submission.score.length > 0"
               ui-sref='submission.detail({courseId: courseId, submissionId:assign.final.backup.id})'
               class="link view-submission">
              Submission ({{ assign.final.backup.created | amCalendar }}) &raquo;
            </a><br>
          </p>
          <div ng-repeat="score in assign.final.submission.score">
            <p><a ng-hide="score.tag == 'autograder'"
               ng-click="showComposition(score, assign.final.backup.id)"
               class="link view-submission"
               href="javascript:void(0)">{{ score.tag }}: {{ score.score }} &raquo;</a>
            </a></p>
          </div>
        </div>
        <div class="blob-action" ng-click="openDetails(assign)">View
          Details<span class="{{ assign.assignment.active || assign.assignment.revision ? 'white' : 'dark' }} arrow right"></span></div>
      </div>
    </div>
  </div>
</div>
