<div class="screen courses">
  <div class="screen courses" ng-controller="CourseSelectorController">
    <section ng-repeat="course in courses">
      <a ui-sref='student({courseId:course.id})' class="course large">
        <div class="course-main" style="background:url('/static/student/images/courses/cs61a.png') no-repeat center; background-size:cover">
          <img class="assign-bg" src="/static/student/images/bg-logo.png">
          <h2 class="assign-title">{{ course.display_name }}</h2>

          <p class="course-subtitle"> {{course.institution}} &nbsp; {{course.term}}&nbsp;{{course.year}}</p>
          <div class="assign-deck">
          </div>

              <div class="course-progress">
                <div class="assign-bar"><span class="assign-fill" style='width: 100%'></span></div>
                <p class="assign-label">Course has begun</p>
              </div>


      </div>
    </a>
      
  </section>
</div>
</div>
