<div class="wrap toBlur">
    <section class="screen courses" ng-controller="CourseSelectorController">
        <p ng-if="rows == undefined">No courses found.</p>
        <p ng-if="courses.length == 0">Looks like you aren't enrolled in any courses. <a ng-click="loadAll()">View all courses?</a></p>
        <a ng-if="courses.length != 0" ng-click="loadAll()">View all courses</a>
        <div class="row" ng-repeat="row in rows">
            <div ng-repeat="course in row">
                <div class="col-md-4">
                    <div class="blob colored" color="blue">
                        <div class="blob-main attn">
                            <div class="blob-alert thin">5</div>
                            <h2 class="blob-title ng-binding">{{ course.display_name }}</h2>
                            <p class="blob-shiftcopy blob-copy ng-binding"><span class="icon-tag"></span>{{course.institution}}
                                &middot; {{course.offering}}</p>
                        </div>
                        <a ui-sref='student({courseId:course.id})'>
                            <div class="blob-action">View Course
                                <span class="white arrow right"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-4">
                <div class="blob">
                    <div class="blob-main">
                        <h2 class="blob-title ng-binding">Enter Course ID</h2>
                        <p class="blob-subtitle ng-binding"> Is your course missing? <a href="#">Ask your instructor</a>
                            about it.</p>
                    </div>
                    <input class="blob-action" placeholder="course identification number">
                </div>
            </div>-->
        </div>
    </section>
</div>