    <div class="blob first {{ submission.assignment.active || submission.assignment.revision ? 'colored' : ''}}"
         color="{{ submission.assignment.active || submission.assignment.revision ? 'blue' : 'gray'}}"
         id="{{ submission.assignment.id }}">
        <div class="blob-dot"></div>
        <div class="blob-main {{ !assign.final.final_submission ? (submission.assignment.active ? 'attn' : 'bad') : 'good'}}">
            <h2 class="blob-title ng-binding">{{ ::submission.assignment.display_name }}</h2>
            <p class="blob-shiftcopy blob-copy ng-binding"><span class="icon-clock"></span>due
                {{ submission.assignment.due_date | amCalendar }} &middot; <a href="/api/v1/submission/{{ submission.id }}/download"><i class="fa fa-download"></i> Download</a></p>
            <p class="blob-copy" ng-if="tag">{{tag}}</p>
        </div>
        <a ui-sref="student({courseId: courseId})">
            <div class="blob-action">Back</div>
        </a>
    </div>
    <div class="files wrap" ng-repeat="(file_name, contents) in diff.diff">
        <diff/>
    </div>
</div>

<link href="/static/css/main.css" rel="stylesheet">
<link href="/static/admin/css/ok.css">