.git

# Standard ignores
*.pyc
*.pyo
*.DS_Store
*.swp
*.idea
*.project
*.pydevproject
*.kpf
*.iml
venv
env
.env
*.tags*

**/*.pyc
**/*.cache*
**/*__pycache__*

# Don't store secret keys in version control
*secrets.json*
secret_keys.py
secret*

# pip-related files
*.egg-info
dist

# ok-related files
*.ok_refresh
*.ok_messages
kubernetes/*
documentation
local-storage/*

*.coverage
*.coveralls.yml
*coverage_report/*
ghostdriver.log

# static assets
*.webassets-cache*
server/static/vendor/*

# generated static assets (assets.py)
server/static/public/css/*.css
server/static/public/js/*.js

_cache/
.cache
.wercker/*

# local development
database.db
*.db
