# Standard ignores
*.pyc
*.pyo
*.DS_Store
*.swp
*.idea
*.project
*.pydevproject
*.kpf
*.iml
venv
env
.env

# Don't store secret keys in version control
*secrets.json*
secret_keys.py
secret*

# pip-related files
*.egg-info
dist

# ok-related files
*.ok_refresh
*.ok_messages

*.coverage
*.coveralls.yml
*coverage_report/*

# static assets
*.webassets-cache*
server/static/vendor/*

# generated static assets (assets.py)
server/static/public/css/*.css
server/static/public/js/*.js

.cache
_cache/*

# local development
database.db
*.db
