language: python
env:
- SERVER_ENV=sqlite
python:
- '3.3'
- '3.4'
- '3.5'
services:
  - redis-server
install:
- pip install pip --upgrade
- pip install -r requirements.txt
- pip install python-coveralls
script:
- make test
after_success:
- coveralls
sudo: false
cache:
  directories:
  - "$HOME/.cache/pip"
  - lib/python3.5/site-packages
notifications:
  slack:
    secure: mGqCgRCFMB89AKsYVOZI79sifCFOLaQkuY3rvFKMitpD1GYQQpkBbZ9Z1SWi0VQV63oOKTQBrPCeDSwhZMaJA/dCZZIuz6e9nkVyJJUIrqAuH9PjgQr6FM4FkKzVLpHdPnXIikAvUAKiPRzzj8z4KO1EohBRR/xb2/4TpoWrkSA=
