language: python

env:
  - CMD=server/apptest.py $GAE_SDK

python:
  - "2.7"
  - "3.3"

install: 
  - if [[ $TRAVIS_PYTHON_VERSION == "2.7" ]]; then pip install -r server_requirements.txt; fi
  - if [[ $TRAVIS_PYTHON_VERSION == "3.3" ]]; then pip install -r client_requirements.txt; fi

script: 
  - if [[ $TRAVIS_PYTHON_VERSION == "2.7" ]]; then FLASK_CONF=TEST python $CMD; fi
  - if [[ $TRAVIS_PYTHON_VERSION == "3.3" ]]; then nosetests; fi

before_script:
  - if [[ $TRAVIS_PYTHON_VERSION == "2.7" ]]; then wget https://storage.googleapis.com/appengine-sdks/featured/google_appengine_1.9.14.zip -nv -O gae_sdk.zip; fi
  - if [[ $TRAVIS_PYTHON_VERSION == "2.7" ]]; then unzip -q gae_sdk.zip; fi
  - if [[ $TRAVIS_PYTHON_VERSION == "2.7" ]]; then mv google_appengine gae_sdk; fi
  - if [[ $TRAVIS_PYTHON_VERSION == "2.7" ]]; then export GAE_SDK=$PWD/gae_sdk; fi
  - if [[ $TRAVIS_PYTHON_VERSION == "2.7" ]]; then export PATH=$PATH:$GAE_SDK; fi
  - if [[ $TRAVIS_PYTHON_VERSION == "2.7" ]]; then export PYTHONPATH=$PYTHONPATH:$GAE_SDK; fi
  - if [[ $TRAVIS_PYTHON_VERSION == "2.7" ]]; then python server/app/generate_keys.py; fi
