language: python
env:
  - CMD=server/apptest.py
  - CMD=client/runtest.py
python:
  - "2.7"
install: "pip install -r server_requirements.txt"
script: FLASK_CONF=TEST python $CMD $GAE_SDK
before_script:
  - wget https://storage.googleapis.com/appengine-sdks/featured/google_appengine_1.9.8.zip -nv -O gae_sdk.zip
  - unzip -q gae_sdk.zip
  - mv google_appengine gae_sdk
  - export GAE_SDK=$PWD/gae_sdk
  - export PATH=$PATH:$GAE_SDK
  - export PYTHONPATH=$PYTHONPATH:$GAE_SDK
  - python server/app/generate_keys.py
