language: python
env:
python:
  - "2.7"
install: "pip install -r requirements.txt"
script: ./run_tests $GAE_SDK
before_script:
  - sudo apt-get install python3 python3-setuptools
  - sudo easy_install3 pip
  - sudo pip3 install -r requirements3.txt
  - wget https://storage.googleapis.com/appengine-sdks/featured/google_appengine_1.9.7.zip -nv -O gae_sdk.zip
  - unzip -q gae_sdk.zip
  - mv google_appengine gae_sdk
  - export GAE_SDK=$PWD/gae_sdk
  - export PATH=$PATH:$GAE_SDK
  - export PYTHONPATH=$PYTHONPATH:$GAE_SDK
  - python server/app/generate_keys.py
