sudo: required
dist: trusty
language: python
cache: pip
services:
  - docker
  - redis
python:
    - "3.5"
env:
  global:
     - OK_ENV=test
  matrix:
    - USE_DOCKER=1
    - USE_NATIVE=1
install:
  - if [ -n "$USE_DOCKER" ]; then travis_retry make docker-build; fi
  - if [ -n "$USE_NATIVE" ]; then travis_retry pip --timeout=60 install -r requirements.txt; fi
  - if [ -n "$USE_NATIVE" ]; then travis_retry pip --timeout=60 install pytest-timeout python-coveralls; fi
script:
  - if [ -n "$USE_DOCKER" ]; then make docker-test; fi
  - if [ -n "$USE_NATIVE" ]; then py.test --cov-report term-missing --cov=server tests/  --ignore tests/test_web.py --timeout=30; fi
after_success:
  - if [ -n "$USE_NATIVE" ]; then echo "eventually should run coveralls here"; fi
notifications:
  email: false
  slack:
    on_success: never
    on_failure: always
    secure: mGqCgRCFMB89AKsYVOZI79sifCFOLaQkuY3rvFKMitpD1GYQQpkBbZ9Z1SWi0VQV63oOKTQBrPCeDSwhZMaJA/dCZZIuz6e9nkVyJJUIrqAuH9PjgQr6FM4FkKzVLpHdPnXIikAvUAKiPRzzj8z4KO1EohBRR/xb2/4TpoWrkSA=
