language: python
env:
- SERVER_ENV=test
python:
- '3.3'
- '3.4'
- '3.5'
services:
  - redis-server
  - mysql
install:
- pip install pip --upgrade
- pip install -r requirements.txt
- pip install python-coveralls
before_script:
  - mysql -e 'create user okdev;'
  - mysql -e 'create database IF NOT EXISTS oktest;'
  - mysql -e "CREATE USER 'okdev'@'localhost' IDENTIFIED BY '';"
  - mysql -e "GRANT ALL PRIVILEGES ON * . * TO 'okdev'@'localhost'; FLUSH PRIVILEGES;"
script:
- make test
after_success:
- coveralls
sudo: false
cache:
  directories:
  - "$HOME/.cache/pip"
  - lib/python3.5/site-packages
notifications:
  slack:
    secure: mGqCgRCFMB89AKsYVOZI79sifCFOLaQkuY3rvFKMitpD1GYQQpkBbZ9Z1SWi0VQV63oOKTQBrPCeDSwhZMaJA/dCZZIuz6e9nkVyJJUIrqAuH9PjgQr6FM4FkKzVLpHdPnXIikAvUAKiPRzzj8z4KO1EohBRR/xb2/4TpoWrkSA=
