language: python

env:
  - CMD=server/apptest.py $GAE_SDK

python:
  - "2.7"

install: pip install -r server_requirements.txt; fi

script: FLASK_CONF=TEST python $CMD; fi

before_script:
  - wget https://storage.googleapis.com/appengine-sdks/featured/google_appengine_1.9.15.zip -o gae_sdk.zip
  - unzip -q google_appengine_1.9.15.zip
  - mv google_appengine gae_sdk
  - export GAE_SDK=$PWD/gae_sdk
  - export PATH=$PATH:$GAE_SDK
  - export PYTHONPATH=$PYTHONPATH:$GAE_SDK
  - python server/app/generate_keys.py
