Flask==0.10.1

# Caching 
redis==2.10.5

# Flask Extensions
Flask-Assets==0.11
Flask-Cache==0.13.1
Flask-DebugToolbar==0.10.0
Flask-Login==0.3.2
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
Flask-WTF==0.12
Flask-Migrate==1.7.0
Flask-OAuthlib==0.9.2
Flask-RESTful==0.3.5

# Google
google-api-python-client==1.4.2
GoogleAppEngineCloudStorageClient==1.9.22.1
# Other
psycopg2==2.6.1
itsdangerous==0.24
cssmin==0.2.0
jsmin==2.2.0

# Testing
pytest==2.8.5
pytest-cov==2.2.0
mccabe==0.3.1
flake8==2.5.1
pylint==1.5.2
