alembic==0.6.5
argparse==1.2.1
astroid==1.1.1
beautifulsoup4==4.3.1
blinker==1.3
bzr==2.6.0
docutils==0.11
-e git://github.com/ze-phyr-us/linkenv.git@ae463b3211cb8dcc8868e88176a1101733c83b6d#egg=linkenv-master
feedgenerator==1.6
Flask==0.10.1
Flask-Cache==0.13.1
Flask-Restless==0.13.1
Flask-SQLAlchemy==1.0
FormEncode==1.2.6
git-pylint-commit-hook==2.0.5
itsdangerous==0.24
Jinja2>=2.7.1
logilab-common==0.61.0
M2Crypto==0.21.1
Mako==0.9.1
MarkupSafe==0.23
mercurial==3.0
mimerender==0.5.4
msgpack-python==0.3.0
MySQL-python==1.2.5
nose==1.3.3
oursql==0.9.3.1
PIL==1.1.7
Powerline==beta
pycrypto==2.6
Pygments==1.6
pylint==1.2.1
PyMySQL==0.6.2
pysqlite==2.6.3
python-dateutil==2.2
python-mimeparse==0.1.4
PyYAML==3.11
pyzmq==13.1.0
requests==1.2.3
salt==0.16.3
SAValidation==0.2.1
six==1.3.0
Sphinx==1.2.2
SQLAlchemy==0.9.4
stevedore==0.13
Unidecode==0.04.13
unittest2==0.5.1
virtualenv==1.11.6
virtualenv-clone==0.2.4
virtualenvwrapper==4.1.1
Werkzeug==0.9.6
wsgiref==0.1.2
