Flask>=0.12,<0.13,!=0.12.3 # 0.12.3 is a broken release. Ref: https://github.com/pallets/flask/issues/2728
jinja2==2.9.6

# WSGI Containers
gunicorn==19.7.1

# Errors
raven[flask]==6.0.0

# Database
pymysql==0.8.0
sqlalchemy==1.2.8

# Caching
redis==2.10.5

# Job Queue
rq==0.5.3
rq-dashboard==0.3.7 # pyup: != 0.3.8

# Forms
WTForms>=2.0,<3.0

# Flask Extensions
Flask-Assets>=0.12,<0.12.99

# Branch that contains a Unicode bug fix - use until https://github.com/miracle2k/webassets/pull/482 is published
https://github.com/okpy/webassets/archive/978b8063ce80c7f91c6bf080872dafe4eecf2454.zip

Flask-Caching>=1.1
Flask-Login==0.4.0

# File Storage
lockfile==0.12.2 # For local storage
# apache-libcloud==2.3.0
# Branch that contains a fix for Azure stream blob upload - use until a fix for https://issues.apache.org/jira/projects/LIBCLOUD/issues/LIBCLOUD-993 is published
https://github.com/jmspring/libcloud/archive/issue_933_azure_crash_v2.3.0-base.zip

# OAuth

oauthlib==2.0.2
Flask-OAuthlib==0.9.4

Flask-WTF==0.14.2
Flask-RESTful==0.3.5
Flask-Testing>=0.5.0,<1.0
Flask-RQ==0.2

pyjwt==1.6.1

# Flask DB Extensions
# Flask-SQLAlchemy==2.2
# Fork of Flask-SQLAlchemy==2.2 that supports custom create_engine paramters - use until https://github.com/mitsuhiko/flask-sqlalchemy/issues/166 is resolved
https://github.com/c-w/flask-sqlalchemy/archive/2.2-with-engine-params-fix.zip
Flask-SQLAlchemy-Cache==0.1.5
Flask-Migrate==2.0.3

# Timezones
pytz==2017.2
arrow==0.10.0

# Emailing
sendgrid==3.6.3 # pyup: >=3.6,<4.0
pynliner<1.0

# Autograder Interface
requests==2.13.0

# Front end
itsdangerous==0.24
cssmin==0.2.0
jsmin==2.2.1
hashids==1.2.0
pygments==2.2.0
humanize==0.5.1
markdown>=2.6,<2.7
pygal>=2.3,<2.4
bleach==2.0.0

# Google logging
gcloud==0.18.3

# Azure logging
applicationinsights==0.11.3

# Azure Storage
azure-storage-blob==1.1.0

# Development
Flask-DebugToolbar==0.10.1
Flask-Script==2.0.5
mccabe==0.6.1
flake8>=2.5.4
pylint>=1.5.2
names==0.3.0

# Testing
pytest>=3.0.0,<3.1
pytest-cov==2.4.0
selenium==3.3.3

# until version 1.0.6 is on pypi
https://github.com/neta79/loremipsum/archive/py3_unicode_fix.zip
