                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> CS61A - Spring 2015</a></li>
                        <li class="active">Dashboard</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">


                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-4 col-xs-4">
                            <course-module>
                        </div><!-- ./col -->

                        <div class="col-lg-4 col-xs-4">
                            <!-- small box -->
                            <assignment-module/>
                        </div><!-- ./col -->

                        <div class="col-lg-4 col-xs-4">
                            <!-- small box -->
                            <queue-module/>
                        </div><!-- ./col -->
                    </div>

                    <!-- Main row -->
                    <div class="row">
                        <!-- Left col -->
                        <section class="col-lg-12 connectedSortable">
                          <userqueue-list ng-init="hideComplete = true; dashboard = true">
                        </section>
                        <!-- /.Left col -->
                        <section class="col-lg-12 connectedSortable">
                            <assignment-list ng-init="dashboard = true; ">
                        </section>
                        <!-- right col -->

                    </div><!-- /.row (main row) -->
                </section><!-- /.content -->


