                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> CS61A - Spring 2015</a></li>
                        <li class="active">Dashboard</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">


                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                            <course-module>
                        </div><!-- ./col -->

                        <!-- No need for assignment list
                        <div class="col-lg-6 col-xs-6">
                            <assignment-module/>
                        </div> ./col -->

                    </div>
                    <!-- Main row -->
                    <div class="row">
                        <section class="col-lg-12 connectedSortable">
                            <course-list ng-init="hideComplete = true; dashboard = true">
                        </section>

                        <section class="col-lg-12 connectedSortable">
                          <userqueue-list ng-init="hideComplete = true; dashboard = true">
                        </section>
                    </div><!-- /.row (main row) -->
                </section><!-- /.content -->


