<div>
  <section class="content-header" ng-hide="dashboard">
    <ol class="breadcrumb">
      <li><a ui-sref="admin"><i class="fa fa-dashboard"></i> OK Dashboard </a></li>
      <li><a ui-sref="course.list"><i class="fa fa-list"></i> All Courses</a></li>
      <li><a ui-sref="course.detail.stats({courseId: course.id})"><i class="fa fa-institution"></i> {{course.display_name}}</a></li>
      <li><a ui-sref="course.assignment.list({courseId: course.id})"><i class="fa fa-list"></i> All Assignments</a></li>
      <li class="active"><i class="fa fa-plus"></i> New {{assignment.name}} Submission</li>
    </ol>
  </section>


  <section>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <h2>Assignment: {{assignment.display_name}}</h2>

        <div class="box" >
          <div class="box-body">
            <form name="formsubmit" id="new-submission" class="dropzone"
            method="POST"  enctype="multipart/form-data">
            <div class="form-group">
              <label>Submit As User</label>
              <input ng-model="newSubmission.submitter" type="text" name="submitter" class="form-control input-lg" placeholder="student@cs61a.org">
            </div>
            <div ng-hide="!assignment.autograding_enabled">
              <div class="form-group">
                <label>Autograde</label>
                <select name="autograde"  type="select" class="form-control" ng-model="newSubmission.ag_toggle" ng-options="option for option in [false, true]">
                </select>
              </div>
            </div>
            <div ng-hide="!(assignment.autograding_enabled && newSubmission.ag_toggle)">
              <div class="form-group">
                <label>Ok Token</label>
                <br>
                <code>cd ~/.config/ok;python3 -c "import pickle; print(pickle.load(open('auth_refresh', 'rb'))['access_token'])"; cd -;</code>
                <br>
                <input ng-model="newSubmission.token"
                type="text" name="token" class="form-control input-lg" autocomplete="on" placeholder="ya29.foobar">
              </div>
            </div>

            <div class="form-group dropzone-files">
              <label>Files</label>
              <div id="dropzoneClickable" class="dropzone-border dz-default dz-message">
                <div class="dz-message needsclick">
                  <span class="dz-title"> Drop files here or click to upload.</span><br>
                  <span class="note needsclick">Student Submitted Files (not template files)</span>
                  <div id="dropzonePreview" class="dropzone-previews">
                  </div>
                </div>
              </div>

              <div class="fallback">
                <input ng-model="newSubmission.files" name="file" type="file" multiple>
              </div>

            </div>


            <button type="submit" ng-disabled="!assignment.$resolved" class="btn btn-block btn-primary btn-lg">Create New Submission</input>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>
</div>
