<div>
  <section class="content-header" ng-hide="dashboard">
    <ol class="breadcrumb">
        <li><a ui-sref="admin"><i class="fa fa-dashboard"></i> OK Dashboard </a></li>
        <li><a ui-sref="course.list"><i class="fa fa-list"></i> All Courses</a></li>
        <li><a ui-sref="course.detail.stats({courseId: course.id})"><i class="fa fa-institution"></i> {{course.display_name}}</a></li>
        <li><a ui-sref="course.assignment.list({courseId: course.id})"><i class="fa fa-list"> All Assignments</i></a></li>
        <li class="active"><i class="fa fa-plus"></i> Edit</li>
    </ol>
  </section>
  <section>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">

  <div class="box" >
    <form >
      <div class="box-body">
        <div class="form-group">
          <label>Assignment Name</label>
          <input ng-model="assign.display_name" type="text" class="form-control input-lg" placeholder="Scheme Project">
        </div>
          <div class="form-group">
              <label>Assignment URL</label>
              <input ng-model="assign.url" type="text" class="form-control input-lg" placeholder="cs61a.org/hw1">
          </div>
        <div class="form-group">
          <label>Endpoint</label>
          <input ng-model="assign.endpoint" type="text" class="form-control input-lg" placeholder="cal/cs61a/sp15/scheme">
        </div>
        <div class="form-group">
          <label>Points</label>
          <input ng-model="assign.points" type="number" step="any" min="0" class="form-control" placeholder="">
        </div>
        <div class="form-group">
          <label>Max Group Size</label>
          <input ng-model="assign.max_group_size" type="number" min="1" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label>Due Date</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="text" ng-model="assign.due_date" class="form-control" placeholder="YYYY-MM-DD">
            </div><!-- /.input group -->
        </div>

        <div class="form-group">
          <label>Time Due</label>
          <input ng-model="assign.due_time" type="text" class="form-control">
        </div>
          <div class="form-group">
              <label>Lock Date</label>
              <div class="input-group">
                  <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" ng-model="assign.lock_date" class="form-control" placeholder="YYYY-MM-DD">
              </div><!-- /.input group -->
          </div>

          <div class="form-group">
              <label>Lock Time</label>
              <input ng-model="assign.lock_time" type="text" class="form-control">
          </div>
          <div class="form-group">
              <label>Revisions On?</label>

               <select class="form-control" required ng-model="assign.revisions" ng-options="option for option in [true, false]">
                        </select>

          </div>

        <div class="form-group">
          <label>Course</label>
           <select class="form-control" required ng-model="assign.course" ng-options="course as course.display_name+' ('+course.offering+')' for course in courses">
          </select>
        </div>

          <div class="form-group">
              <label>Autograding Enabled?</label>

              <select class="form-control" required ng-model="assign.autograding_enabled" ng-options="option for option in [false, true]">
              </select>
          </div>
          <div ng-hide="!assign.autograding_enabled">
            <div class="form-group">
                <label>Autograder Key (ID of Assignment in Autograder)</label>
                <input ng-model="assign.autograding_key" type="text" class="form-control" placeholder="5abc3....">
            </div>

          </div>


         <button ng-click="editAssign()" class="btn btn-block btn-primary btn-lg">Save</button>

      </div>
    </form>

  </div>

      </div> <!-- xs.col.6 -->
    </div> <!-- row -->
  </section>

</div>
