<section class="content-header">
    <ol class="breadcrumb">
        <li><a ui-sref="admin"><i class="fa fa-dashboard"></i> OK Dashboard </a></li>
        <li class="active"><i class="fa fa-list"></i> All Courses</li>
    </ol>
</section>

<h2>Courses</h2>
<div>
  <div class="center-block" ng-if="!courses.$resolved">
    <h3>Loading...</h3>
  </div>
  <div class="center-block" ng-if="courses.$resolved && courses.length == 0">
    <h3>No courses found...</h3>
  </div>
  <table ts-wrapper ng-if="courses.length > 0" class="table table-striped table-bordered table-responsive">
    <tr>
      <th ts-criteria="name">Name</th>
      <th ts-criteria="institution">Institution</th>
      <th ts-criteria="year">Offering</th>
    </tr>
    <tr ng-repeat="course in courses" ts-repeat>
      <td>
        <a ui-sref='course.detail.stats({courseId:course.id})'>
          {{course.display_name}}
        </a>
      </td>
      <td>{{course.institution}}</td>
      <td>{{course.offering}}</td>
    </tr>
  </table>
</div>
