<section class="content-header">
    <ol class="breadcrumb">
        <li><a ui-sref="admin"><i class="fa fa-dashboard"></i> OK Dashboard </a></li>
        <li><a ui-sref="course.list"<i class="fa fa-list"></i> All Courses</a></li>
        <li class="active"><i class="fa fa-pencil"></i> {{course.display_name}} </a> </li>
    </ol>
</section>

<h2>Course: {{course.display_name}}</h2>
<div>
  <div class="center-block" ng-if="!course.$resolved">
    <h3>Loading...</h3>
  </div>
  <table ts-wrapper ng-if="course" class="table table-striped table-bordered table-responsive">
    <tr>
      <th ts-criteria="name">Name</th>
      <th ts-criteria="institution">Institution</th>
      <th ts-criteria="year">Offering</th>
      <th>Active</th>
      <th>ID</th>
      <th>Instructor</th>
    </tr>
    <tr>
      <td>
        <a ui-sref='course.detail.stats({courseId:course.id})'>
          {{course.display_name}}
        </a>
      </td>
      <td>{{course.institution}}</td>
      <td>{{course.offering}}</td>
      <td>{{course.active}}</td>
      <td>{{course.id}}</td>
      <td>{{course.instructor[0].email[0]}}</td>
    </tr>
  </table>

    <staff-list />
    <a class="btn btn-primary" ui-sref='staff.list({courseId:course.id})'>
      View/Edit Staff
    </a>

</div>
