<section class="sidebar" ng-controller="SidebarCntrl" ng-cloak>
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left info">
            <p>{{course_name}}</i></p>

            <a href="#">Course Staff Dashboard</a>
        </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="">
            <a ui-sref="admin">
                <i class="fa fa-dashboard"></i> <span>Staff Dashboard</span>
            </a>
        </li>

        <li class="">
            <a ui-sref="userqueue">
                <i class="fa fa-inbox"></i> <span>My Queue</span>
            </a>
        </li>

        <li class="treeview">
            <a>
                <i class="fa fa-bar-chart-o"></i>
                <span>Courses</span> &nbsp;
                <small class="badge bg-green">{{ courses.length }}</small>
            </a>
            <ul class="treeview-menu" style="display: block;" >
                <li><a ui-sref='course.list' style="margin-left: 20px;"><i class="fa fa-list"></i> All Courses</a> </li>
            </ul>
            <ul class="treeview-menu" style="display: block;" >
                <li><a ui-sref='course.new' style="margin-left: 20px;"><i class="fa fa-plus"></i> Create Course</a> </li>
            </ul>
        </li>
        </li>
        <li class="treeview">
            <a>
                <i class="fa fa-terminal"></i>
                <span>ok-client Versions</span> &nbsp;
            </a>
            <ul class="treeview-menu" style="display: block;">
              <li>
              <a ui-sref="version.list" style="margin-left: 20px;">
                  <i class="fa fa-list"></i> <span>Version List</span>
              </a>
              </li>
              <li>
              <a ui-sref="version.new" style="margin-left: 20px;">
                  <i class="fa fa-plus"></i> <span>New Version</span>
              </a>
              </li>
            </ul>
        </li>
    </ul>
</section>

