{% extends "staff/base.html" %}
{% import 'diff.html' as diff with context %}
{% import 'staff/_formhelpers.html' as forms %}

{% block title %} OK | Grade {% endblock %}

{% block main %}
<section class="content-header">
    <h1>
        {{ backup.assignment.display_name }} Diff Graph
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ url_for(".index") }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{ url_for(".course", cid=backup.assignment.course.id) }}">
            <i class="fa fa-university"></i> {{ backup.assignment.course.offering }}
        </a></li>
        <li><a href="{{ url_for('.course_assignments', cid=backup.assignment.course.id) }}">
          <i class="fa fa-list"></i> Assignments</a>
        </li>
        <li class="active"><a href="{{ url_for('.assignment', cid=backup.assignment.course.id, aid=backup.assignment.id) }}"><i class="fa fa-book"></i> {{ backup.assignment.display_name }}</a></li>
    </ol>
</section>

<section class="content">
    {% include 'alerts.html' %}

    <!-- Default box -->
    <!-- Content Box -->
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Submitter Information</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body" class="spoiler">
                    {% if group %}
                        <br>
                        Group:
                        {% for member in group %}
                            <a href="{{ url_for('.student_assignment_detail', cid=backup.assignment.course.id, email=member.email, aid=backup.assignment.id) }}">
                               {{ member.email }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <!-- /.box -->
            <div class="box collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Scores ({{ scores | length }}) </h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding" class="spoiler" style="display: none;">
                    <ul class="nav nav-pills nav-stacked" >
                        {% if not scores %}
                        <li><a href="#"><b> No Scores </b> <span class="pull-right text-red">Ungraded</span></a></li>
                        {% else %}
                        {% for score in scores %}
                            <li><a href="#"><b>{{ score.kind }}</b>: "{{ score.message | truncate(20) }}" from {{ score.grader.email }}
                                <span class="pull-right text-{{ 'green' if score.public else 'red' }}">{{ score.score | round(3) }} </span>
                                </a>
                            </li>
                        {% endfor %}
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.widget-user -->
        </div>

        <div class="box-body">
            <div class="row">
                <div class="col-lg-12">
                    {{ graph.render() | safe }}
                </div>
            </div>
        </div>

        <!-- </section> do not close the content section -->

        <!-- </body> do not close body in template-->
        {% endblock %}

