{% extends "staff/base.html" %}
{% import 'staff/_formhelpers.html' as forms with context %}
{% import 'staff/_helpers.html' as helpers %}

{% block title %} {{ assignment.display_name }} Timeline {% endblock %}

{% block main %}
  <section class="content-header">
      <h1>
        {{ student.identifier }}'s {{ assignment.display_name }} Timeline
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ url_for("admin.course", cid=current_course.id) }}">
            <i class="fa fa-university"></i> {{ current_course.offering }}
        </a></li>
        <li><a href="{{ url_for('.enrollment', cid=current_course.id) }}">
          <i class="fa fa-list"></i> Enrollment</a>
        </li>
        <li> <a href="{{ url_for('.student_view', cid=current_course.id, email=student.email) }}"><i class="fa fa-user"></i> {{ student.identifier }} </a></li>
        <li> <a href="{{ url_for('.assignment', cid=current_course.id, aid=assignment.id) }}"><i class="fa fa-book"></i> {{ assignment.display_name }} </a></li>
        <li class="active"><a href="#"><i class="fa fa-inbox"></i> Timeline </a></li>
      </ol>
  </section>

  <section class="content">
    {% include 'alerts.html' %}
      <div class="row">
          {% for submitter in submitters | sort %}
          <div class="col-md-5">
            <!-- Default box -->
                  <ul class="timeline">
                      <!-- timeline time label -->
                      <li class="time-label">
                          <a href="{{ url_for('.student_view', cid=current_course.id, email=student.email) }}">
                              <span class="bg-red">
                                  {{ submitter }} ( {{ submitters[submitter] }} backups)
                              </span>
                          </a>
                      </li>
                      <!-- /.timeline-label -->
                      {% for event in timeline %}
                      <!-- timeline item -->
                      <li class="{% if event['backup'].submitter.email == submitter %}invisible{% endif %}" >
                          {% if event['event'] == "Later" %}
                            <i class="fa fa-ellipsis-h"></i>
                          {% elif event['event'] == "Started" %}
                            <i class="fa fa-hourglass-start bg-blue"></i>
                          {% elif event['event'] == "Solved" %}
                            <i class="fa fa-check-circle bg-green"></i>
                          {% elif event['event'] == "Switched" %}
                            <i class="fa fa-random bg-green"></i>
                          {% elif event['event'] == "Unlock" %}
                            <i class="fa fa-unlock bg-green"></i>
                          {% else %}
                            <i class="fa fa-info bg-blue"></i>
                          {% endif %}
                          <!-- timeline icon -->
                          {% if event['event'] == "Later" %}
                          <div class="timeline-later">
                              <p>{{ event['title'] }}</p>
                          </div>
                          {% else %}
                          <div class="timeline-item ">
                              <span class="time"><i class="fa fa-clock-o"></i> {{utils.local_time(event['backup'].created, current_course) }}</span>
                              <h3 class="timeline-header"><a href="#"> {{ event['title'] }} </a> </h3>

                              {% if event['body'] %}
                              <div class="timeline-body">
                                 <p>{{ event['body'] }}</p>
                              </div>
                              {% endif %}
                              <div class="timeline-footer">
                                  <a class="btn btn-primary btn-xs" href="{{ url_for('.grading', bid=event['backup'].id) }}"> Code </a>
                                  <span class="pull-right"> Attempt {{ event['attempt'] }} </span>
                              </div>
                          </div>
                          {% endif %}
                      </li>
                      <!-- END timeline item -->
                      {% endfor %}
                      <li>
                          <i class="fa fa-clock-o bg-gray"></i>
                      </li>
                  </ul>
          </div>
          {% endfor %}
        </div>
</section>
  <!-- </body> do not close body in template-->
{% endblock %}
