{% extends "staff/base.html" %}
{% import 'staff/_formhelpers.html' as forms with context %}
{% import 'staff/_helpers.html' as helpers %}

{% block title %} {{ assignment.display_name }} Timeline {% endblock %}

{% block main %}
  <section class="content-header">
      <h1>
        {{ student.identifier }}'s {{ assignment.display_name }} Timeline
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ url_for("admin.course", cid=current_course.id) }}">
            <i class="fa fa-university"></i> {{ current_course.offering }}
        </a></li>
        <li><a href="{{ url_for('.course_assignments', cid=current_course.id) }}">
          <i class="fa fa-list"></i> Assignments</a>
        </li>
        <li> <a href="{{ url_for('.assignment', cid=current_course.id, aid=assignment.id) }}"><i class="fa fa-book"></i> {{ assignment.display_name }} </a></li>
        <li> <a href="{{ url_for('.student_view', cid=current_course.id, email=student.email) }}"><i class="fa fa-user"></i> {{ student.identifier }} </a></li>
        <li class="active"><a href="#"><i class="fa fa-inbox"></i> History </a></li>
      </ol>
  </section>

  <section class="content">
    {% include 'alerts.html' %}

      <div class="row">
          <div class="col-sm-6">
            <!-- Default box -->
                  <ul class="timeline">

                      <!-- timeline time label -->
                      <li class="time-label">
                          <span class="bg-red">
                              History
                          </span>
                      </li>
                      <!-- /.timeline-label -->
                      {% for event in timeline %}
                      <!-- timeline item -->
                      <li>
                          {% if event['event'] == "later" %}
                            <i class="fa fa-ellipis-h bg-gray"></i>
                          {% elif event['event'] == "Started" %}
                            <i class="fa fa-hourglass-start bg-blue"></i>
                          {% elif event['event'] == "Solved" %}
                            <i class="fa fa-check-circle bg-green"></i>
                          {% else %}
                            <i class="fa fa-info bg-blue"></i>
                          {% endif %}
                          <!-- timeline icon -->
                          <div class="timeline-item">
                              <span class="time"><i class="fa fa-clock-o"></i> {{utils.local_time(event['backup'].created, current_course) }}</span>

                              <h3 class="timeline-header"><a href="#"> {{ event['title'] }} {{ event['event']}}</a> </h3>

                              {% if event['body'] %}
                              <div class="timeline-body">
                                 {{ event['body'] }}
                              </div>
                              {% endif %}

                              <div class="timeline-footer">
                                  <a class="btn btn-primary btn-xs" href="{{ url_for('.grading', bid=event['backup'].id) }}"> View Code </a>
                                  <span class="pull-right"> {{ event['backup'].submitter.email }} </span>
                              </div>
                          </div>
                      </li>
                      <!-- END timeline item -->
                      {% endfor %}
                      <li>
                          <i class="fa fa-clock-o bg-gray"></i>
                      </li>
                  </ul>

          </div>
        </div>

</section>
  <!-- </body> do not close body in template-->
{% endblock %}
