{% extends "staff/base.html" %}
{% import 'diff.html' as diff with context %}
{% import 'staff/_formhelpers.html' as forms %}

{% block title %} OK | Grade {% endblock %}

{% block main %}
<section class="content-header">
    <h1>
        {{ backup.assignment.display_name }} Diff Overview
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ url_for(".index") }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{ url_for(".course", cid=backup.assignment.course.id) }}">
            <i class="fa fa-university"></i> {{ backup.assignment.course.offering }}
        </a></li>
        <li><a href="{{ url_for('.course_assignments', cid=backup.assignment.course.id) }}">
          <i class="fa fa-list"></i> Assignments</a>
        </li>
        <li class="active"><a href="{{ url_for('.assignment', cid=backup.assignment.course.id, aid=backup.assignment.id) }}"><i class="fa fa-book"></i> {{ backup.assignment.display_name }}</a></li>
    </ol>
</section>

<section class="content">
    {% include 'alerts.html' %}

    <!-- Default box -->
    <!-- Content Box -->
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Submitter Information</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body" class="spoiler">
                    {% if group %}
                        <br>
                        Group:
                        {% for member in group %}
                            <a href="{{ url_for('.student_assignment_detail', cid=backup.assignment.course.id, email=member.email, aid=backup.assignment.id) }}">
                               {{ member.email }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <!-- /.box -->
            <div class="box collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Scores ({{ scores | length }}) </h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding" class="spoiler" style="display: none;">
                    <ul class="nav nav-pills nav-stacked" >
                        {% if not scores %}
                        <li><a href="#"><b> No Scores </b> <span class="pull-right text-red">Ungraded</span></a></li>
                        {% else %}
                        {% for score in scores %}
                            <li><a href="#"><b>{{ score.kind }}</b>: "{{ score.message | truncate(20) }}" from {{ score.grader.email }}
                                <span class="pull-right text-{{ 'green' if score.public else 'red' }}">{{ score.score | round(3) }} </span>
                                </a>
                            </li>
                        {% endfor %}
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

            <!-- /.widget-user -->


        </div>

        <ul class="pager">
          <li class="previous" onclick="scroll_left()">
            <a href="#">Previous</a>
          </li>
          <li class="next" onclick="scroll_right()">
            <a href="#">Next</a>
          </li>
        </ul>

        <div class="box">
            <div class="box-body">
                {% for files in files_list %}
                    <div class="subcontent list diff-delta">
                        <div class="wrap">
                            {% for filename, lines in files | dictsort %}
                            {{ diff.source_file(backup, filename, lines) }}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% for stats in stats_list %}
            {{stats_box(stats)}}
        {% endfor %}

        <!-- /.box -->

        <script type="text/template" id="editor-template">
            {{ diff.editor_template() }}
        </script>

        <!-- /.box -->
        <!-- </section> do not close the content section -->

        <!-- </body> do not close body in template-->
        {% endblock %}

{% macro stats_box(stat) %}
    <div class="row diff-delta-box">
        <div class="col-md-12 col-xs-1">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border text-center">
                    <h1 class="box-title">Diff Information</h1>
                    <p> submitted email = {{stat.submitter}} </p>
                    <p> commit id = {{stat.commit_id}} </p>
                    <p> question = {{stat.question}} </p>
                    <p> time = {{stat.time}} </p>
                    <p> passed = {{stat.passed}} </p>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}


{% block page_js %}
<script type="text/javascript">
    // show only diff 1
    $('.diff-delta').hide()
    $('.diff-delta-box').hide()
    var backup_number = {{start_index}};
    var backup_total = $('.diff-delta').length;
    $('.diff-delta').eq(backup_number).show()
    $('.diff-delta-box').eq(backup_number).show()

    // create buttons
    $(document).ready(function(){
        $('#prev').click(function(){
            scroll_left()
        });
        $('#next').click(function(){
            scroll_right()
        });
    });

    // bind arrow keys
    $(document).keydown(function(e) {
    switch(e.which) {
        case 37: // left
        scroll_left()
        break;

        case 39: // right
        scroll_right()
        break;

        default: return; // exit this handler for other keys
    }
    e.preventDefault(); // prevent the default action (scroll / move caret)
});

    function scroll_left() {
        if (backup_number > 0) {
            // showValue(backup_number - 1);
            $('.diff-delta').eq(backup_number).hide();
            $('.diff-delta-box').eq(backup_number).hide();
            backup_number = backup_number - 1;
            $('.diff-delta').eq(backup_number).show();
            $('.diff-delta-box').eq(backup_number).show();
        }
        else {
           url = "{{url_for('.student_commit_overview', email = backup.submitter.email, cid=backup.assignment.course.id, aid=backup.assignment.id, commit_id = prev_commit_id)}}"
           window.location.assign(url);
        }
    }

    function scroll_right() {
        if (backup_number < backup_total - 1) {
            // showValue(backup_number + 1);
            $('.diff-delta').eq(backup_number).hide();
            $('.diff-delta-box').eq(backup_number).hide();
            backup_number = backup_number + 1;
            $('.diff-delta').eq(backup_number).show();
            $('.diff-delta-box').eq(backup_number).show();
        }
        else {
            url = "{{url_for('.student_commit_overview', email = backup.submitter.email, cid=backup.assignment.course.id, aid=backup.assignment.id, commit_id = next_commit_id)}}"
            window.location.assign(url);
        }
    }

</script>
{% endblock %}
