<h2>Assignments</h2>
<div cg-busy="assignments">
  <div class="center-block" ng-if="assignments.length == 0">
    <h3>No assignments found...</h3>
  </div>
  <table ng-if="assignments.length > 0" class="table table-striped table-bordered table-responsive">
    <tr>
      <th>Name</th>
      <th>Points</th>
    </tr>
    <tr ng-repeat="assignment in assignments">
      <td>
        <a ui-sref='assignment.detail({assignmentId:assignment.id})'>
          {{assignment.name}}
        </a>
      </td>
      <td>{{assignment.points}}</td>
    </tr>
  </table>
</div>
