<div class="box" ng-controller="AssignmentListCtrl" >
<div class="box-header">
  <h3 class="box-title" ng-if="assignments.$resolved && assignments.length == 0" >No Assignments</h3>
  <h3 class="box-title" ng-if="assignments.length > 0">Assignments</h3>
</div><!-- /.box-header -->

<div class="box-body no-padding table-responsive">
  <table ts-wrapper ng-if="assignments.length > 0" class="table table-responsive table-striped table-bordered">
  <tbody>
  <tr>
    <th ts-criteria="display_name">Name</th>
    <th ts-criteria="due_date" ts-default>Due Date</th>
    <!-- Future Progress Bar --> 
    <th ts-criteria="points | parseFloat">Possible Points</th>
    <th style="width: 15%">Label</th>
    <th ts-criteria="finalsub" >Final Submission</th>
  </tr>

    <tr ng-repeat="assignment in assignments" ts-repeat>
      <td>
        <a ui-sref='assignment.detail({assignmentId:assignment.id})'>{{assignment.display_name}} </a> 
      </td>
      <td>
        {{assignment.due_date | amCalendar}}
      </td>
      <td>{{assignment.points}}</td>

      <td>
        <span class="badge bg-info">{{assignment.display_name}}</span>
      </td>
      <td>
          <div ng-show="assignment.finalsub != undefined">
              <a ui-sref='submission.diff({submissionId:assignment.finalsub})' type="button" class="btn btn-flat btn-block btn-info bg-green">View Submission</a>
          </div>           
          <span class="badge bg-yellow" ng-show="assignment.finalsub == undefined" > No Final Submission Found </span> 
       </td>

        <!-- Future Progress Bar -->                                         
        </tr>
      </tbody>
    </table>
  </div><!-- /.box-body -->
</div><!-- /.box -->


