<div class='file'>
  <div class='meta'>
    <div class='info'>
      {{file_name}}
    </div>
  </div>
  <div class='snippet-wrapper'>
    <table class='snippet'>
      <tbody>
      <tr ng-controller="CodeLineController" ng-repeat='codeline in contents track by $index' class="foo">
        <td ng-click="scroll()" id="{{anchorId}}" class='diff-line-num diff-line-num-left'>{{lineNum}}</td>
        <td class='diff-line-code diff-line-code-empty'>{{codeline}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
