<div cg-busy="submissions">
  <div class="center-block">
    <h2>{{submission.assignment.display_name }} Submission: {{submission.created | amCalendar}} </h2>
       <p>Submitted by: {{submission.submitter.email}}</p>


      <span class="badge bg-info">{{submission.assignment.display_name}}</span>
      <span class="badge bg-green" ng-if="submission.messages.file_contents.submit">Marked As Submit</span>

      <a ui-sref='submission.diff({submissionId:submission.id})'>
        <span class="badge bg-yellow"> View Diff</span>
      </a>
      <a href='/api/v1/submission/{{submission.id}}/download'>
        <span class="badge bg-blue"> Download this Submission</span>
      </a>
      <div ng-repeat='tag in submission.tags'>
          <span class="badge bg-info">{{tag}}</span>
      </div>
  </div>

  </div>

  <div ng-repeat="(file_name, contents) in submission.messages.file_contents">
    <snippet/>
  </div>

</div>
