<div>
  <div class="center-block">
    <h2>{{submission.assignment.display_name }} Submission: {{ submission.created | amCalendar}} </h2>
       <p>Submitted by: {{submission.submitter.id}}</p>


       <span class="badge bg-info">{{submission.assignment.display_name}}</span>
       <span class="badge bg-green" ng-if="submission.messages.file_contents.submit">Marked As Submit</span>

       <a ui-sref='submission.detail({submissionId:submission.id})'>
        <span class="badge bg-yellow"> View Plain</span>
       </a>
       <a href='/api/v1/submission/{{submission.id}}/download'>
        <span class="badge bg-blue"> Download this Submission</span>
       </a>

      <div ng-repeat='tag in submission.tags'>
        <span class="badge bg-info">{{tag}}</span>
      </div>

  </div>

  <div class="box box-primary" ng-if="submission.compScore != null">
	    <div class="box-header">
	        <h3 class="box-title">Score</h3>
	    </div>
	    <!-- /.box-header -->
	    <div class="box-body">
	    	<div class="callout callout-info">
                <h4>Composition: {{submission.compScore.score}} </h4>
                <p>{{submission.compScore.message}}</p>
            </div>
            <p>Scroll down to see comments</p>
    	</div>
    	<!-- /.box-body -->
	</div>

  <div ng-repeat="(file_name, contents) in diff.diff">
    <diff/>
  </div>
</div>
