<div cg-busy="submissions">
  <div class="center-block">
    <h2>Submission: {{submission.created | amCalendar}} </h2>
  </div>
  <h2>
    Tags
  </h2>
  <div class="row">
    <div class="col-sm-12">
        <div class="btn-group">
        
          <button ng-if="submission.tags.length > 0"ng-repeat="tag in submission.tags" ng-controller="TagCtrl" class="btn btn-flat btn-default">
            {{tag}}
            <a class="btn-red" style="color: #f56954;" ng-click="remove()">
              <i class="fa fa-times-circle-o"></i>
            </a>
          </button>
          <button class="btn btn-flat btn-primary" ng-hide="showInput && submission.tags.length > 0" ng-click="toggle(); tagToAdd = ''"><span class="glyphicon glyphicon-plus-sign"></span></button>

        <div class="input-group input-group-md" ng-show="showInput || submission.tags.length == 0" style="max-width: 400px;">
            <input id="typeaheadField" typeahead="tag['text'] for tag in validTags | filter:$viewValue | limitTo:5"  type="text" class="form-control" ng-model="tagToAdd" placeholder="Valid Tags are: Submit, Bugs, Comments"> </input>
            <span class="input-group-btn">
                <button class="btn btn-info btn-flat" ng-disabled="$" ng-click="add()" type="button">Add Tag</button>
            </span>
      </div>

      </div>
    </div>
  </div>

  <div ng-repeat="(file_name, contents) in submission.messages.file_contents">
    <snippet/>
  </div>

</div>
