{% extends "base.html" %}

{% block css %}
  {% assets "student_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {% endassets %}

  {% block page_css %}
  {% endblock %}

{% endblock %}

{% block js %}
  {% assets "student_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% if debug %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tota11y/0.1.5/tota11y.min.js"></script>
  {% endif %}

  {% if instantclick %}
    <script data-no-instant>InstantClick.init(50);</script>
  {% endif %}

  {% block page_js %}
  {% endblock %}

{% endblock %}
