        <header role="banner">
          <div class="header-bg">
            <div class="left hidden-md hidden-lg mobile-header-left">
                <div class="header-text user-profile">
                  <span class="user-name"> {{ current_user.identifier | default(current_user.email, True) }}</span>
                </div>
            </div>

            <div class="right col-md-5">
                <form method="POST" action="{{ url_for('auth.logout' )}}" role="form" class="pull-right">
                    <div style="display:none;"><input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}"></div>
                      <button id="logout" class="plain-btn" type="submit">
                             <a class="header-text"><span>Logout</span></a>
                      </button>
                </form>

                <div class="header-text user-profile hidden-sm hidden-xs">
                  <span class="user-name"> {{ current_user.identifier | default(current_user.email, True) }}</span>
                  <i class="fa fa-user"></i>
                </div>
            </div>
          </div>
        </header>
