{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.6/css/AdminLTE.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.6/css/skins/skin-black-light.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
  {% assets "staff_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {% endassets %}
{% endblock %}

{% block js %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.6/js/app.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
  {% assets "staff_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% block page_js %}
  {% endblock %}

{% endblock %}

{% block body %}
      <div class="wrapper skin-black-light layout-fixed">
        <header class="main-header">
          <!-- Logo -->
          <a href="{{ url_for('admin.index') }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>ok</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>ok</b></span>
          </a>
          <!-- Header Navbar: style can be found in header.less -->
          <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
              <span class="sr-only">Toggle navigation</span>
            </a>

          </nav>
        </header>

        {% include 'staff/sidebar.html' %}

      <div class="content-wrapper disable-animations">
        {% block main %}
        {% endblock %}
      </div>

      <footer class="main-footer">
          <strong> {{ current_user.email }}  </strong>
          <div class="pull-right hidden-xs">
            <b>Ok Server v3</b> <a href="http://github.com/Cal-CS-61A-Staff">Documentation</a>
          </div>
        </footer>
      </div>
{% endblock %}
