<aside class="main-sidebar">
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">Home</li>
        <li {% if request.endpoint == "admin.index" %} class="active" {% endif %} >
          <a href="{{ url_for('.index') }}">
            <i class="fa fa-home"></i> <span>Dashboard</span> </i>
          </a>
        </li>
        <li {% if request.endpoint == "admin.grading" %} class="active" {% endif %} >
          <a href="{{ url_for('.grading_tasks') }}">
            <i class="fa fa-inbox"></i> <span>Grading</span> </i>
            <span class="label label-primary pull-right"> {{ current_user.num_grading_tasks() }}</span>
          </a>
        </li>

        <li class="header">Courses</li>
          {% with courses_list=courses %}
            {% include 'staff/sidebar.course.html' %}
          {% endwith %}


          {% if current_user.is_admin %}
            <li><a href="{{ url_for('.create_course') }}"><i class="fa fa-plus"></i> Create Course </a></li>
          {% endif %}

        </li>

        <li class="header">Ok Information</li>
        <li><a href="{{ url_for('.client_version', name='ok-client') }}">
            <i class="fa fa-desktop"></i> <span>ok-client Version</span></a>
        </li>
        <li><a href="{{ url_for('.clients',) }}">
            <i class="fa fa-desktop"></i> <span>OAuth Clients</span></a>
        </li>
        <li><a href="https://okpy.github.io/documentation/">
            <i class="fa fa-book"></i> <span>Documentation</span></a>
        </li>
        <li><a href="{{ url_for('student.index' )}}">
            <i class="fa fa-graduation-cap"></i> <span>Student Dashboard</span></a>
        </li>
        <li class="header">Account</li>


        <li><a>
            <i class="fa fa-sign-out"></i>
            <form method="POST" action="{{ url_for('auth.logout' )}}" role="form" class="inline">
                <div style="display:none;"><input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}"></div>
                  <button class="plain-btn" type="submit">
                    <span>Logout</span>
                  </button>
            </form>
        </a>
        </li>

        {% if current_user.is_admin %}
        <!-- Admin Links -->
        <li class="header">Admin</li>
        <li><a href="https://console.cloud.google.com/home/dashboard?project=ok-server">
            <i class="fa fa-server"></i> <span>GCE Console</span></a>
        </li>
        <li><a href="/rq">
            <i class="fa fa-database"></i> <span>Redis Queue</span></a>
        </li>
        {% endif %}
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
