{% import 'staff/_helpers.html' as helpers %}

<div class="box">
    <div class="box-header">
        <h3 class="box-title"><span>Moss Results</span></h3>
        <div class="box-tools">
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding table-loading" id="moss-list">
        <table class="table table-hover">
            <thead>
                {% if show_assignment %}
                <th class="sort" data-sort="assignment">Assignment</th>
                {% endif %}
                <th class="sort" data-sort="submission">Student's Submission</th>
                <th class="sort" data-sort="similarity">Similarity</th>
                <th class="sort" data-sort="student">Similar Student</th>
                <th class="sort" data-sort="otherSubmission">Similar Submission</th>
                <th class="sort" data-sort="created">Created</th>
            </thead>

            <tbody class="list">
                {%- for item in moss_results %}
                {% if item['submissionA']['submitter_id'] == student.id %}
                <tr>
                    {% if show_assignment %}
                    <td class="assignment">
                        <a href="{{url_for('.student_assignment_detail', cid=current_course.id, email=student.email, aid=item['submissionA']['assignment_id'])}}">{{ item['submissionA']['assignment']['display_name'] }}
                        </a>
                    </td>
                    {% endif %}
                    <td class="submission">
                      {{ helpers.backup_link(item['submissionA']['id']) }}
                    </td>
                    <td class="similarity" data-similarity="{{item['similarityA']}}">
                    <a href="#">
                        {{ item['similarityA'] }}%
                    </a>
                    </td>
                    <td class="student" data-email="{{item['submissionB']['submitter']['email']}}"
                    data-name="{{item['submissionB']['submitter']['name']}}">
                    <a href="{{ url_for('.student_view', cid=current_course.id, email=item['submissionB']['submitter']['email'])}}">
                        {{ item['submissionB']['submitter']['email'] }}
                    </a>
                    <td class="otherSubmission">
                      {{ helpers.backup_link(item['submissionB']['id']) }}
                    </td>
                    <td class="created" data-similarity-b="{{item['created']}}">
                        {{ item['created'] }}
                    </td>
                </tr>
                {% else %}
                <tr>
                    {% if show_assignment %}
                    <td class="assignment">
                        <a href="{{url_for('.student_assignment_detail', cid=current_course.id, email=student.email, aid=item['submissionB']['assignment_id'])}}">{{ item['submissionB']['assignment']['display_name'] }}
                        </a>
                    </td>
                    {% endif %}
                    <td class="submission">
                      {{ helpers.backup_link(item['submissionB']['id']) }}
                    </td>
                    <td class="similarity" data-similarity="{{item['similarityB']}}">
                    <a href="#">
                        {{ item['similarityB'] }}%
                    </a>
                    </td>
                    <td class="student" data-email="{{item['submissionA']['submitter']['email']}}"
                    data-name="{{item['submissionA']['submitter']['name']}}">
                    <a href="{{ url_for('.student_view', cid=current_course.id, email=item['submissionA']['submitter']['email'])}}">
                        {{ item['submissionA']['submitter']['email'] }}
                    </a>
                    <td class="otherSubmission">
                      {{ helpers.backup_link(item['submissionA']['id']) }}
                    </td>
                    <td class="created" data-similarity-b="{{item['created']}}">
                        {{ item['created'] }}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <div class="pull-left">
        <h5 class="box-title"><span> Total: {{ moss_results | length }} </span></h5>
        </div>
    </div>

</div>
