{% extends "staff/base.html" %}
{% import 'diff.html' as diff with context %}
{% import 'staff/_formhelpers.html' as forms %}
{% import '_globalhelpers.html' as globals %}

{% block main %}
<section class="content-header">
    <h1>
        MOSS Diff Result
        <small> {{ data['Primary']['backups'].assignment.display_name }} {{ "Submission" if data['Primary']['backups'].is_submit else "Backup" }} </small>
    </h1>
</section>

<section class="content">
    {% include 'alerts.html' %}

      <div class="row">
        <div class="col-xs-12">
            <div class="box collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title"> MOSS Result Similarity:
                    {% if moss_result.similarity > 95 %} 
                        <b style="color:red"> {{moss_result.similarity}}%</b> 
                    {% elif moss_result.similarity > 90 %}
                        <b style="color:darkorange"> {{moss_result.similarity}}%</b>
                    {% elif moss_result.similarity > 80 %}
                        <b style="color:orange"> {{moss_result.similarity}}%</b>
                    {% else %}
                        {{moss_result.similarity}}%
                    {% endif %}
                    </h3>
                    <div class="box-tools pull-right">
                        <button id="expand-submission-information" type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                    <div class="box-body" class="spoiler" style="display: none;">
                    <li class="list-group-item">
                          <b>MOSS Run ID: </b>
                          {{ moss_result.id }}
                    </li>
                    <li class="list-group-item">
                          <b>MOSS Run Time: </b>
                          {{ moss_result.run_time }}
                    </li>
                    <!-- /.box-tools -->
                </div>
                </div>
                <!-- /.box-header -->
                {% for sub in data %}
                <div class="diff-column col-xs-6">
                    <div class="box" class="spoiler" style="display: block;">
                      <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                          <b>{{sub}} Submitter: </b>
                          <a href="{{ url_for('.student_assignment_detail', cid=data[sub]['backups'].assignment.course.id, email=data[sub]['backups'].submitter.email, aid=data[sub]['backups'].assignment.id) }}">
                            {{ data[sub]['backups'].submitter.email }}
                          </a>
                        </li>
                        <li class="list-group-item">
                        {% if data[sub]['group'] | length > 1 %}
                          <b>{{sub}} Group: </b>
                          {% for member in data[sub]['group'] %}
                            <a href="{{ url_for('.student_assignment_detail', cid=data[sub]['backups'].assignment.course.id, email=member, aid=data[sub]['backups'].assignment.id) }}">
                               {{member}}
                            </a>
                          {% endfor %}
                        {% else %}
                          <p><b>{{sub}} Group:</b> No Group</p>
                        {% endif %}
                        </li>
                      {% if data[sub]['backups'].creator %}
                        <li class="list-group-item">
                          <b>Creator: </b>
                          {{ data[sub]['backups'].creator.email }}
                        </li>
                      {% endif %}
                        <li class="list-group-item">
                          <b>Creation Time: </b>
                          {{ utils.local_time(data[sub]['backups'].created, data[sub]['backups'].assignment.course) }}
                        </li>
                      {% if data[sub]['backups'].custom_submission_time %}
                        <li class="list-group-item">
                          <b>Custom Submission Time: </b>
                          {{ utils.local_time(data[sub]['backups'].custom_submission_time, data[sub]['backups'].assignment.course) }}
                        </li>
                      {% endif %}
                        <li class="list-group-item">
                          <b>Student URL: </b>
                          {% with student_url = url_for('student.code', name=data[sub]['backups'].assignment.name, bid=data[sub]['backups'].id, submit=data[sub]['backups'].submit, _external=True) %}
                          <a href="{{ student_url }}"> {{ student_url }} </a>
                          {% endwith %}
                        </li>
                        <li class="list-group-item">
                          <b> Number of Backups: </b>
                          {{ data[sub]['total_backups']}}
                        </li>
                    </div>
              <div class="box collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title"> {{data[sub]['group'] | length}} 
                      {% if data[sub]['group'] | length > 1 %} {{sub}} Diff Timelines 
                      {% else %} {{sub}} Diff Timeline
                      {% endif %}
                    </h3>
                    <div class="box-tools pull-right">
                        <button id="expand-submission-information" type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                    <div class="box-body" class="spoiler" style="display: none;">
                    <div class="box-body">
                    <div class="graph">
                    {% for graph in data[sub]['graph'] %}
                        <div class="col-xs-8 centered">
                            {{ graph.render() | safe }}
                        </div>
                    {% endfor %}
                    </div>
                    </div>
                    <!-- /.box-tools -->
                </div>
                </div>
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="subcontent list">
                        <div class="wrap">
                            {{ diff.render_files(data[sub]['backups'], data[sub]['file_hlt'], moss_diff=True) }}
                        </div>
                    </div>
                </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endblock %}

{% block page_css %}
  {{ css_asset("code_css") }}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css">
  <style>
  .diff-column {
    padding-left: 0;
    padding-right: 0;
  }
  .diff-column + .diff-column {
    border-left: 4px solid #ecf0f5;
  }
  .list-group {
    padding-left: 10px;
    padding-right: 10px;
  }
  .line-number + .line-number {
    display: none;
  }
  td.line-number{
    padding-left: 1px;
    padding-right: 1px;
    min-width: 0;
  }
  .subcontent {
    padding: 0px; 
  }
  .box-body {
    padding: 0px; 
  }
  .col-xs-8 {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;

  }
  .list-group-item:first-child {
    border: 0;
  }
  .list-group-item:last-child {
    border-bottom: 0;
  }
  </style> 
{% endblock %}

