{% extends "student/base.html" %}

{% block css %}
  {{ super() }}
  {% assets "landing_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {% endassets %}
{% endblock %}

{% block body %}
<div class="container">
  <header class="landing row">
    <div class="col-xs-6 col-sm-3">
      <a href="{{ url_for('student.index') }}">
        <img src="{{ url_for('static', filename='img/logo-tiny.svg') }}" class="logo select-none">
      </a>
    </div>
    <div class="col-xs-6 col-sm-3 right">
      <div>
      {% if current_user.is_authenticated %}
        <a data-no-instant href="{{ url_for('student.index')  }}" class="btn hidden-xs landing-btn btn-block pill">{{current_user.email}}</a>
      {% elif config['TESTING_LOGIN'] and config['ENV'] == 'dev' %}
        <a data-no-instant href="{{ url_for('auth.testing_login') }}" class="btn landing-btn btn-block pill">Login</a>
      {% else %}
        <a data-no-instant href="{{ url_for('auth.login') }}" class="btn landing-btn btn-block pill">Login</a>
      {% endif %}
      </div>
    </div>

  </header>
  {% block content %}
  {% endblock content %}
  {% include 'footer.html' %}
</div>
{% endblock %}
