{% extends "about/base.html" %}

{% block content %}
<div class="landing row">
  <div class="col-md-10 col-md-offset-1">
    {% include 'alerts.html' %}
    <h1 class="title">Automate Grading &amp; Personalize Feedback.</h1>

    <p class="subtitle">Ok autogrades programming assignments, facilitates submission, <br> composition feedback, and analytics for your class.</p>

    {% if config['TESTING_LOGIN'] and (config['ENV'] == 'dev' or config['ENV'] == 'test') %}
      <a href="{{ url_for('auth.testing_login') }}" id="testing-login" class="button">Testing Login</a>
    {% else %}
      <a href="{{ url_for('auth.login') }}" id="login" class="button">Student Login</a>
    {% endif %}
  </div>
</div>
{% endblock content %}
