{% extends "about/base.html" %}

{% block title %}OK Publications{% endblock %}

{% block content %}

<div class="landing row feature-block logo-section" style="padding-bottom: 1em">
    <h2>Publications using OK </h2>
    <p> Instructors often use their course data to research the effectiveness of assignments.
        <br> Here's are some of things instructors have published with the help of OK </p>
</div>

<div class="landing row feature-block">
    <div class="col-md-6 center">
        <h2>Course Delivery as a Software Problem</h2>
        <p>Talk: How the OK Software Suite has helped <a href="http://cs61a.org">CS 61A</a> scale to 1600 students in a single semester.</p>
        <span>John DeNero, EECS Colloqium Invited Talk - October 19, 2016 </span>
        <br> <br>
        <div class="btn-group">
            <a class="btn pill pill-button btn-rounded" target="_blank" href="https://www.youtube.com/watch?v=polTBnMXGQI">Video</a>
            <a class="btn pill pill-button btn-rounded" target="_blank" href="/static/pdf/talk.pdf">Slides</a>
        </div>
    </div>
    <div class="col-md-6" >
        <iframe height="300px" width="100%" src="https://www.youtube.com/embed/polTBnMXGQI" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<hr>

<div class="landing row feature-block">
    <div class="col-md-6" >
        <img class="img-responsive select-none" src="https://ocf.berkeley.edu/~sumukh/img/fuzz-testing.png">
    </div>
    <div class="col-md-6">
        <h2>Automated Test Generation</h2>
        <p>Fuzz-testing projects discovered errors in 50% of students that instructor created tests missed.</p>
        <span>Sumukh Sridhara, Brian Hou, Jeffrey Lu, and John DeNero <br> Fuzz Testing Projects in Massive Courses. In Proceedings of the Third (2016) ACM Conference on Learning @ Scale (L@S '16). </span>
        <br> <br/>
        <div class="btn-group">
            <a class="btn pill pill-button btn-rounded" href="http://denero.org/content/pubs/las16_sridhara_fuzz.pdf">Paper</a>
            <a class="btn pill pill-button btn-rounded" href="http://dl.acm.org/citation.cfm?id=2876050">ACM Link</a>
            <a class="btn pill pill-button btn-rounded" href="https://www.youtube.com/watch?v=9f4Dkmt2wxA">Video</a>
        </div>
    </div>
</div>
<hr>


<div class="landing row feature-block">
    <div class="col-md-6">
        <h2>Identifying Misunderstandings</h2>
        <p>A technique to identify conceptual misunderstandings from constructed response questions.</p>
        <span>Kristin Stephens-Marintez, An Ju, Colin Schoen, John DeNero, Armando Fox  <br>  Identifying Student Misunderstandings using Constructed Responses. Extended Abstract at Learning At Scale 2016. ACM L@S ’16 </span>
        <br> <br>
        <div class="btn-group">
            <a class="btn pill pill-button btn-rounded" href="https://people.eecs.berkeley.edu/~ksteph/papers/l_s_2016_misunderstandings.pdf">Paper</a>
            <a class="btn pill pill-button btn-rounded" href="http://dx.doi.org/10.1145/2876034.2893395">ACM Link</a>
            <a class="btn pill pill-button btn-rounded" href="https://people.eecs.berkeley.edu/~ksteph/l_s_2016_misunderstandings.html">Website</a>
        </div>
    </div>
    <div class="col-md-6" >
        <img class="img-responsive select-none" src="https://img.youtube.com/vi/rY4vrEdQKVg/maxresdefault.jpg">
    </div>
</div>
<hr>

<div class="landing row feature-block">
    <div class="col-md-6" >
        <img class="img-responsive select-none" src="https://i.imgur.com/EIdqu6k.png">
    </div>

    <div class="col-md-6">
        <h2>Hints from Similiar Submissions </h2>
        <p>Using program synthesis to create hints using past submissions from others. </p>
        <span>Rolim, R. et al. (2016) <br> Learning Syntactic Program Transformations from Examples.</span>
        <br> <br>
        <div class="btn-group">
            <a class="btn pill pill-button btn-rounded" href="https://arxiv.org/pdf/1608.09000">Paper</a>
            <a class="btn pill pill-button btn-rounded" href="https://arxiv.org/abs/1608.09000">arXiv Link</a>
        </div>
    </div>
</div>
<hr>

<div class="landing row feature-block">
    <div class="col-md-6">
        <h2>Feedback at Scale</h2>
        <p>Combining program synthesis and teacher feedback to give hints for incorrect programs.</p>
        <span>Andrew Head, Elena Glassman, Gustavo Soares, Ryo Suzuki, Lucas Figueredo, Loris D’Antonik, Bjorn Hartmann  <br>  Writing Reusable Code Feedback at Scale with Mixed-Initiative Program Synthesis. To appear at ACM L@S ’17 </span>
        <br> <br>
        <div class="btn-group">
            <a class="btn pill pill-button btn-rounded" href="http://eglassman.github.io/papers/glassmanLatS17.pdf">Paper</a>
        </div>
    </div>
    <div class="col-md-6 center" >
        <img class="img-responsive select-none" src="https://i.imgur.com/kGCH7Be.png">
    </div>
</div>

{% endblock content %}
