<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    {% include "icons.html" %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% assets "common_css" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% block css %}
    {% endblock %}
  </head>
  <body>

    {% block body %}
    {% endblock %}

    {% assets "common_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% if not debug %}
      <script type="text/javascript">Raven.config('https://60bdf8d6337a463b858a14b2221c080c@sentry.cs61a.org/3').install() </script>
    {% endif %}

    {% block js %}
    {% endblock %}

    <script type="text/javascript">
      var csrf_token = "{{ csrf_token() }}";
    </script>
  </body>
</html>
