{# Renders a line number. If i is None then no number is displayed. #}
{% macro line_number(i) %}
  <td class="line-number" data-line-number="{{ '' if i is none else i }}"></td>
{% endmacro %}

{% macro source_file(backup, filename, lines) %}
  <div class="source-file table-responsive">
    <table class="highlight">
      <thead>
        <tr>
          <th class="source-file-header" colspan=3>
              <div class="source-file-name">{{ filename }}</div>
              <a href="{{ url_for('.download', name=backup.assignment.name, submit=backup.submit, bid=backup.id, file=filename) }}"
              class="no-dash button-small source-file-download">
                  <i class="fa fa-download"></i> Download
              </a>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for line in lines %}
          <tr class="highlight-{{ line.tag }}">
            {% if line.is_diff %}
              {{ line_number(line.line_before) }}
            {% endif %}
            {{ line_number(line.line_after) }}
            <td class="highlight-source">{{ line.contents | safe }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endmacro %}
