{# Renders a line number. If i is None then no number is displayed. #}
{% macro line_number(i) %}
  <td class="line-number" data-line-number="{{ '' if i is none else i }}"></td>
{% endmacro %}

{% macro render_comment(comment) %}
  <div class="comment"
    id="{{ utils.encode_id(comment.id) }}"
    data-id="{{ utils.encode_id(comment.id) }}"
    data-message="{{ comment.message }}"
    data-no-instant>
    <div class="comment-header clearfix">
      <div class="comment-author">
        {{ comment.author.email }} commented {{ utils.natural_time(comment.created) }}
      </div>
      {% if comment.author == current_user or current_user.is_admin %}
      <div class="comment-actions">
        <button class="btn btn-link comment-action comment-edit"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-link comment-action comment-delete"><i class="fa fa-times"></i></button>
      </div>
      {% endif %}
    </div>
    <div class="comment-body markdown-body">{{ comment.message | markdown }}</div>
  </div>
{% endmacro %}

{% macro editor_template() %}
  <div class="comment comment-editor clearfix">
    <div class="comment-write">
      <textarea placeholder="Leave a comment" rows="8"></textarea>
    </div>
    <div class="comment-preview">
      <div class="comment-body markdown-body"></div>
    </div>
    <div class="comment-editor-actions">
      <button class="btn btn-default comment-cancel">Cancel</button>
      <button class="btn btn-primary comment-save">Save</button>
    </div>
  </div>
{% endmacro %}

{% macro render_files(backup, files) %}
    {% for filename, file in files | dictsort %}
        {% if file.lines %}
              {{ source_file(backup, filename, file) }}
        {% else %}
              {{ external_file(backup, filename, file) }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro render_source(file) %}
    {% for line in file.lines %}
      <tr class="fixed-width-font highlight-{{ line.tag }}" data-line={{ line.line_after }}>
        {% if line.is_diff %}
          {{ line_number(line.line_before) }}
        {% endif %}
        {{ line_number(line.line_after) }}
        <td>
          {% if line.line_after %}
            <span class="comment-add"><i class="fa fa-plus"></i></span>
          {% endif %}
          <span class="highlight-source">{{ line.contents | safe }}</span>
        </td>
      </tr>
      {% if line.comments %}
        <tr data-line={{ line.line_after }}>
          <td class="comment-container" colspan=3>
            {% for comment in line.comments %}
              {{ render_comment(comment) }}
            {% endfor %}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
{% endmacro %}

{% macro render_notebook(file) %}
<tr>
    <td>
        <div class="notebook-pad" id="{{ file.name }}-notebook" data-filename="{{ file.name }}"
             data-url="{{ url_for('student.download', name=backup.assignment.name, submit=backup.submit, bid=backup.id, file=filename, raw=1) }}">
        </div>
    </td>
</tr>
{% endmacro %}

{% macro external_file(backup, filename, file) %}
  <div class="source-file table-responsive"
    data-backup-id={{ utils.encode_id(backup.id) }}
    data-filename={{ filename }}>
    <table class="highlight">
      <thead>
        <tr>
          <th class="source-file-header" colspan=3>
              <div class="source-file-name fixed-width-font">{{ filename }}</div>
              <a data-no-instant href="{{ url_for('files.file_url', file_id=file.id, download=1) }}"
              class="no-dash dl-button source-file-download">
                  <i class="fa fa-download"></i> Download
              </a>
              <a data-no-instant href="{{ url_for('files.file_url', file_id=file.id, raw=1) }}"
              class="no-dash dl-button source-file-download">
                  <i class="fa fa-eye"></i> Raw
              </a>
          </th>
        </tr>
      </thead>
      <tbody>
        {% if file.mimetype.startswith('image') %}
        <tr>
            <td>
                <img class="source-inline-image" style="display: block; margin: 0 auto;" src="{{ url_for('files.file_url', file_id=file.id) }}">
            </td>
        </tr>
        {% else %}
        <tr>
          <th class="file-blob" colspan=3>
              <a data-no-instant href="{{ url_for('files.file_url', file_id=file.id) }}">
                Download File
              </a>
              <h6>This file could not be displayed</h6>
          </th>
        </tr>
        {% endif %}
    </tbody>
  </table>
</div>
{% endmacro %}


{% macro source_file(backup, filename, file) %}
  <div class="source-file table-responsive"
    data-backup-id={{ utils.encode_id(backup.id) }}
    data-filename={{ filename }}>
    <table class="highlight">
      <thead>
        <tr>
          <th class="source-file-header" colspan=3>
              <div class="source-file-name fixed-width-font">{{ filename }}</div>
              <a data-no-instant href="{{ url_for('student.download', name=backup.assignment.name, submit=backup.submit, bid=backup.id, file=filename) }}"
              class="no-dash dl-button source-file-download">
                  <i class="fa fa-download"></i> Download
              </a>
              <a data-no-instant href="{{ url_for('student.download', name=backup.assignment.name, submit=backup.submit, bid=backup.id, file=filename, raw=1) }}"
              class="no-dash dl-button source-file-download">
                  <i class="fa fa-eye"></i> Raw
              </a>
          </th>
        </tr>
        {% if file.too_big %}
        <tr>
          <th class="file-blob" colspan=3>
              <a data-no-instant href="{{ url_for('student.download', name=backup.assignment.name, submit=backup.submit, bid=backup.id, file=filename, raw=1) }}">
                View Raw File
              </a>
              <h6>This file is too large to display</h6>
          </th>
        </tr>
        {% endif %}
      </thead>
      <tbody>
      {% if file.extension == ".ipynb" %}
        {{ render_notebook(file) }}
      {% else %}
        {{ render_source(file) }}
      {% endif %}
    </tbody>
  </table>
</div>
{% endmacro %}
