    <div>
      <div class="col-lg-12">
        <hr>
        <div class="col-md-6 col-xs-12 footer-section">
          <a href="https://okpy.github.io/documentation"> Documentation</a> | <a href="https://github.com/Cal-CS-61A-Staff/ok"> GitHub Repo </a> | <a href="{{ url_for('about.privacy') }}">Privacy Policy</a>
        </div>
        <div class="col-md-6 col-xs-6 footer-section">
          <div class="pull-right">
            <p class="muted"> Are you an educator? <a href="mailto://cs61a@berkeley.edu?cc=denero@berkeley.edu&bcc=sumukh@berkeley.edu&subject=Using%20Ok">Contact us</a> to use OK in your course</p>
          </div>
        </div>
      </div>
    </div>
