{% cache 60*30, 'index' %}
<html>
  <head>
    <title>Ok | CS61A</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% assets "common_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% assets "student_css" %}
        <!-- third-party libraries -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300|Lato:300,400,700' rel='stylesheet' type='text/css'>
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% assets "landing_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
  </head>
  <body class="home">
    <header>
      <div class="left col-md-2">
        <img src="{{ url_for('static', filename='img/logo-tiny.svg') }}" class="logo">
      </div>
      <div class="right col-md-2">
        <div class="stripes">
          <div class="stripe"></div>
          <div class="stripe"></div>
          <div class="stripe"></div>
        </div>
        {% if config['TESTING_LOGIN'] and config['ENV'] == 'dev' %}
            <a href="{{ url_for('auth.testing_login') }}" class="btn pill">Login</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}" class="btn pill">Login</a>
        {% endif %}

      </div>
    </header>
    <div class="landing">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        {% include 'alerts.html' %}
        <h1 class="title">Automate grading. Personalize feedback.</h1>
        <p>Ok autogrades coding assignments and facilitates code submission, review, composition, and analytics for advanced diagnoses for your class.</p>

        {% if config['TESTING_LOGIN'] and config['ENV'] == 'dev' %}
            <a href="{{ url_for('auth.testing_login') }}" class="button">Testing Login</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}" class="button">Login with Google</a>
        {% endif %}

      </div>
    </div>
  </body>
  {% assets "common_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
</html>
{% endcache %}
