{% extends "base.html" %}

{% block title %}Login for Testing{% endblock %}

{% block body %}
    <div class="login-box">
        <div class="login-logo">
            Login for Testing
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Impersonate a random user</p>
            <form action="{{ callback }}" method="post">
                <input type="hidden" value="{{ random_user }}" class="form-control" name="email" placeholder="Email">
                <div class="row">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign in as {{random_user}}</button>
                </div>
            </form>
        </div>

        <div class="login-box-body">
            <p class="login-box-msg">Impersonate a specific user</p>
            <form action="{{ callback }}" method="post">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" name="email" placeholder="Email">
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
