{% extends "base.html" %}

{% block title %}Login for Testing{% endblock %}

{% block body %}
    <div class="login-box">
        <div class="login-logo">
            Login for Testing
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Impersonate a user</p>

            <form action="{{ callback }}" method="post">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" name="email" placeholder="Email">
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
