/* Source file and diff rendering */
.source-file {
  position: relative;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  border-color: rgb(221, 221, 221);
}

.source-file-header {
  background-color: rgb(247, 247, 247);
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-width: 0 0 1px 0;
}

.source-file-name {
  padding-top: 4px;
  float: left;
}

.source-file-download {
  float: right !important;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.file-blob {
  position: relative;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background-color: #f7f7f7;
}

table.highlight {
  background-color: #fff;
  border-collapse: separate;
  width: 100%;
}

table.highlight td {
  padding: 0 10px;
}

.line-number::before {
  content: attr(data-line-number);
}

.line-number {
  text-align: right;
  background-color: inherit;
  border: solid #eee;
  border-width: 0 1px 0 0;
  color: rgba(0, 0, 0, 0.3);
  width: 1%;
  vertical-align: top;
  min-width: 50px;
}

.highlight-source {
  color: inherit;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  display: block;
}

.highlight-header td {
  background-color: rgb(244, 247, 251);
  border-color: rgb(210, 223, 240);
  color: rgba(0, 0, 0, 0.3);
}

.highlight-insert td {
  background-color: rgb(219, 255, 219);
  border-color: rgb(193, 233, 193);
}

.highlight-delete td {
  background-color: rgb(255, 221, 221);
  border-color: rgb(241, 192, 192);
}

/* Comments */
.comment-add {
  position: relative;
  z-index: 5;
  float: left;
  width: 22px;
  height: 22px;
  margin: -2px -10px -2px -20px;
  line-height: 22px;
  color: #fff;
  text-align: center;
  text-indent: 0;
  cursor: pointer;
  background-color: #4078c0;
  background-image: -webkit-linear-gradient(#5386c6, #4078c0);
  background-image: linear-gradient(#5386c6, #4078c0);
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.15);
  opacity: 0;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  -webkit-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

tr:hover .comment-add {
  opacity: 1;
}

.comment-add:hover {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

table.highlight td.comment-container {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px;
  width: 100%;
}

table.highlight tr:last-child td.comment-container {
  border-bottom: none;
}

.comment-container {
  font-family: 'Lato';
  font-size: 13px;
}

.comment {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 10px;
  max-width: 780px;
}

.comment:last-child {
  margin-bottom: 0px;
}

.comment-header {
  color: #767676;
  background-color: #f7f7f7;
  border-bottom: 1px solid #eee;
}

.comment-author {
  float: left;
  margin: 10px 15px;
}

.comment-actions {
  float: right;
  height: 39px;
  padding: 6px;
}

.comment-action {
  height: 100%;
  padding: 3px;
  color: inherit;
  opacity: 0.5;
}

.comment-body {
  color: #333;
  font-size: 14px;
  line-height: 1.6;
  margin: 15px;
}

/* Editor */
.comment-editor .nav {
  padding: 6px 10px 0;
}

.comment-editor-disabled {
  opacity: 0.75;
}

.comment-editor-disabled .btn {
  cursor: default;
  pointer-events: none;
}

.comment-preview {
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
}

.comment-editor textarea {
  width: 100%;
  padding: 15px;
  resize: vertical;
  color: #333;
  background-color: #fafafa;
  border: none;
  border-bottom: 1px solid #eee;
  outline: none;
}

.comment-editor-actions {
  float: right;
  margin: 0 15px 15px 0;
}

/* Markdown */
.markdown-body > *:first-child {
  margin-top: 0 !important;
}

.markdown-body > *:last-child {
  margin-bottom: 0 !important;
}

.markdown-body ul, .markdown-body ol {
  padding-left: 2em;
}

.markdown-body p, .markdown-body blockquote,
.markdown-body ul, .markdown-body ol, .markdown-body dl,
.markdown-body table, .markdown-body pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body code, .markdown-body tt {
  font-size: 85%;
}

.markdown-body h1, .markdown-body h2, .markdown-body h3,
.markdown-body h4, .markdown-body h5, .markdown-body h6 {
  margin-top: 1em;
  margin-bottom: 16px;
  padding: 0;
  font-weight: bold;
  line-height: 1.4;
}

.markdown-body h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}

.markdown-body h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}

.markdown-body h3 {
  font-size: 1.5em;
  line-height: 1.43;
}

.markdown-body h4 {
  font-size: 1.25em;
}

.markdown-body h5 {
  font-size: 1em;
}

.markdown-body h6 {
  font-size: 1em;
  color: #777;
}

.dl-button {
    background-color: #eee;
    color: #6c6c6c;
    border-radius: 0.25em;
    display: inline-block;
    float: left;
    margin: -0.25em 0.25em;
    padding: 0.5em 0.75em;
    font-size: 0.9em;
}

.source-inline-image {
  max-height: 300px;
  display: block;
  margin: 0 auto;
  padding: 20px;
  max-height: 300px;
}