
.home header {
    width: 100%;
    padding: 1.5em 0em;
    position: relative;
}

.button {
  background: #468dc6;
}

header .landing-btn {
  line-height: 150%;
  font-size: 1.35em;
  font-weight: 300;
  color: #666;
}

.landing.gray {
  background-color: rgba(64, 64, 64, 0.05);
}
.landing h1, h2 {
  font-family:'Quicksand';
  letter-spacing:-0.1em;
}
.landing .subtitle {
  text-transform: uppercase;
  font-weight: bold;
}
.landing .center {
  margin-top: calc(10% - 72px);
}
.landing .quote {
  padding-top: 2em;
}
.landing .quote .quote-img {
  margin: auto;
  overflow: hidden;
  border-radius: 100%;
  width: 150px;
}

.footer {
  border-top: 1px solid #eee;
  padding: 2em 0;
  margin-bottom: 4em;
}

.container {
  margin-top: 0px;
}

.landing-btn:hover{
	background-color:#DDDDDD;
}

.landing-btn.round{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.landing-btn.pill{
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}

.privacy {
  text-align: left;
  padding-top: 0;
}
