
.block {
  display: block;
}

pre code  {
  font-family: Menlo,Monaco,Consolas,'Courier New',monospace !important;
}

.dashed {
  border-bottom: 1px dashed #999;
}

.no-dash {
  border-bottom: none !important;
}

.top-align {
  margin-top: -1em;
}

.inline {
  display: inline;
}

.hide-oveflow {
  overflow: hidden;
}

td.slim-cell {
  padding-top: 0em;
  padding-bottom: 0em;
}

.text-center {
  text-align: center;
}

.plain-btn {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.score-inline {
  margin-right: 5px;
}

/* Blank State from Code Pen */
.blank-state {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 3px 4px -3px rgba(102, 102, 102, 0.25);
  -webkit-box-shadow: 0 3px 4px -3px rgba(102, 102, 102, 0.25);
  box-shadow: 0 3px 4px -3px rgba(102, 102, 102, 0.25);
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 40px 20px;
  font-size: 100%;
  color: #737373;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #fefefe;
}
.blank-state h1, .blank-state p {
  font-weight: 300;
}
.blank-state p {
  margin-bottom: 15px;
}
.blank-state.blank-state-lg {
  padding: 90px 45px;
  font-size: 150%;
}
.blank-state.blank-state-sm {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 10px;
  font-size: 85%;
}

.loading-block {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  postion: relative;
  max-width: 300px;
  height: 3px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 168, 255, 0.15);
}

.loading-block .status-bar {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  postion: relative;
  width: 0;
  height: 3px;
  background-color: #00a8ff;
}

.blank-state-icon {
  max-width: 120px;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .blank-state.blank-state-lg {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px;
    font-size: 150%;
  }
}

.sort:hover {
  text-decoration: none;
}
.sort:focus {
  outline:none;
}
.sort:after {
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  content:"";
  position: relative;
  top:4px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000;
  content:"";
  position: relative;
  top:-4px;
  right:-5px;
}

.disable-animations {
  /* CSS transitions */
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
  /* CSS transforms */
  -o-transform: none !important;
  -moz-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  /* CSS animations */
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  animation: none !important;
}

.hide-overflow {
  overflow: hidden;
}

img.desaturate{
  -webkit-filter: grayscale(100%) contrast(50%);
  filter: gray;
  filter: grayscale(100%) contrast(50%);
}

.select-none {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
