
/* Main stylesheet */

/* @section forms */
.btn.cancel { margin-left: 0.5rem; }
.nowrap { white-space: nowrap; }

/* Your customizations here */
body {
}

.menu-button {
  float: left;
}

.navbar-bottom {
  margin-top: 20px;
}

h2 {
  margin-top: 0px;
}

#loading-bar .bar {
  top: 51px;
  height: 4px;
}

#loading-bar-spinner {
  top: 13.5px;
}

#loading-bar-spinner .spinner-icon {
  width: 20px;
  height: 20px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.diff {
  width: 100%;
  border-collapse: separate;
}

.snippet {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  text-shadow: 0 1px 0 #fff;
  background-color: white;
  border-collapse: separate;
}

.diff-line-code {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  color: #333;
  vertical-align: top;
  white-space: pre;
  overflow: visible;
}

.diff-line-code-pos {
  background: #dfd !important;
}

.diff-line-code-empty {
  background: #fff;
}

.diff-line-code-neg {
  background: #fdd !important;
}

.diff-line-num {
  width: 1%;
  min-width: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0,0,0,0.3);
  vertical-align: top;
  text-align: right;
  border: solid #eee;
  border-width: 0 1px 0 0;
  cursor: pointer;
}

.diff-line-num-pos {
  background-color: #ceffce;
  border-color: #b4e2b4;
}

.diff-line-num-neg {
  background-color: #f7c8c8;
  border-color: #e9aeae;
}
.hljs {
  display: block;
  padding: 0.05em;
  color: #333;
  background: white;
}


.file {
  position: relative;
  margin-top: 20px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.file .meta {
  padding: 5px 10px;
  text-shadow: 0 1px 0 #fff;
  border-bottom: 1px solid #d8d8d8;
  background-color: #f7f7f7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.file .meta .expander {
  float: right
}

.snippet-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.file .meta .info {
  line-height: 33px;
}

.line-number {
  color: rgba(0,0,0,0.3);
}

.group {
}

.member {
  background-color: #f7f7f9;
}

.add-member-form {
  text-align: right;
}

.center-block {
  text-align: center;
}

.tab-wrapper {
  padding: 10px 10px 10px 10px;
}

input.ng-invalid.ng-dirty {
  background-color: #FA787E;
}

input.ng-valid.ng-dirty {
  background-color: #78FA89;
}

.tab-body {
  margin: 10px 0 0;
  padding-left:10px;
  padding-right:10px;
}

.tabset-background {
  padding: 5px 5px 15px;
  border-bottom: 1px solid #eee;
  background-color: transparent;
}

.comment-button {
  position: relative;
  z-index: 5;
  float: left;
  width: 20px;
  height: 20px;
  margin: -1px -10px -1px -20px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  text-indent: 0;
  cursor: pointer;
  font-size: 10px;
}

.comment-input {
  height: 150px !important;
}
.comment-preview {
  padding: 5px 5px 15px;
  border-bottom: 1px solid #eee;
  background-color: transparent;
}
.comment-box {
  padding: 10px 10px 10px 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.comment-holder {
  max-width: 780px;
}
.comment {
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.comment-text {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.comment-header {
  padding-left: 15px;
  padding-right: 15px;
  line-height: 40px;
  color: #8e9597;
  background-color: #f2f8fa;
  border-bottom-color: #e1edf1;
  border-bottom: 1px solid #eee;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.comment-form {
  border: 1px solid #ddd;
  max-width: 780px;
  border-radius: 3px;
}

.comment-tabset {
  background: #f7f7f7;
  padding: 6px 10px 0;
  border-radius: 3px 3px 0 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.comment-buttons {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
