
/* Main stylesheet */

/* @section forms */
.btn.cancel { margin-left: 0.5rem; }
.nowrap { white-space: nowrap; }

/* Your customizations here */

.menu-button {
  float: left;
}

.navbar-bottom {
  margin-top: 20px;
}

h2 {
  margin-top: 0px;
}

#loading-bar .bar {
  top: 51px;
  height: 4px;
}

#loading-bar-spinner {
  top: 13.5px;
}

#loading-bar-spinner .spinner-icon {
  width: 20px;
  height: 20px;
}

