
/* Main stylesheet */

/* @section forms */
.btn.cancel { margin-left: 0.5rem; }
.nowrap { white-space: nowrap; }

/* Your customizations here */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

.menu-button {
  float: left;
}

.navbar-bottom {
  margin-top: 20px;
}

h2 {
  margin-top: 0px;
}

#loading-bar .bar {
  top: 51px;
  height: 4px;
}

#loading-bar-spinner {
  top: 13.5px;
}

#loading-bar-spinner .spinner-icon {
  width: 20px;
  height: 20px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.diff {
  width: 100%;
  border-collapse: separate;
}

.snippet {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  text-shadow: 0 1px 0 #fff;
  border-collapse: separate;
}

.diff-line-code {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  color: #333;
  vertical-align: top;
  white-space: pre;
  overflow: visible;
}

.diff-line-code-pos {
  background-color: #dfd;
}

.diff-line-code-neg {
  background-color: #fdd;
}

.diff-line-num {
  width: 1%;
  min-width: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0,0,0,0.3);
  vertical-align: top;
  text-align: right;
  border: solid #eee;
  border-width: 0 1px 0 0;
  cursor: pointer;
}

.diff-line-num-pos {
  background-color: #ceffce;
  border-color: #b4e2b4;
}

.diff-line-num-neg {
  background-color: #f7c8c8;
  border-color: #e9aeae;
}
.hljs {
  display: block;
  padding: 0.0em;
  color: #333;
  background: white;
}

.file {
  position: relative;
  margin-top: 20px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.file .meta {
  padding: 5px 10px;
  text-shadow: 0 1px 0 #fff;
  border-bottom: 1px solid #d8d8d8;
  background-color: #f7f7f7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.snippet-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.file .meta .info {
  line-height: 33px;
}

.line-number {
  color: rgba(0,0,0,0.3);
}

.group {
}

.tab-content {
  border: 2px solid #eee;
}

.member {
  background-color: #f7f7f9;
}

.add-member-form {
  text-align: right;
}

.center-block {
  text-align: center;
}

.tab-wrapper {
  padding: 10px 10px 10px 10px;
}

.comment-button {
  position: relative;
  z-index: 5;
  float: left;
  width: 20px;
  height: 20px;
  margin: -1px -10px -1px -20px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  text-indent: 0;
  cursor: pointer;
  font-size: 10px;
}

.add-comment {
  padding: 10px 10px 10px 10px;
  border-top: 3px solid #eee;
  border-bottom: 3px solid #eee;
}

.comment-input {
  height: 200px !important;
}
.comment-preview {
  padding: 10px 10px 10px 10px;
}
.comment-box {
  border-top: 3px solid #eee;
  border-bottom: 3px solid #eee;
  padding: 10px 10px 10px 10px;
}
.comment {
  min-height: 40px;
  border-bottom: 3px solid #eee;
}
.comment-header {
  color: #8e9597;
  background-color: #f2f8fa;
  border-bottom-color: #e1edf1;
  height: 40px;
  line-height: 40px;
}
