.oauth {
    text-align: left;
    padding-top: 0;
    padding: 4em 0 0 0;
}
.oauth-button-block {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
}
.oauth-allow-btn {
}
.oauth-deny-btn {

}
