.sidebar-menu>li.default>a {
      border-left-color: transparent;
}

.subcontent {
    padding: 1em;
}

.list th, .list td {
    padding: 1em;
}

.checkbox-list {
    height: 100%;
    border: none;
    list-style: none;
}

.pygal-chart {
	max-height: 400px;
	width: 100%;
}

.email-reminder {
    margin-right: 20px;
}

.nav-stacked>li>form>button {
    border-radius: 0;
    border-top: 0;
    border-left: 3px solid transparent;
    color: #444;
}

.nav>li>form>button {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav>li>form:hover,.nav>li>form:active,.nav>li>form:focus {
    color: #444;
    background: #f7f7f7
}

.nav-pills>li>form>button>.fa, .nav-pills>li>form>button>.glyphicon, .nav-pills>li>form>button>.ion {
    margin-right: 5px;
}

.ag-submit-btn {
    border: 0;
    border-left: 3px solid transparent;
    background-color: transparent;
    width: 100%;
    text-align: left;
}
.ag-submit-btn:focus {
	outline: 0;
}