*, .nomapa {
  margin:0;
  padding:0;
  position:relative;
}
body, html, main {
  height:100%;
  font-family:'Lato';
}
i, br {
  float:none;
}
.content h1 {
  font-family:'Quicksand';
  font-size:3em;
  letter-spacing:-0.05em;
}
  .content h1 .assignment-due-date {
    font-family:'Lato';
    font-weight:300;
    letter-spacing:normal;
  }
.content h2 {
  font-size:2em;
  font-weight:300;
}
header {
  top:0;
  left:0;
  z-index:30;
  background-color:rgba(255,255,255,0.25);
  color:#FFF;
}
.header-bg {
  height:4em;
  width:100%;
  z-index:25;
  background:url('/static/img/header-bg.png') center repeat;
}
header span, header a {
  color:inherit;
}
.user-name {
  margin-right:0.5em;
}
.stripes {
  padding:1.5em 1em;
  float:left;
  cursor:pointer;
}
.header-text {
  float:right;
  padding:1.25em 1em;
}
.header-text span {
  font-family:'Quicksand';
  font-weight:700;
  text-transform:uppercase;
}
  .user-profile {
    text-align:right;
  }
  .stripe {
    height:2px;
    width:20px;
    background-color:#FFF;
  }
  .stripe + .stripe {
    margin-top:4px;
  }
  a.header-text:hover {
    color:#FFF;
    text-decoration:none;
    background-color:rgba(255,255,255,0.15)
  }
aside.sidebar {
  background-color:#f6f6f6;
  z-index:10;
  overflow-y:scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

aside.sidebar::-webkit-scrollbar {
    display: none;
}

  .sidebar.left, header .left {
    left:0;
    float:left;
  }
  .sidebar.right, header .right {
    right:0;
    float:right;
  }
  .logo-box {
    padding-top: 20%;
    padding-bottom: 20%;
    background-color:#FFF;
    box-sizing:border-box;
    max-width: 100%;

  }
  .software-logo {
    width:100%;
    padding-left:20%;
    padding-right: 20%
  }
  .software-name {
    width:100%;
    text-transform:uppercase;
    font-weight:700;
    text-align:center;
    font-family:'Quicksand'
  }
  .logo-name {
    width:100%;
    font-weight:500;
    font-size: 16px;
    font-size: 1vw;
    text-align:center;
    font-family:'Quicksand'
  }
  aside li {
    font-size:0.95em;
    padding:1em 2em;
    list-style:none;
    color:#666;
  }
    aside li a {
      color:inherit;
    }
    aside ul {
      margin-bottom:0;
    }
  aside .sidebar-title {
    text-transform:uppercase;
    text-align:center;
    color:#717171;
    font-weight:700;
    font-size:0.7em;
    padding:1.5em 2em;
  }
  aside li i.viewing {
    position:absolute;
    top:1.25em;
    right:2em;
    left:auto;
    float:right;
    display:inline-block;
    color:#767676;
  }
  .top-level + .top-level {
    border-top:none;
  }
  .top-level {
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    font-weight:700;
    color:#333;
  }
    .tab-1 {
      padding-left:1em;
    }
    .tab-2 {
      padding-left:2em;
    }
section {
  background-color:#FFF;
  /*border-left:1px solid #eee;
  border-right:1px solid #eee;*/
  min-height:100%;
  box-shadow:0 0 15px 0 rgba(0,0,0,0.2);
  z-index:20;
}
  .subcontent, .wrap {
    width:100%;
  }
    .content {
      min-height:100%;
      padding:0;
      float:left;
      padding:0 0 2em 0;
    }
    .subcontent {
      float:left;
      box-sizing:border-box;
    }
    .note {
      text-align:center;
      padding:0.75em 1.5em;
      background-color:#eee;
      border-radius:1.5em;
      width:100%;
      color:#717171;
      font-weight:700;
      font-size:0.9em;
      display:inline-block;
      margin-top:0.5em;
    }
  table {
    width:100%;
  }
  tr.header {
    color:#767676;
  }
  th.col-status, th.col-offering, th.col-institution, th.col-code {
    width:20%;
  }
  th.col-scores, th.col-due-date, th.col-group, th.col-flag, th.col-submit {
    width:25%;
  }
  th.col-author {
    width:30%;
  }
  tr {
    border-bottom:1px solid #eee;
  }
  .list th, .list td {
    padding:14px;
  }
  .due-dot,.prog-dot {
    height:8px;
    width:8px;
    border-radius:50%;
    background-color:#717171;
    position:absolute;
    left:1em;
  }
    .due-dot,.prog-dot {
      top:50%;
      margin-top:-4px;
    }
    .prog-text {
      padding-left:1em
    }
    .green {
    color: #578300;    /* was #690; Changed for accesibility/contrast */
    }
    .yellow {
      color:#C90;
    }
    .red {
      color:#c00;
    }
    .due {
      padding-left:1em;
    }
    .due-dot.green,.prog-dot.green {
      background-color:#690;
    }
    .due-dot.yellow,.prog-dot.yellow {
      background-color:#C90;
    }
    .due-dot.red,.prog-dot.red {
      background-color:#C00;
    }
    .due .due-date,.due-text {
      width:100%;
      display:inline-block;
    }
    .due-date {
      font-size:0.75em;
      font-weight:700;
      text-transform:uppercase;
      color:#767676;
    }
  .list-item {
    padding-left:2em;
  }
    li i {
      position:absolute;
      top:1.25em;
      left:2em;
    }
    span {
      font-weight:400;
      color:#666;
    }
.tip {
  position:absolute;
  bottom:150%;
  background-color:#4A74A2;
  padding:0.75em 1.5em;
  border-radius:1.5em;
  font-size:0.85em;
  left: 50%;
  transform: translateX(-50%);
  display:none;
  z-index: 1000;
}
  .tip.grey {
    background-color:#717171;
  }
  .tip span {
    text-align:center;
    color:#FFF;
    white-space:nowrap;
  }
    .tip span + span {
      margin-top:0.25em;
    }
  .tip::before {
    content:"";
    width:0;
    height:0;
    padding:0;
    position:absolute;
    top:100%;
    border-top:5px solid #4A74A2;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    left:50%;
    margin-left:-2.5px;
  }
    .tip.grey::before {
      border-top:5px solid #717171;
    }
  .tip-trigger {
    cursor:pointer;
  }
  .tip-trigger:hover .tip {
    display:block;
  }
  .tip-trigger,.tip-trigger > span {
    border-bottom:1px dashed #717171;
  }

.final-button {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  outline: none;
}
.final-yes {
  color:#4A74A2;
}
.final-no {
  color:#767676;
}
header .logo {
  width: 3em;
  margin-top: 2px;
}
.landing {
  padding: 3em 0;
  text-align:center;
}
  .landing h1 {
    line-height:125%;
  }
  .landing p {
    line-height:150%;
    font-size:1.35em;
    font-weight:300;
    color:#666;
  }
  .landing .button {
    margin-top:2em;
  }
  .button {
    display:inline-block;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:0.1em;
    padding:1em 2em;
    border-radius:0.5em;
    color:#FFF;
    font-size:0.85em;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff9715+0,468dc6+52,17417f+100 */
    background: #ff9715; /* Old browsers */
    background: -moz-linear-gradient(left,  #ff9715 0%, #468dc6 52%, #17417f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ff9715 0%,#468dc6 52%,#17417f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ff9715 0%,#468dc6 52%,#17417f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9715', endColorstr='#17417f',GradientType=1 ); /* IE6-9 */

    border:0.25em solid #FFF;
  }
  .button:hover {
    text-decoration:none;
    border:0.25em solid rgba(255,255,255,0.75);
    color:#FFF;
  }
  input.button-small {
    border:none;
  }
  button.button-small {
    border:none;
  }

  .button-small {
    background-color:#eee;
    color:#717171;
    border-radius:0.25em;
    display:inline-block;
    float:left;
    margin:-0.25em 0.25em;
    padding:0.5em 0.75em;
    font-size:0.9em;
  }
    .button-small:hover {
      background-color:#666;
      color:#FFF;
      text-decoration:none;
    }
  .button-large {
    background-color:#eee;
    color: #717171;
    border-radius: 2em;
    display: inline-block;
    float: left;
    margin: 1em 0 0 0;
    padding: 1em 5em;
    width: 100%;
    font-size: 0.9em;
    text-align: center;
    border: none;
  }
    .button-large:hover {
      background-color:#666;
      color:#FFF;
      text-decoration:none;
    }

  .group-action {
    outline: none;
    width: 100%;
  }
  .group-table {
    border: none !important;
  }

  .invite-input {
    width: 95%;
    margin:1.5em 0 0 1em;
    color:#666;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: rgb(153, 153, 153);
  }
  .btn-invite {
    margin:1em 0 0 0;
  }
  .btn-accept {
     margin-bottom: 1em;
     outline: none;
  }
.content h1 {
  padding:0 14px;
}
.content h2 {
  padding:0 14px 10px 14px;
}
.cell {
  padding:2em;
}
.upload-cell {
  background-color: #f6f6f6;
}

.cell:nth-child(even) {
  background-color:#f6f6f6;
}
  .cell-title {
    font-size:1.5em;
  }
  .cell .due-dot {
    position:relative;
    float:left;
    display:inline-block;
    margin:0.4em;
    left:0;
  }
  .cell-status {
    margin-top:1em;
  }
    .cell-status + .cell-status {
      margin-top:0.25em;
    }
  .cell-footer {
      margin-top: 0.25em;
  }
.string-nav {
  padding:2em 14px 0.5em 14px;
}

.other-courses {
}

.other-courses-hide {
  display: none;
}

.score-box {
  max-height: 200px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .subcontent {
    padding:0 5%;
  }
  .content {
    padding:0 0 5em 0;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  aside.sidebar {
    position:fixed;
    height:100%;
  }
}
