{% extends "staff/base.html" %}
{% import "staff/_formhelpers.html" as forms %}

{% block title %} Email {{ assignment.display_name }} scores {% endblock %}

{% block main %}
<section class="content-header">
    <h1>
        Email {{ assignment.display_name }} Scores
        <small>{{ current_course.offering }}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ url_for(".index") }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{ url_for(".course", cid=current_course.id) }}">
            <i class="fa fa-university"></i> {{ current_course.offering }}
        </a></li>
        <li><a href="{{ url_for('.course_assignments', cid=current_course.id) }}">
          <i class="fa fa-list"></i> Assignments</a>
        </li>
        <li> <a href="{{ url_for('.assignment', cid=current_course.id, aid=assignment.id) }}"><i class="fa fa-book"></i> {{ assignment.display_name }} </a></li>
        <li><a href="{{ url_for(".course_jobs", cid=current_course.id) }}">
            <i class="fa fa-list"></i>Jobs
        </a></li>
        <li class="active"><a href="#">
            <i class="fa fa-inbox"></i>Notify Students</a>
        </li>
    </ol>
</section>
<section class="content">
  {% include 'alerts.html' %}
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-body">
          <p> Each course is allocated 4,000 emails per month. Contact us if you anticipate exceeding that limit. </p>
          {% call forms.render_form(form, action_text='Send Emails') %}
            {{ forms.render_field(form.subject, value=assignment.display_name + " Scores" ) }}
            {{ forms.render_field(form.body) }}
            {{ forms.render_field(form.reply_to) }}
            {{ forms.render_checkbox_field(form.kinds) }}
            {{ forms.render_checkbox_field(form.dry_run) }}
            {% endcall %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
