{% extends "staff/base.html" %}
{% import "staff/_formhelpers.html" as forms %}

{% block title %} Ok - Start Test Job {% endblock %}

{% block main %}
<section class="content">
  {% include 'alerts.html' %}
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-body">
          {% call forms.render_form(form,
              action_text='Start Test Job', target="_blank") %}
            {{ forms.render_field(form.duration) }}
            {{ forms.render_checkbox_field(form.should_fail) }}
          {% endcall %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
