import redis
from simplekv.memory.redisstore import RedisStore

# TODO : Get secret key from environment.

class Config:
    SECRET_KEY = 'samplekey'


class ProdConfig(Config):
    ENV = 'prod'
    SQLALCHEMY_DATABASE_URI = 'postgresql://user:@localhost:5432/okprod'
    CACHE_TYPE = 'simple'
    SESSION_STORE = RedisStore(redis.StrictRedis())
