class Config:
    SECRET_KEY = 'okr&xcc=1ubazi2+plceoivr(*7n3ebm$k(o8ap_+sq1ukb93e)ldev'


class Prod(Config):
    ENV = 'prod'
    SQLALCHEMY_DATABASE_URI = 'sqlite:///../database.db'
    CACHE_TYPE = 'simple'
