<html>
  <head>
    <title>Ok | CS61A</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- third-party libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300|Lato:300,700' rel='stylesheet' type='text/css'>
    <!-- custom ok scripts -->
    <link rel="stylesheet" href="static/styles/student.css">
  </head>
  <body>
    <div class="pullout">

    </div>
    <header>
      <!-- <div class="left col-md-2">
        <div class="stripes">
          <div class="stripe"></div>
          <div class="stripe"></div>
          <div class="stripe"></div>
        </div>
      </div> -->
      <div class="right col-md-3">
        <a href="#" class="header-text"><span>Logout</span></a>
        <div class="header-text user-profile">
          <span class="user-name">Chikin Park</span>
          <i class="fa fa-user"></i>
        </div>
      </div>
    </header>
    <div class="header-bg">
    </div>
    <main>
      <aside class="sidebar nomapa col-md-2 left hidden-sm hidden-xs">
        <div class="software-logo">
          <img src="static/images/logo.svg">
          <p class="software-name">Ok Autograder</p>
          <a href="course.html"><p class="software-name"><i class="fa fa-long-arrow-left"></i> CS70</p></a>
        </div>
        <nav class="toc">
          <li class="sidebar-title">Current Assignments</li>
          <ul>
            <li class="top-level"><a href="#">Homework 1</a></li>
            <li class="top-level"><a href="#">Homework 2</a><i class="fa fa-eye viewing"></i></li>
            <ul class="tab-1">
              <li><a href="#">Group</a></li>
              <li><a href="#">Submissions</a></li>
              <li><a href="#">Backups</a></li>
            </ul>
            <li class="top-level"><a href="#">Homework 5</a></li>
            <li class="top-level"><a href="#">Project 1</a></li>
            <li class="top-level"><a href="#">Project 3</a></li>
          </ul>
        </nav>
        <li class="sidebar-title">Announcements</li>
        <ul class="staff">
          <li class="top-level"><i class="fa fa-bullhorn"></i><div class="list-item">Project 1 has been released! <span>See cs61a.org.</span></div></li>
          <li class="top-level"><i class="fa fa-bullhorn"></i><div class="list-item">Superhuman Sumukh saved the day, yet again! <span>Ok has been resurrected.</span></div></li>
        </ul>
      </aside>
      <div class="col-md-2"></div>
      <section class="content nomapa col-md-10">
        <div class="subcontent heading">
          <div class="wrap">
            <div class="string-nav">
              <span><a href="courses.html">Courses</a></span> &raquo;
              <span><a href="course.html">CS70</a></span> &raquo;
              <span>Homework 2</span>
            </div>
            <h1>Homework 2</h1>
            <span class="note">You have backups more recent than your latest submission!</span>
            <span class="note">You have been invited to "Brian's Baes"!</span>
          </div>
        </div>
        <!-- start desktop/tablet version -->
        <div class="subcontent list hidden-xs hidden-sm">
          <div class="wrap">
            <h2>Group</h2>
            <table>
              <tr class="header"><th>Full Name</th><th>Email</th><th>Member ID</th><th>Latest Backup</th><th>Options</th></tr>
              <tr>
                <td><span>Chikin Park</span></td>
                <td><span>chikin@berkeley.edu</span></td>
                <td><span>A</span></td>
                <td><span><a href="submission.html">Jan 15 at 12:34 a.m.</a></span></td>
                <td><a href="#" class="button-small tip-trigger">Leave<div class="tip"><span>Leave group</span></div></a></td>
              </tr>
              <tr>
                <td><span>Bubba Do</span></td>
                <td><span>bubbado@berkeley.edu</span></td>
                <td><span>B</span></td>
                <td><span><a href="submission.html">Jan 17 at 12:34 a.m.</a></span></td>
                <td><a href="#" class="button-small tip-trigger"><div class="tip"><span>Remove member</div>Remove</a></td>
              </tr>
              <tr>
                <td><span>Bubba Do</span></td>
                <td><span>bubbado@berkeley.edu</span></td>
                <td><span>B</span></td>
                <td><span><a href="submission.html">Jan 17 at 12:34 a.m.</a></span></td>
                <td><a href="#" class="button-small tip-trigger"><div class="tip"><span>Accept Invitation</span></div><i class="fa fa-check"></i></a><a href="#" class="button-small tip-trigger"><div class="tip"><span>Reject Invitation</span></div><i class="fa fa-close"></i></a></td>
              </tr>
            </table>
            <form>
              <input type="text" class="invite-input col-md-12">
              <input type="submit" class="button" value="invite">
            </form>
          </div>
        </div>
        <div class="subcontent list hidden-xs hidden-sm">
          <div class="wrap">
            <h2>Recent Submissions</h2>
            <table>
              <tr class="header"><th class="col-md-1">Final?</th><th>Date</th><th>Score</th><th>Submitter</th></tr>
              <tr>
                <td class="tip-trigger">
                  <span class="final-yes"><i class="fa fa-flag"></i>
                    <div class="tip">
                      <span>Marked for grading</span>
                    </div>
                  </span>
                </td>
                <td><span><a href="submission.html">Jan 6 at 12:56 a.m.</a></span></td>
                <td><span>5/5</span></td>
                <td><span>Chikin Park</span></td>
              </tr>
              <tr>
                <td class="tip-trigger">
                  <span class="final-no"><i class="fa fa-flag-o"></i>
                    <div class="tip grey">
                      <span>Not marked for grading</span>
                    </div>
                  </span>
                </td>
                <td><span><a href="submission.html">Jan 6 at 12:56 a.m.</a></span></td>
                <td><span>--</span></td>
                <td><span>Chikin Park</span></td>
              </tr>
              <tr>
                <td class="tip-trigger">
                  <span class="final-no"><i class="fa fa-flag-o"></i>
                    <div class="tip grey">
                      <span>Not marked for grading</span>
                    </div>
                  </span>
                </td>
                <td><span><a href="submission.html">Jan 6 at 12:56 a.m.</a></span></td>
                <td><span>--</span></td>
                <td><span>Chikin Park</span></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="subcontent list hidden-xs hidden-sm">
          <div class="wrap">
            <h2>Recent Backups</h2>
            <table>
              <tr class="header"><th class="col-md-1">Final?</th><th>Date</th><th>Score</th><th>Submitter</th></tr>
              <tr>
                <td class="tip-trigger">
                  <span class="final-no"><i class="fa fa-flag-o"></i>
                    <div class="tip grey">
                      <span>Not marked for grading</span>
                    </div>
                  </span>
                </td>
                <td><span><a href="submission.html">Jan 6 at 12:56 a.m.</a></span></td>
                <td><span>--</span></td>
                <td><span>Chikin Park</span></td>
              </tr>
              <tr>
                <td class="tip-trigger">
                  <span class="final-no"><i class="fa fa-flag-o"></i>
                    <div class="tip grey">
                      <span>Not marked for grading</span>
                    </div>
                  </span>
                </td>
                <td><span><a href="submission.html">Jan 6 at 12:56 a.m.</a></span></td>
                <td><span>--</span></td>
                <td><span>Chikin Park</span></td>
              </tr>
              <tr>
                <td class="tip-trigger">
                  <span class="final-no"><i class="fa fa-flag-o"></i>
                    <div class="tip grey">
                      <span>Not marked for grading</span>
                    </div>
                  </span>
                </td>
                <td><span><a href="submission.html">Jan 6 at 12:56 a.m.</a></span></td>
                <td><span>--</span></td>
                <td><span>Chikin Park</span></td>
              </tr>
            </table>
          </div>
        </div>
        <!-- end desktop/tablet version -->
        <!-- start mobile version -->
        <div class="subcontent list hidden-md hidden-lg">
          <div class="wrap">
            <h2>Group</h2>
            <div class="cell col-xs-12">
              <div class="cell-title">Chikin Park (You)</div>
              <div class="cell-text"><span>Email: chikin@berkeley.edu</span> . <span>Team ID: A</span></div>
              <div class="cell-status">
                <a href="#" class="button-small">Leave</a>
              </div>
            </div>
            <div class="cell col-xs-12">
              <div class="cell-title">Silly Park</div>
              <div class="cell-text"><span>Email: sillypark@berkeley.edu</span> . <span>Team ID: B</span></div>
              <div class="cell-status">
                <a href="#" class="button-small">Remove</a>
              </div>
            </div>
            <div class="cell col-xs-12">
              <div class="cell-title">Invitation</div>
              <div class="cell-text"><span>From: Yolo</span> . Email: chikin@berkeley.edu</span></div>
              <div class="cell-status">
                <a href="#" class="button-small">Accept</a>
                <a href="#" class="button-small">Reject</a>
              </div>
            </div>
          </div>
        </div>
        <div class="subcontent list hidden-md hidden-lg">
          <div class="wrap">
            <h2>Backups</h2>
            <div class="cell col-xs-12">
              <div class="cell-title">Jan. 12 at 12:00 AM</div>
              <div class="cell-text"><span>Submitter: chikin@berkeley.edu (you)</span> . <span>Score: 5/5</span></div>
              <div class="cell-status">
                <span><i class="fa fa-flag"></i> Marked as Final</span>
              </div>
            </div>
            <div class="cell col-xs-12">
              <div class="cell-title">Jan. 12 at 12:00 AM</div>
              <div class="cell-text"><span>Submitter: chikin@berkeley.edu (you)</span> . <span>Score: --</span></div>
              <div class="cell-status">
                <a href="#" class="button-small">Mark as Final</a>
              </div>
            </div>
            <div class="cell col-xs-12">
              <div class="cell-title">Jan. 12 at 12:00 AM</div>
              <div class="cell-text"><span>Submitter: chikin@berkeley.edu (you)</span> . <span>Score: --</span></div>
              <div class="cell-status">
                <a href="#" class="button-small">Mark as Final</a>
              </div>
            </div>
          </div>
        </div>
        <!-- end mobile version -->
      </section>
    </main>
  </body>
</html>
