<html>
  <head>
    <title>Ok | CS61A</title>
    <!-- third-party libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300|Lato:300,700' rel='stylesheet' type='text/css'>
    <!-- custom ok scripts -->
    <link rel="stylesheet" href="static/styles/student.css">
  </head>
  <body>
    <header>
      <div class="left col-md-2">
        <div class="stripes">
          <div class="stripe"></div>
          <div class="stripe"></div>
          <div class="stripe"></div>
        </div>
      </div>
      <div class="right col-md-3">
        <a href="#" class="header-text"><span>Logout</span></a>
        <div class="header-text user-profile">
          <span class="user-name">Chikin Park</span>
          <i class="fa fa-user"></i>
        </div>
      </div>
    </header>
    <div class="header-bg">
    </div>
    <main>
      <aside class="sidebar nomapa col-md-2 left hidden-xs hidden-sm">
        <div class="software-logo">
          <img src="static/images/logo.svg">
          <p class="software-name">Ok Autograder</p>
          <a href="assignment.html"><p class="software-name"><i class="fa fa-long-arrow-left"></i> Homework 2</p></a>
        </div>
        <nav class="toc">
          <li class="sidebar-title">Current Assignments</li>
          <ul>
            <li class="top-level"><a href="assignment.html">Homework 1</a></li>
            <li class="top-level"><a href="assignment.html">Homework 2</a><i class="fa fa-eye viewing"></i></li>
            <ul class="tab-1">
              <li><a href="#">Group</a></li>
              <li><a href="#">Submissions</a><i class="fa fa-eye viewing"></i></li>
              <ul class="tab-2">
                <li><a href="#">1/5/16</a></li>
              </ul>
              <li><a href="#">Backups</a></li>
            </ul>
            <li class="top-level"><a href="assignment.html">Homework 5</a></li>
            <li class="top-level"><a href="assignment.html">Project 1</a></li>
            <li class="top-level"><a href="assignment.html">Project 3</a></li>
          </ul>
          <li class="sidebar-title">Announcements</li>
          <ul class="staff">
            <li class="top-level"><i class="fa fa-bullhorn"></i><div class="list-item">Project 1 has been released! <span>See cs61a.org.</span></div></li>
            <li class="top-level"><i class="fa fa-bullhorn"></i><div class="list-item">Superhuman Sumukh saved the day, yet again! <span>Ok has been resurrected.</span></div></li>
          </ul>
        </nav>
      </aside>
      <div class="col-md-2"></div>
      <section class="content nomapa col-md-10">
        <div class="subcontent heading">
          <div class="wrap">
            <h1>Homework 2 Submission</h1>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
