""" This file is intended for secret keys that cannot be stored in the config
like API keys that are used in local environments when developing. The main goal
is to prevent keys from being committed during development.

Copy the example file to secret_keys.py"""

SENDGRID_AUTH = {
  'user': '',
  'key': ''
}
