apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: ok-staging-deployment
spec:
  replicas: 1
  strategy:
      type: RollingUpdate
      rollingUpdate:
          maxUnavailable: 75%
  template:
    metadata:
      labels:
        app: staging
    spec:
      containers:
      - name: ok-v3-staging
        image: cs61a/ok
        imagePullPolicy: Always
        livenessProbe:
          # an http probe
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 5
          timeoutSeconds: 1
        ports:
        - containerPort: 5000
        env:
        - name: OK_ENV
          value: prod
        - name: GET_HOSTS_FROM
          value: dns
          # If your cluster config does not include a dns service, then to
          # instead access environment variables to find service host
          # info, comment out the 'value: dns' line above, and uncomment the
          # line below.
          # value: env
        - name: REDIS_HOST
          value: redis-master
        - name: SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: ok-secrets
              key: key
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: ok-db
              key: db
        - name: GOOGLE_ID
          valueFrom:
            secretKeyRef:
              name: ok-login
              key: google-id
        - name: GOOGLE_SECRET
          valueFrom:
            secretKeyRef:
              name: ok-login
              key: google-secret
        - name: SENTRY_DSN
          valueFrom:
            secretKeyRef:
              name: ok-services
              key: sentry-dsn
        - name: SENDGRID_USER
          valueFrom:
            secretKeyRef:
              name: ok-services
              key: sendgrid-user
        - name: SENDGRID_KEY
          valueFrom:
            secretKeyRef:
              name: ok-services
              key: sendgrid-key
