{% macro render_courses(courses, tname="Courses", admin=False, empty=False) %}
  {% if courses %}
  <div class="subcontent list hidden-xs hidden-sm">
    <div class="wrap">
      <h2>{{ tname }}</h2>
      <table>
        <tr class="header">
          <th>Name</th>
          <th>Offering</th>
          <th>Institution</th>
          <th>Status</th>
        </tr>
        {% for course in courses %}
        <tr>
          <td>
            <div class="due">
              <span>
                {% if admin %}
                <a href="{{ url_for('admin.course', cid=course.id) }}" data-no-instant>{{course.display_name}}</a>
                {% else %}
                <a href="{{ url_for('student.course', course=course.offering) }}">{{course.display_name}}</a>
                {% endif %}
              </span>
            </div>
          </td>
          <td>
            <span> {{course.offering}} </span>
          </td>
          <td>
            <span>  {{course.institution | default("", True) }} </span>
          </td>
          <td>
            {% if course.active %}
            <div class="due-dot green"></div>
              <div class="due">
                <span class="due-text green"> Active</span>
            {% else %}
            <div class="due-dot red"></div>
              <div class="due">
                <span class="due-text red"> Inactive</span>
            {% endif %}
                <span class="due-date">Created: {{course.created.strftime('%m/%d/%y')}}</span>
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% elif empty %}
  <div class="subcontent list hidden-xs hidden-sm">
    <div class="wrap">
      <h2>No {{ tname }}</h2>
    </div>
  </div>
  {% endif %}
{% endmacro %}

{% macro render_courses_mobile(courses, tname="Courses", admin=False, empty=False) %}
  {% if courses %}
  <div class="subcontent list hidden-md hidden-lg">
    <div class="wrap">
      <h2>{{ tname }}</h2>
      {% for course in courses %}

      <div class="cell col-xs-12">
        <div class="cell-title">
          {% if admin %}
            <a href="{{ url_for('admin.course', cid=course.id) }}">{{course.display_name}}</a>
          {% else %}
            <a href="{{ url_for('student.course', course=course.offering) }}">{{course.display_name}}</a>
          {% endif %}
        </div>
        <div class="cell-text"><span>{{course.offering}} @ {{course.institution}}</span></div>
        <div class="cell-status">
          {% if course.active %}
            <span class="due-dot green"></span>
            <span class="green">Enrolled</span>
          {% else %}
            <span class="due-dot red"></span>
            <span class="green">Inactive</span>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% elif empty %}
  <div class="subcontent list hidden-md hidden-lg">
    <div class="wrap">
      <h2>No {{ tname }}</h2>
    </div>
  </div>
  {% endif %}
{% endmacro %}
