{% macro render_subms(subms, cid, flagged, tname="Submissions", empty=True) %}
  {% if subms %}
  <div class="subcontent list hidden-xs hidden-sm">
    <div class="wrap">
      <h2>{{ tname }}</h2>
      <table>
        <tr class="header">
          <th class="col-md-1">Flagged</th>
          <th>Date</th>
          <th>Submitter</th>
          <th>Status</th>
          <th>Code</th>
        </tr>
        {% for subm in subms %}
        <tr>
          <td class="tip-trigger">
            <form class="form-inline" action="{{ url_for('.flag', cid=cid, aid=subm.assignment_id, bid=subm.id) }}" method="post">
              {% if not subm.flagged %}
                <input type="hidden" name="flag">
              {% endif %}
              <input type="hidden" name="next" value="{{ request.full_path }}">
              <div class="final-{{ 'yes' if subm.flagged else 'no' }}">
                <button type="submit"><i class="fa fa-flag"></i></button>
              </div>
            </form>
            <div class="tip">
              {% if subm.flagged %}
                <span>Flagged for grading (click to unflag)</span>
              {% else %}
                <span>Not flagged for grading (click to flag)</span>
              {% endif %}
            </div>
          </td>
          <td>
            <a href="{{ url_for('.code', cid=cid, aid=subm.assignment_id, bid=subm.id)}}">
              <time datetime="{{subm.created}}">{{subm.created}}</time>
            </a>
          </td>
          <td>
            <span class="due-date">
              {{ subm.user.email }}
            </span>
          </td>
          <td>
            <div class="due-dot green"></div>
            <div class="due">
              {% if subm.flagged %}
                <span class="due-text green">submitted</span>
                <span class="due-date">Flagged for grading</span>
              {% elif not flagged and loop.index == 1 %}
                <span class="due-date">Newest submission</span>
              {% else %}
                <span class="due-date">Recieved!</span>
              {% endif %}
            </div>
              <!-- Score - for later.
            <td class="tip-trigger"><span>-/0
              <div class="tip group-members">
                <span><b>correctness:</b> -/0</span>
                <span><b>composition:</b> -/0</span>
              </div>
            </span>
          </td> -->

          </td>
          <td>
              <a href="{{ url_for('.code', cid=cid, aid=subm.assignment_id, bid=subm.id)}}" class="no-dash button-small">
                View Code
              </a>
          </td>

          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% elif empty %}
  <div class="subcontent list hidden-xs hidden-sm">
    <div class="wrap">
      <h2>No {{ tname }}</h2>
    </div>
  </div>
  {% endif %}
{% endmacro %}

{% macro render_backups(backups, cid, tname="Backups", empty=True) %}
  {% if backups %}
  <div class="subcontent list hidden-xs hidden-sm">
    <div class="wrap">
      <h2>{{ tname }}</h2>
      <table>
        <tr class="header">
          <th>Date</th>
          <th>Creator</th>
          <th>Code</th>
        </tr>
        {% for backup in backups %}
        <tr>
          <td>
            <a href="{{ url_for('.code', cid=cid, aid=backup.assignment_id, bid=backup.id)}}">
              <time datetime="{{backup.created}}" >{{backup.created}}</time>
            </a>
          </td>
          <td>
            <span class="due-date">
              {{ backup.user.email }}
            </span>
          </td>
          <td>
              <a href="{{ url_for('.code', cid=cid, aid=backup.assignment_id, bid=backup.id)}}" class="no-dash button-small">
                View Code
              </a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% elif empty %}
  <div class="subcontent list hidden-xs hidden-sm">
    <div class="wrap">
      <h2>No {{ tname }}</h2>
    </div>
  </div>
  {% endif %}
{% endmacro %}

{% macro render_subms_mobile(subms, cid, flagged, tname="Backups", empty=True) %}
  {% if subms %}
  <div class="subcontent list hidden-md hidden-lg">
    <div class="wrap">
      <h2>{{tname}}</h2>
      {% for subm in subms %}

      <div class="cell col-xs-12">
        <div class="cell-title"><a href="{{ url_for('.code', cid=cid, aid=subm.assignment_id, bid=subm.id)}}"><time datetime="{{subm.created}}">{{subm.created}}</time>      </a></div>
        <div class="cell-text"><span>Submitter:  {{ subm.user.email }}</span></div>
        <div class="cell-status">
          <span>

          {% if subm.flagged %}
            <i class="fa fa-flag green"></i> Flagged for grading
          {% elif not flagged and loop.index == 1 %}

          <i class="fa fa-flag grey"></i> This is the most recent submission.
          Unless you flag another submission, the most recent submission will be graded</span>
          {% else %}
            <div class="due-dot grey"></div> Not flagged for grading.
          {% endif %}
        </span>

          <br>

        <a href="{{ url_for('.code', cid=cid, aid=subm.assignment_id, bid=subm.id)}}" class="dashed">
            View Code
        </a>

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% elif empty %}
  <div class="subcontent list hidden-md hidden-lg">
    <div class="wrap">
      <h2>No {{ tname }}</h2>
    </div>
  </div>
  {% endif %}
{% endmacro %}

{% macro render_backups_mobile(backups, cid, tname="Backups", empty=True) %}
  {% if backups %}
  <div class="subcontent list hidden-md hidden-lg">
    <div class="wrap">
      <h2>{{tname}}</h2>
      {% for backup in backups %}

      <div class="cell col-xs-12">
        <div class="cell-title"><a href="{{ url_for('.code', cid=cid, aid=backup.assignment_id, bid=backup.id)}}"><time datetime="{{backup.created}}" >{{backup.created}}</time>     </a></div>
        <div class="cell-text"><span>Submitter:  {{ backup.user.email }}</span></div>
        <div class="cell-status">
        <a href="{{ url_for('.code', cid=cid, aid=backup.assignment_id, bid=backup.id)}}" class="dashed">
            View Code
        </a>

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% elif empty %}
  <div class="subcontent list hidden-md hidden-lg">
    <div class="wrap">
      <h2>No {{ tname }}</h2>
    </div>
  </div>
  {% endif %}
{% endmacro %}
