{% extends "student/assignment/code_base.html" %}

{% block code %}
{% if diffs %}
    {% for file, diff in diffs.iteritems() %}
    <h2>{{ file }}</h2>
    <table class="diff">
    {% for diff_cls, left, right, line in diff.lines %}
    <tr class="{{ diff_cls }}">
        <td class="diff-linenum">{{ left }}</td>
        <td class="diff-linenum">{{ right }}</td>
        <td class="{{ diff_cls }}">
        <pre class="{{ diff_cls }}"><code>{{ line }}</code></pre>
        </td>
    </tr>
    {% endfor %}
    </table>
    {% endfor %}
{% else %}
{{ super() }}
{% endif %}
{% endblock %}

{% block js %}
{{ super() }}
    <script src="/static/js/diff.js"></script>
{% endblock %}
