{% extends "student/base.html" %}
{% import 'student/assignment/_tablehelper.html' as table %}
{% import 'student/assignment/_formhelpers.html' as forms %}

{% block title %} Assignment | Ok {% endblock %}

{% block header %}

  <!-- <div class="left col-md-2">
    <div class="stripes">
      <div class="stripe"></div>
      <div class="stripe"></div>
      <div class="stripe"></div>
    </div>
  </div> -->

{% endblock %}

{% block body %}
    <main>
      {% include 'student/assignment/sidebar.html' %}
      <div class="col-md-2"></div>
      <section class="content nomapa col-md-10 col-xs-12">
        <header>
          <div class="header-bg">
            <div class="right col-md-3">
                <a href="#" class="header-text"><span>Logout</span></a>
                <div class="header-text user-profile">
                  <span class="user-name"> {{ current_user.name | default(current_user.email, True) }}</span>
                  <i class="fa fa-user"></i>
                </div>
              </div>
          </div>
        </header>

        <div class="subcontent heading">
          <div class="wrap">
            <div class="string-nav">
              <span><a href="{{ url_for(".index", auto_redir=False) }}">Courses</a></span> &raquo;
              <span><a href="{{ url_for(".course", course=course.offering) }}"> {{ course.offering }}</a></span> &raquo;
              <span>{{ assignment.offering_name() }}</span>
            </div>
            <h1>{{ assignment.display_name}}</h1>
          </div>

          {% include 'alerts.html' %}

        </div>


        <div class="subcontent row">

          <div class="col-md-6 col-sm-6">
            <h2> Group </h2>

            <table class="top-align">
              <tbody>
                <tr class="header">
                  <th>Email</th>
                  <th>Info</th>
                </tr>
                {% if group %}
                  {% for member in group.members %}
                    <tr>
                      <td><span>{{ member.user.email }}</span></td>
                      <td>
                          {% call forms.render_form(remove_form, action_url='', class_='') %}
                              {{ forms.render_field(remove_form.submit, label_visible=False, class="button-small") }}
                          {% endcall %}
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td><span>{{ current_user.email }}</span></td>
                    <td><span> No Group </span></td>
                  </tr>
                {% endif %}

              </tbody>
            </table>
            {% if can_invite %}
            <div class="row">
              <!-- TODO Invite Form URL -->
              {% call forms.render_form(invite_form, action_url='', class_='form') %}
                <div class="col-md-9 col-xs-8">
                  {{ forms.render_field(invite_form.email, label_visible=False, class="invite-input", placeholder="test@example.com") }}
                </div>
                <div class="col-md-3 col-xs-4">
                  {{ forms.render_field(invite_form.submit, label_visible=False, class="button-small btn-invite") }}
                </div>
              {% endcall %}
            </div>

            {% endif %}



          </div>
          <div class="col-md-6 col-sm-6">
            <h2> Current Submission </h2>

            {% if final_submission %}

              <div class="cell col-xs-12">
                <div class="cell-title">
                <a class="due-text green" href> <time datetime="{{final_submission.created}}"></time> </a>
                </div>
                <div class="cell-text">
                  <span>Submitted by {{ final_submission.submitter.email }}</span>
                </div>
                <div class="cell-text">
                  {% if final_submission.flagged %}
                    <span>Latest Submission. The newest submission will be graded. </span>
                  {% else %}
                    <span>Flagged for Grading. </span>
                  {% endif %}
                </div>
                <div class="cell-status">
                  <span>
                  <a href="" class="dashed">
                      View Code
                  </a>
                  </span>
                </div>
            {% else %}

            <div class="cell col-xs-12">
              <div class="cell-title">
                <a class="due-text red"> No Submission </a>
              </div>
              <div class="cell-text">
                <span> {{ current_user.email }} does not have any submissions for {{ assignment.display_name }} </span>
              </div>
            </div>
            {% endif %}
      </div>
          </div>
        </div>
        <!-- start desktop/tablet version -->
        <div class="subcontent row hidden-xs hidden-sm">
          <div class="col-md-12">
                       <!-- TODO: Better link to view all backups -->

            {{ table.render_subms(subms, course, flagged, tname="Recent Submissions") }}
            {% if subms %}
            <a href="{{ url_for(".list_backups", course=course.offering, assign=assignment.offering_name(), submit=True) }}" class="no-dash button-large">
                View More Submissions
              </a>
            {% endif %}
          </div>
          <div class="col-md-12">
            {{  table.render_backups(backups, course, tname="Recent Backups") }}
            {% if backups %}
            <a href="{{ url_for(".list_backups", course=course.offering, assign=assignment.offering_name(), submit=False) }}" class="no-dash button-large">
                View More Backups
              </a>
            {% endif %}

          </div>
        </div>
        <!-- start mobile version -->
        {{ table.render_subms_mobile(subms, course, flagged, tname="Recent Submissions") }}
        {{ table.render_backups_mobile(backups, course, tname="Recent Backups") }}

        <!-- end mobile version -->
      </section>
    </main>
{% endblock %}
