{% extends "student/base.html" %}
{% import 'student/assignment/_tablehelper.html' as table %}

{% block title %} Assignment | Ok {% endblock %}

{% block header %}

  <!-- <div class="left col-md-2">
    <div class="stripes">
      <div class="stripe"></div>
      <div class="stripe"></div>
      <div class="stripe"></div>
    </div>
  </div> -->

{% endblock %}

{% block body %}
    <main>
      {% include 'student/assignment/sidebar.html' %}
      <div class="col-md-2"></div>
      <section class="content nomapa col-md-10 col-xs-12">
        <header>
          <div class="header-bg">
            <div class="right col-md-3">
                <a href="#" class="header-text"><span>Logout</span></a>
                <div class="header-text user-profile">
                  <span class="user-name"> {{ current_user.name | default(current_user.email, True) }}</span>
                  <i class="fa fa-user"></i>
                </div>
              </div>
          </div>
        </header>

        <div class="subcontent heading">
          <div class="wrap">
            <div class="string-nav">
              <span><a href="{{ url_for(".index", auto_redir=False) }}">Courses</a></span> &raquo;
              <span><a href="{{ url_for(".course", cid=course.id) }}"> {{ course.offering }}</a></span> &raquo;
              <span>{{ assignment.display_name }}</span>
            </div>
            <h1>{{ assignment.display_name}}</h1>
          </div>

          {% include 'alerts.html' %}

        </div>
        <!-- start desktop/tablet version -->
        {% if group %}
        {% endif %}

        {{ table.render_subms(subms, course.id, flagged, tname="Recent Submissions") }}
        {{ table.render_backups(backups, course.id, tname="Recent Backups") }}
        <!-- start mobile version -->
        {{ table.render_subms_mobile(subms, course.id, flagged, tname="Recent Submissions") }}
        {{ table.render_backups_mobile(backups, course.id, tname="Recent Backups") }}

        <!-- end mobile version -->
      </section>
    </main>
{% endblock %}
