{% extends "student/base.html" %}
{% import 'student/assignment/_tablehelper.html' as table with context %}
{% import 'student/assignment/_formhelpers.html' as forms %}
{% import '_globalhelpers.html' as globals %}

{% block title %} Request Extension | Ok {% endblock %}

{% block body %}
    <main>
      {% include 'student/assignment/sidebar.html' %}
      <div class="col-md-2"></div>
      <section class="content nomapa col-md-10 col-xs-12">
        {% include 'student/header.html' %}

        <div class="subcontent heading">
          <div class="wrap">
            <div class="string-nav" role="navigation" aria-label="page navigation">
              <span><a href="{{ url_for('.index') }}">Courses</a></span> &raquo;
              <span><a href="{{ url_for('.course', offering=course.offering) }}"> {{ course.display_name_with_semester }}</a></span> &raquo;
              <span><a href="{{ url_for('.assignment', name=assignment.name) }}"> {{ assignment.display_name }}</a></span> &raquo;
              <span>Request Extension</span>
            </div>
            <h1> Request Extension for {{ assignment.display_name}} <small class="assignment-due-date"></h1>
          </div>
          {% include 'alerts.html' %}

        </div>


      </div>
      <div class="subcontent list">
        <div class="col-xs-12">
        {% call forms.render_form_full(form, action_url=url_for('.request_extension', name=assignment.name),
                                    action_text='Submit Request', btn_class='button-large', class_='form') %}
            {{ forms.render_field(form.reason, placeholder="Because...") }}

        {% endcall %}
        </div>
        </div>
      </section>
    </main>
{% endblock %}
