{% macro render_assign(assignments, course, tname="Assignments", empty=False) %}
  {% if assignments %}
  <div class="subcontent list hidden-xs hidden-sm">
    <div class="wrap">
      <h2>{{ tname }}</h2>
      <table>
        <tr class="header">
          <th>Name</th>
          <th>Status</th>
          <th>Due Date</th>
          <th>Group</th>
        </tr>
        {% for assign, subm_time, group in assignments %}
        <tr>
          <td>
            <span>
              <a class="dashed"  href="{{ url_for('.assignment', course=course.offering, assign=assign.offering_name())}}">
                  {{assign.display_name}}
              </a>
            </span>
          </td>
          <td>
            {% if subm_time %}
            <div class="due-dot green"></div>
            <div class="due">
              <span class="due-text green">Submitted</span>
              <span class="due-date">{{ utils.local_time(subm_time, course) }}</span>
            </div>
            {% else %}
            <div class="due-dot grey"></div>
            <div class="due">
              <span class="due-text grey">No Submission</span>
              <span class="due-text grey">Did you run <code>--submit</code>?</span>
            </div>

            {% endif %}
            <!-- Score - for later.
            <td class="tip-trigger"><span>6/7
              <div class="tip group-members">
                <span><b>correctness:</b> 5/5</span>
                <span><b>composition:</b> 1/2</span>
              </div>
            </span>

            <td class="tip-trigger"><span>-
                  <div class="tip">
                    <span>Not released or Ungraded</span>
                  </div>
                </span>
            </td>
          </td> -->
          </td>
          <td>
            {% if assign.active %}
            <div class="due-dot green"></div>
            <div class="due">
              <span class="due-text green">{{ humanize.naturaltime(assign.due_date) }}</span>
              <span class="due-date">{{ utils.local_time(assign.due_date, course) }}</span>
            </div>
            {% else %}
            <div class="due-dot red"></div>
            <div class="due">
              <span class="due-text red">{{ humanize.naturaltime(assign.due_date) }}</span>
              <span class="due-date">{{ utils.local_time(assign.due_date, course) }}</span>
            </div>

            {% endif %}

          </td>
          {% if group %}
          <td class="tip-trigger">
              {% if group.is_pending() %}
              <div class="due-dot red"></div>
                <div class="due">
                      <span class="due-text red"> Invitation Pending </span>
                      <span class="due-date error"> Waiting for a response from: </span>
                      {% for member in group.members %}
                           {% if member.status == "pending" %}
                            <span class="due-date red">{{ member.user.email }} </span>
                           {% endif %}
                      {% endfor %}
                  {% else %}
                  <div class="due-dot green"></div>
                    <div class="due">

                    <span class="due-text"> {{ group.members | length }} Members </span>
                    <span class="due-date">Max Group Size: {{assign.max_group_size }} members</span>
                  {% endif %}
                  <div class="tip group-members">
                      {% for member in group.members %}
                           {% if member.status == "active" %}
                            <span><i class="fa fa-user"></i> {{ member.user.email }} </span>
                           {% else %}
                            <span><i class="fa fa-inbox red"></i> Pending invite for: {{ member.user.email }}  </span>

                           {% endif %}
                      {% endfor %}
                  </div>
                </div>
          </td>
          {% elif assign.max_group_size == 1 %}
          <td>
            <div class="due-dot"></div>
            <div class="due">
              <span class="due-text">Indvidual Assignment</span>
              <span class="due-date">No Partners Allowed</span>
            </div>
          </td>
          {% else %}
          <td class="tip-trigger">
                <div class="due-dot grey"></div>
                <div class="due">
                  <span class="due-text">No group</span>
                  <span class="due-date">Max Group Size: {{assign.max_group_size }} members</span>
                  <div class="tip group-members">
                    <span> Maximum Group Size is {{assign.max_group_size }} </span>
                  </div>

                </div>
            </td>

          {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% elif empty %}
  <div class="subcontent list hidden-xs hidden-sm">
    <div class="wrap">
      <h2>No {{ tname }}</h2>
    </div>
  </div>
  {% endif %}
{% endmacro %}

{% macro render_assign_mobile(assignments, course, tname="Assignments", admin=False, empty=False) %}
  {% if assignments %}
  <div class="subcontent list hidden-md hidden-lg">
    <div class="wrap">
      <h2>{{ tname }}</h2>
      {% for assign, subm_time, group in assignments %}
      <div class="cell col-xs-12">
        <div class="cell-title">
          <a class="dashed" href="{{ url_for('.assignment', course=course.offering, assign=assign.offering_name())}}">
              {{assign.display_name}} &raquo;
          </a>
        </div>
        <div class="cell-text">
          {% if subm_time %}
            <span class="due-dot green"></span>
            <span class="green">Submitted</span>
            <span>{{ utils.local_time(subm_time, course) }}</span>
          {% else %}
          <!-- <span class="due-dot grey">
          <span class="grey">No Submission</span>
          <span>Did you run --submit<?</span> -->
          {% endif %}
        </div>
        <!-- <div class="cell-text"><span>Score: 6/7</span></div> -->
        <div class="cell-status">
          {% if assign.active %}
          <span class="due-dot green"></div>
            <span class="green">{{ humanize.naturaltime(assign.due_date) }}</span>
            <span>{{ utils.local_time(assign.due_date, course) }}</span>
          {% else %}
          <span class="due-dot red"></div>
            <span class=" red">{{ humanize.naturaltime(assign.due_date) }}</span>
            <span>{{ utils.local_time(assign.due_date, course) }}</span>
          {% endif %}
        </div>
      </div>
      {% endfor %}
  </div>
</div>

  {% elif empty %}
  <div class="subcontent list hidden-md hidden-lg">
    <div class="wrap">
      <h2>No {{ tname }}</h2>
    </div>
  </div>
  {% endif %}
{% endmacro %}
