{% extends "staff/base.html" %}
{% import 'staff/_formhelpers.html' as forms %}

{% block title %} bCourses Assignment - {{ current_course.display_name_with_semester }}{% endblock %}

{% block main %}
<section class="content-header">
    <h1>
        {{ current_course.display_name_with_semester }} bCourses Assignment
        <small>{{ current_course.offering }}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ url_for(".index") }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{ url_for(".course", cid=current_course.id) }}">
            <i class="fa fa-university"></i> {{ current_course.offering }}
        </a></li>
        <li><a href="{{ url_for(".canvas_course", cid=current_course.id) }}">
            <i class="fa fa-address-book"></i>bCourses
        </a></li>
        <li class="active"><a href="#">
            <i class="fa fa-address-book"></i>bCourses Assignment
        </a></li>
    </ol>
</section>

<section class="content">
    {% include 'alerts.html' %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                {% call forms.render_form(form) %}
                    {{ forms.render_field(form.assignment_id, label_visible=true) }}
                    {{ forms.render_field(form.external_id, label_visible=true) }}
                    {{ forms.render_field(form.score_kinds, label_visible=true, class_="checkbox-list") }}
                {% endcall %}
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
{% endblock %}
