{% extends "staff/base.html" %}
{% import 'staff/_formhelpers.html' as forms %}

{% block title %} Publish Scores | OK {% endblock %}

{% block main %}
  <section class="content-header">
      <h1>
        Publish {{ assignment.display_name }} Scores
        <small>{{ current_course.offering }}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ url_for(".index") }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{ url_for(".course", cid=current_course.id) }}">
            <i class="fa fa-university"></i> {{ current_course.offering }}
        </a></li>
        <li><a href="{{ url_for('.course_assignments', cid=current_course.id) }}">
          <i class="fa fa-list"></i> Assignments</a>
        </li>
        <li class="active"><a href="{{ url_for('.assignment', cid=current_course.id, aid=assignment.id) }}"><i class="fa fa-book"></i> {{ assignment.display_name }}</a></li>
    	</ol>
  </section>

  <section class="content">

  		{% include 'alerts.html' %}

  		<!-- Default box -->
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Publish Scores</h3>
                      <div class="box-tools clearfix">
          </div>

          </div>
          <div class="box-body">
              <label class="control-label">
                Currently Published Tags:
              </label>
                {% for kind in assignment.published_scores %}
                  {{ kind | title }}{% if not loop.last %}, {% endif %}
                {% endfor %}
              <br>

              {% call forms.render_form(form, action_url="", action_text='Publish', class_='form', btn_class='ag-submit-btn btn btn-default',) %}
              		{{ forms.render_field(form.grades, label_visible=true) }}
                  {{ forms.render_checkbox_field(form.hide, label_visible=true) }}
              {% endcall %}
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->



{% endblock %}
