{% extends "staff/base.html" %}

{% block title %} Assignments - {{ current_course.display_name_with_semester }}{% endblock %}

{% block main %}
  <section class="content-header">
      <h1>
        {{ current_course.display_name_with_semester }} Assignments
        <small>{{ current_course.offering }}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ url_for("admin.course", cid=current_course.id) }}">
            <i class="fa fa-university"></i> {{ current_course.offering }}
        </a></li>
        <li class="active"><a href="#"><i class="fa fa-book"></i> Assignments</a></li>
      </ol>
  </section>

  <section class="content">
        {% include 'alerts.html' %}

        <!-- Default box -->
        <div class="box box-default box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">Categories</h3>
            <div class="box-tools pull-right">
              <a class="btn btn-sm btn-default btn-flat" href="{{url_for('.new_category', cid=current_course.id)}}">
                <i class="fa fa-plus"></i> Category
              </a>
              <a class="btn btn-sm btn-default btn-flat" href="{{url_for('.new_assignment', cid=current_course.id)}}">
                <i class="fa fa-plus"></i> Create Assignment
              </a>
            </div>
          </div>
          <div class="box-body">
            {% for category in categories %}
            <div class="panel box box-solid">
              <div class="box-header ">
                <h3 class="box-title">{{ category.name }}</h3>
              </div>
            </div>
            {% endfor %}
          </div>
          <!-- /.box-body -->
          <!-- /.box-footer-->
        </div>
        <!-- /.box -->

  </section>

  <!-- </body> do not close body in template-->
{% endblock %}
