{% extends "staff/base.html" %}

{% block title %} Assignments - {{ current_course.display_name_with_semester }}{% endblock %}

{% block main %}
  <section class="content-header">
      <h1>
        {{ current_course.display_name_with_semester }} Assignments
        <small>{{ current_course.offering }}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ url_for("admin.course", cid=current_course.id) }}">
            <i class="fa fa-university"></i> {{ current_course.offering }}
        </a></li>
        <li class="active"><a href="#"><i class="fa fa-book"></i> Assignments</a></li>
      </ol>
  </section>

  <section class="content">
        {% include 'alerts.html' %}

        <!-- Default box -->
        <div class="box box-default box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">Categories</h3>
            <div class="box-tools pull-right">
              <a href="javascript:void(0)" class="toggle-accordion btn btn-sm btn-default btn-flat" accordion-id="#accordion">Collapse All</a>
              <a class="btn btn-sm btn-default btn-flat" href="{{url_for('.new_category', cid=current_course.id)}}">
                <i class="fa fa-plus"></i> Category
              </a>
              <a class="btn btn-sm btn-default btn-flat" href="{{url_for('.new_assignment', cid=current_course.id)}}">
                <i class="fa fa-plus"></i> Assignment
              </a>
            </div>
          </div>
          <div class="box-body">
            <div class="box-group" id="accordion" aria-multiselectable="true">
            {% for category in categories %}
            <div class="panel box box-solid">
              <a role="button" data-toggle="collapse" href={{ "#collapse" + category.name }} aria-expanded="true">
                <div class="box-header">
                  <h3 class="box-title">
                   {{ category.name }}
                  </h3>
                  <div class="pull-right">
                    <small>{{ category.assignments|length }} Assignments</small>
                  </div>
                </div>
              </a>
              <div id={{ "collapse" + category.name }} class="panel-collapse collapse in">
              <div class="box-body">
                <table class="table">
                  <tbody>
              {% if category.assignments %}
                  <tr>
                    <th>Name</th>
                    <th>Endpoint</th>
                    <th>Points</th>
                    <th>Visible</th>
                    <th>Due Date</th>
                  </tr>
              {% endif %}
              {% for assignment in category.assignments %}
                  <tr>
                    <td style='width: 200px'><a href="{{ url_for('.assignment', cid=current_course.id, aid=assignment.id) }}">{{ assignment.display_name }}</a></td>
                    <td>{{ assignment.name }}</td>
                    <td style='width:40px'>{{ assignment.points }}</td>
                    <td style='width:60px'>
                        {% if assignment.visible %}
                          <span class="label label-success">Visible</span>
                        {% else %}
                          <span class="label label-warning">Hidden</span>
                        {% endif %}
                    </td>
                    <td style='width: 140px'>{{ utils.local_time(assignment.due_date, current_course) }}</td>
                  </tr>
              {% endfor %}
                </tbody>
              </table>
              </div>
              </div>
            </div>
            {% endfor %}
          </div>
          </div>
          <!-- /.box-body -->
          <!-- /.box-footer-->
        </div>
        <!-- /.box -->

  </section>

  <!-- </body> do not close body in template-->
{% endblock %}


{% block page_css %}
<style>
body {
  overflow: scroll
}
.box-body {
  padding: 0;
}
.panel .box-header {
  background-color: #f9f9f9;
  padding: 16px 10px;
  border-bottom: 1px solid #ddd;
}
.panel small {
  padding-left: 8px;
}
#accordion .panel {
  box-shadow: none;
  margin-bottom: 0px;
}
th {
  color: #333;
}
</style>
{% endblock %}

{% block page_js %}
<script>
$(".toggle-accordion").on("click", function() {
    var accordionId = $(this).attr("accordion-id"),
      numPanelOpen = $(accordionId + ' .collapse.in').length;

    $(this).toggleClass("active");

    if (numPanelOpen == 0) {
      $(this).html("Collapse All")
      openAllPanels(accordionId);
    } else {
      $(this).html("Expand All")
      closeAllPanels(accordionId);
    }
  })

  openAllPanels = function(aId) {
    console.log("setAllPanelOpen");
    $(aId + ' .panel-collapse:not(".in")').collapse('show');
  }
  closeAllPanels = function(aId) {
    console.log("setAllPanelclose");
    $(aId + ' .panel-collapse.in').collapse('hide');
  }
</script>
{% endblock %}
