<html>
<head>
    <title>Okpy</title>
    <link href="/static/student/styles/public.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="logo">
        <img src="/static/student/images/logo-light.png">
        <h1>Okpy</h1>
    </div>
    <nav>
        <ul>
            <li><a href="https://ok-server.appspot.com">Dashboard</a></li>
        </ul>
    </nav>
</header>
<section class="top center-container">
    <div class="center">
        <h1 class="title">Ok!</h1>
        <h2 class="subtitle">You have been authenticated.</h2>
        <span class="break">
        <a href="https://ok-server.appspot.com" class="button">Dashboard</a>
        <p class="copy">or <a href="/static/student/tour.html">take a tour</a></p>


    </div>
</section>
<footer>
    <h3>okpy</h3>
    <p><a href="http://cs61a.org">cs61a.org</a> . <a href="http://composingprograms.com">composingprograms.com</a> . <a href="https://github.com/Cal-CS-61A-Staff/ok">github repo</a></p>
</footer>
</body>
<link href='http://fonts.googleapis.com/css?family=Roboto:400|Roboto+Condensed' rel='stylesheet'
      type='text/css'>
</html>
