<html>
<head>
  <title>Okpy</title>
  <link href='//fonts.googleapis.com/css?family=Raleway:200|Open+Sans:300,700' rel='stylesheet' type='text/css'>
  <link href="/static/student/styles/public.css" rel="stylesheet">
  <script src="//cdn.ravenjs.com/1.1.2/jquery,native/raven.min.js"></script>
    <script>
    Raven.config('https://edc8538d3d5f47fcb1b14c33d9ae7d8b@app.getsentry.com/36686', {
        whitelistUrls: ['https://ok-server.appspot.com', 'ok-server.appspot.com']
    }).install();
    </script>

</head>
  <body>
    <header>
      <div class="logo">
        <img src="/static/student/images/logo-light.png">
        <h1>Okpy</h1>
      </div>
      <nav>
        <ul>
          <li><a href={{users_link}}>{{users_title}}</a></li>
        </ul>
      </nav>
    </header>
    <section class="top center-container" style="background:url('/static/student/images/bg-index-top.png');background-size:cover">
      <div class="center">
        <h1 class="title">Better programming projects</h1>
        <h2 class="subtitle">Run tests, track progress, and assist in debugging</h2>
        <span class="break">
        {% if user %}
              <a href='/login' class="button">Student Dashboard</a></span>
        {% else %}
              <a href={{users_link}} class="button">Student Login</a></span>
        {% endif %}



      </div>
      <div class="bar">
        <p class="msg"><b>Instructor</b>, Interested in trying ok for your course? </p>
        <form class="input" action="">
          <a class="bar-input" href="mailto:ok@cs61a.org?subject=Interested%20in%20OK&cc=denero@berkeley.edu"> ok@cs61a.org </a>
        </form>
      </div>
    </section>
    <footer>
      <h3>okpy</h3>
      <p><a href="http://cs61a.org">cs61a.org</a> . <a href="http://composingprograms.com">composingprograms.com</a> . <a href="https://github.com/Cal-CS-61A-Staff/ok">github repo</a></p>
    </footer>
  </body>
</html>
