* {
	float:left;
	margin:0;
	padding:0;
	font-family:'Open Sans';
	font-weight:300;
	position:relative;
}
html,body,h1,h2,h3,h4,h5,h6,header,section,article,footer,.center-container { width:100% }
html,body,.center-container { min-height:100% }
h1,h2,h3,h4,h5,h6 { font-weight:lighter; text-align:center; }
a, c, br { float:none }
b { font-weight:700 }
html {
    background-color:#eee;
}
a {
	text-decoration:inherit;
	font-family:inherit;
	color:inherit;
	font-size:inherit;
}
.bar input, a,.stripes,.submit,header a {
	transition:			0.2s ease;
	-webkit-transition:	0.2s ease;
	-moz-transition:	0.2s ease;
	-o-transition:		0.2s ease;
}
.button {
	background-color:#FF9326;
	font-weight:700;
	padding:15px 30px;
	color:#FFF;
	font-size:0.75em;
	letter-spacing:2px;
	border-radius:30px;
	text-transform:uppercase;
	display:inline-block;
	margin-top:30px;
}
	.button:hover {
		background-color:rgba(255, 147, 38, 0.8);
	}

.center {
	width:800px;
	height:300px;
	position:absolute;
	top:50%;
	right:50%;
	margin-top:-150px;
	margin-right:-400px;
	text-align:center;
}

.center * + * {
    margin-top:20px;
}

.auth-title, .auth-subtitle { width:100% }

.auth-title {
    font-size:4em;
}

.check {
	width:80px;
	height:80px;
	background-color:rgba(255, 147, 38, 1);
	border-radius:50%;
	display:inline-block;
	float:none;
}

	.sizer {
		height:30px;
		width:30px;
		padding:20px;
		transform:			rotate(45deg);
		-webkit-transform:	rotate(45deg);
		-moz-transform:		rotate(45deg);
		-o-transform:		rotate(45deg);
	}
	.mark {
		height:100%;
		width:25%;
		float:right;
		background-color:#FFF;
	}
		.mark::before {
			content:"";
			position:absolute;
			bottom:0;
			right:0;
			width:200%;
			height:25%;
			background-color:#FFF;
		}
.clear {
	width:100%;
	text-align:center;
}