* {
    float: left;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-weight: 300;
    position: relative
}
article,
body,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
section {
    width: 100%
}
body,
html {
    height: 100%
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: lighter;
    text-align: center
}
a,
br,
c {
    float: none
}
b {
    font-weight: 700
}
a {
    text-decoration: inherit;
    font-family: inherit;
    color: inherit;
    font-size: inherit
}
.bar input,
.stripes,
.submit,
a,
header a {
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease
}
.button {
    background-color: #2878c8;
    font-weight: 700;
    padding: 25px 50px;
    color: #FFF;
    font-size: 1em;
    letter-spacing: 2px;
    border-radius: 5px;
    text-transform: uppercase;
    display: inline-block;
    float: none
}
.button:hover {
    background-color: #164370
}
.button.small {
    font-size: .75em;
    font-family: 'Roboto Condensed'
}
.sect {
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease
}
.fntc {
    float: none;
    display: inline-block
}
.top {
    text-align: center;
    -webkit-animation: fade-in .5s ease;
    -moz-animation: fade-in .5s ease;
    -o-animation: fade-in .5s ease;
    animation: fade-in .5s ease;
    background-color: #205d9b;
}
.nav {
    padding: 40px 50px
}
img {
    border: none;
    outline: 0;
    float: none;
    display: inline-block
}
header {
    position: absolute;
    top: 0;
    left: 0;
    color: #FFF;
    width: 100%;
    z-index: 1000;
    padding: 25px 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-animation: drop-in 2.5s ease;
    -moz-animation: drop-in 2.5s ease;
    -o-animation: drop-in 2.5s ease;
    animation: drop-in 2.5s ease
}
.stripes {
    width: 20px;
    margin-top: 3px;
    margin-left: 10px
}
.stripes:hover {
    margin-top: 0;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg)
}
.stripe {
    width: 100%;
    height: 2px;
    margin-bottom: 3px;
    background-color: #FFF
}
header nav {
    float: right
}
header h1 {
    margin-left: 5px;
    font-size: 1.25em;
    text-transform: uppercase;
    color: #FFF;
    width: auto;
    font-family: 'Roboto Condensed'
}
header li a {
    display: inline-block;
    float: left;
    margin: 5px;
    padding: 10px;
    text-transform: uppercase;
    font-size: .85em;
    border-bottom: 1px dotted transparent;
    font-family: 'Roboto Condensed'
}
.copy a,
header li a:hover {
    border-bottom: 1px dotted rgba(255, 255, 255, .5)
}
.copy a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, .5)
}
.logo {
    width: 150px;
    margin: 10px 0
}
.logo h1 {
    line-height: 2em
}
.logo img {
    float: left
}
.center-container {
    text-align: center;
    overflow: hidden
}
.center-container::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%
}
.center {
    display: inline-block;
    text-align: center;
    float: none;
    vertical-align: middle;
    width: 700px
}
h1.title {
    font-size: 3.1em;
    font-family: 'Roboto Condensed';
    font-weight: 200;
    color: #FFF;
    -webkit-animation: fade-in-2 1s ease;
    -moz-animation: fade-in-2 1s ease;
    -o-animation: fade-in-2 1s ease;
    animation: fade-in-2 1s ease
}
.subtitle {
    color: #FFF;
    width: 100%;
    padding: 20px 0;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: .75em;
    text-transform: uppercase;
    opacity: .5;
    -webkit-animation: fade-in-3 1.25s ease;
    -moz-animation: fade-in-3 1.25s ease;
    -o-animation: fade-in-3 1.25s ease;
    animation: fade-in-3 1.25s ease
}
.center .button {
    -webkit-animation: fade-in-4 2s ease;
    -moz-animation: fade-in-4 2s ease;
    -o-animation: fade-in-4 2s ease;
    animation: fade-in-4 2s ease
}
.break {
    width: 100%;
    float: inline-block
}
.copy {
    width: 100%;
    color: rgba(255, 255, 255, .5);
    margin-top: 1em;
    -webkit-animation: fade-in-5 3.5s ease;
    -moz-animation: fade-in-5 3.5s ease;
    -o-animation: fade-in-5 3.5s ease;
    animation: fade-in-5 3.5s ease
}
.rise {
    margin-top:-100px;
    -webkit-animation: rise-up 3s ease;
    -moz-animation: rise-up 3s ease;
    -o-animation: rise-up 3s ease;
    animation: rise-up 3s ease
}
.bar-input {
    color: rgba(255, 255, 255, .5);
    font-family: 'Roboto Condensed';
    font-size: 30px
}
.bar-input:hover {
    color: #FFF
}
.center .button {
    margin-top: 20px
}
.arrow {
    position: absolute;
    margin-top: -5px;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    z-index: 90
}
.arrow .leg {
    width: 10px;
    height: 3px;
    background-color: #FFF
}
.leg+.leg {
    width: 3px;
    height: 10px;
    margin-left: -3px
}
.submit input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: transparent;
    width: 100%;
    height: 100%
}
.submit {
    width: 50px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 100%;
    cursor: pointer;
    opacity: .5
}
.submit:hover {
    opacity: 1
}
h2.title {
    font-size: 1em;
    font-weight: 700;
    color: #000;
    text-transform: uppercase
}
.wrap-container {
    width: 100%;
    text-align: center
}
.wrap {
    display: inline-block;
    float: none;
    width: 600px
}
footer {
    padding: 75px 0;
    box-sizing: border-box;
    background-color: #222;
    color: #666
}
footer h3 {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 10px
}
footer p {
    font-size: .7em;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
    text-transform: uppercase
}
footer p a:hover {
    color: #FFF
}
@-webkit-keyframes fade-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-moz-keyframes fade-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-o-keyframes fade-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes fade-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes fade-in-2 {
    0%, 66% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-moz-keyframes fade-in-2 {
    0%, 66% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-o-keyframes fade-in-2 {
    0%, 66% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes fade-in-2 {
    0%, 66% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes fade-in-3 {
    0%, 75% {
        opacity: 0
    }
    100% {
        opacity: .5
    }
}
@-moz-keyframes fade-in-3 {
    0%, 75% {
        opacity: 0
    }
    100% {
        opacity: .5
    }
}
@-o-keyframes fade-in-3 {
    0%, 75% {
        opacity: 0
    }
    100% {
        opacity: .5
    }
}
@keyframes fade-in-3 {
    0%, 75% {
        opacity: 0
    }
    100% {
        opacity: .5
    }
}
@-webkit-keyframes fade-in-4 {
    0%, 80% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-moz-keyframes fade-in-4 {
    0%, 80% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-o-keyframes fade-in-4 {
    0%, 80% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes fade-in-4 {
    0%, 80% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes fade-in-5 {
    0%, 90% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-moz-keyframes fade-in-5 {
    0%, 90% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-o-keyframes fade-in-5 {
    0%, 90% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes fade-in-5 {
    0%, 90% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes drop-in {
    0%, 88% {
        margin-top: -100px
    }
    100% {
        margin-top: 1
    }
}
@-moz-keyframes drop-in {
    0%, 88% {
        margin-top: -100px
    }
    100% {
        margin-top: 1
    }
}
@-o-keyframes drop-in {
    0%, 88% {
        margin-top: -100px
    }
    100% {
        margin-top: 1
    }
}
@keyframes drop-in {
    0%, 88% {
        margin-top: -100px
    }
    100% {
        margin-top: 1
    }
}
@-webkit-keyframes rise-up {
    0%, 88% {
        margin-top: 0;
        opacity:0;
    }
    100% {
        margin-top:-100px;
        opacity:1;
    }
}
@-moz-keyframes rise-up {
    0%, 88% {
        margin-top: 0;
        opacity:0;
    }
    100% {
        margin-top:-100px;
        opacity:1;
    }
}
@-o-keyframes rise-up {
    0%, 88% {
        margin-top: 0;
        opacity:0;
    }
    100% {
        margin-top:-100px;
        opacity:1;
    }
}
@keyframes rise-up {
    0%, 88% {
        margin-top: 0;
        opacity:0;
    }
    100% {
        margin-top:-100px;
        opacity:1;
    }
}

.blob-action,.arrow,.blob-text,.blob-more,.menu,.container-fluid,.label,.flag {
    transition:         0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition:    0.4s ease;
    -o-transition:      0.4s ease;
}

/* Elements */
.arrow {
    width:10px;
    height:3px;
}
    .arrow::before {
        content:"";
        position:absolute;
        bottom:0;
        right:0;
        height:10px;
        width:3px;
    }
    .arrow,.arrow::before,.check,.check::before {
        display:inline-block;
    }
    .colored .arrow,.colored .arrow::before,.arrow.white,.arrow.white::before {
        background-color:#FFF;
    }
    .arrow,.arrow::before,.arrow.dark,.arrow.dark::before {
        background-color:#666;
    }
    .arrow.fat {
        width:7px;
        height:3px;
    }
        .arrow.fat::before {
            height:7px;
            width:3px;
        }
    .arrow.right {
        color:#FFF;
        transform:          rotate(-45deg);
        -webkit-transform:  rotate(-45deg);
        -moz-transform:     rotate(-45deg);
        -o-transform:       rotate(-45deg);
    }
    input {
        border:none;
        outline:none;
    }

/* blob themes */
.blob[color="blue"], .colored.sidebar[color="blue"] { background-color:#00698C }
.blob[color="blue"] .blob-alert { background-color: #00BFFF }

.blob[color="green"], .colored.sidebar[color="green"] { background-color: #698C00 }
.blob[color="green"] .blob-alert { background-color: #A3D900 }

.blob[color="gold"], .colored.sidebar[color="gold"] { background-color:#D9A300 }
.blob[color="gold"] .blob-alert { background-color:#FFC926 }

/* Blobs */
.blob {
    color:#666;
    background-color:#eee;
    position:relative;
    display:inline-block;
    float:left;
    width:100%;
    margin-top:2.5em;
    text-align:left;
    border-radius:5px;
}
    .blob.first {
        margin-top:0;
    }
    .blob-alert {
        background-color:transparent;
        position:absolute;
        top:0;
        right:0;
        width:3em;
        height:3em;
        border-radius:50%;
        margin-right:-1.5em;
        margin-top:35px;
        line-height:2.5em;
        font-size:1.25em;
        text-align:center;
        border:5px solid #FFF;
        z-index:10;
        font-weight:700;
    }
        .blob-alert .check {
            margin:0 0.25em 2.5px 0;
        }
        .blob-alert.thin {
            font-size:1em;
            font-weight:500;
            width:4em;
            height:4em;
            line-height:3.25em;
            margin-right:-1.75em;
        }
    .colored,.blob-more {
        color:#FFF;
    }
        .good .blob-alert { background-color:#690 }
        .bad .blob-alert { background-color:#D93600 }
    .blob-main {
        padding:50px 50px 30px 50px;
    }
    .blob-title {
        font-weight:300;
    }
    .blob-subtitle {
        margin-top:15px;
    }
    .blob-action {
        padding:30px 50px;
        background-color:rgba(0,0,0,0.05);
        width:100%;
        display:block;
        text-transform:uppercase;
        position:relative;
        font-weight:700;
        font-size:12px;
        letter-spacing:1px;
        cursor:pointer;
        border-radius:0 0 5px 5px;
        box-sizing:border-box;
    }
        .colored .blob-action {
            background-color:rgba(0,0,0,0.2);
        }
        .blob-action:hover {
            padding:34px 40px;
            margin-top:-8px;
        }
        .blob-action .arrow {
            position:absolute;
            top:40px;
            right:30px;
        }
            .blob-action:hover .arrow {
                top:42px;
                right:25px;
            }
.blob-text, .blob-more {
    position:absolute;
    top:-100%;
    left:0;
    height:100%;
    width:100%;
    z-index:10;
}
    .blob-more {
        overflow:hidden;
    }
        .blob-more.flipped,.blob-more.flipped .blob-text {
            top:0;
        }
        .blob-more .blob-text {
            top:100%;
        }
    .blob-text {
        background-color:#555;
        padding:50px;
    }
    .flip {
        position:absolute;
        top:0;
        right:0;
        padding:20px;
        z-index:15;
        opacity:0.25;
    }
        .flip:hover {
            opacity:1;
            cursor:pointer;
        }
    .blob-shiftcopy {
        padding-left:25px;
        width:100%;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
    }
        .blob-shiftcopy img {
            margin-left:-25px;
            margin-right:5px;
        }
        span .arrow, p .arrow {
            margin:0 5px;
        }
    .blob-input {
        background-color:transparent;
    }
    .blob-subtitle {
        margin:0 0 15px 0
    }
    p img { margin-right:10px; }
    .blob-copy {
        margin-top:15px;
        line-height:150%;
    }
        .colored .blob-copy,.colored .blob-status {
            color:rgba(255,255,255,0.75);
        }
    .blob-status {
        font-style:italic;
    }
    span[class^="icon-"] {
        height:16px;
        width:16px;
        display:inline-block;
        margin-left:-25px;
        margin-right:5px;
    }
        .icon-clock {
            background:url('../images/icon-calendar-tiny-dark.png') transparent no-repeat center center;
        }
        .colored .icon-clock {
             background:url('../images/icon-calendar-tiny-light.png') transparent no-repeat center center;
        }
        .icon-tag {
            background:url('../images/icon-tag-dark.png') transparent no-repeat center center;
        }
        .colored .icon-tag {
             background:url('../images/icon-tag-light.png') transparent no-repeat center center;
        }
    .row:last-child {
        margin-bottom:10em
    }
.col-md-4 {
    width:50%;
}
.blob * {
    text-align:left;
}
section {
    text-align:center;
}
.wrap {
    width:800px;
    display:inline-block;
    float:none;
}
.courses {
    padding:25px 0 75px 0;
}
.status {
    width:100%;
    color:#FFF;
    padding:2.5em 0;
    background-color:#164370;
    text-align:center;
    font-size:1em;
    letter-spacing:2px;
    text-transform:uppercase;
    font-family:'Roboto Condensed'
}
.arrow {
    display:none;
}
.empty p {
    width:100%;
    color:#666;
    background-color:#f6f6f6;
    border-radius:3px;
    padding:50px 75px;
    box-sizing:border-box;
    margin-bottom:-30px;
    line-height:200%;
}
