* {
	float:left;
	margin:0;
	padding:0;
	font-family:'Open Sans';
	font-weight:300;
	position:relative;
}
html,body,h1,h2,h3,h4,h5,h6,header,section,article,footer { width:100% }
html,body { height:100% }
h1,h2,h3,h4,h5,h6 { font-weight:lighter; text-align:center; }
a, c, br { float:none }
b { font-weight:700 }
html {
    background-color:#eee;
}
a {
	text-decoration:inherit;
	font-family:inherit;
	color:inherit;
	font-size:inherit;
}
.bar input, a,.stripes,.submit,header a {
	transition:			0.2s ease;
	-webkit-transition:	0.2s ease;
	-moz-transition:	0.2s ease;
	-o-transition:		0.2s ease;
}
.button {
	background-color:#FF9326;
	font-weight:700;
	padding:15px 30px;
	color:#FFF;
	font-size:0.75em;
	letter-spacing:2px;
	border-radius:30px;
	text-transform:uppercase;
	display:inline-block;
}
	.button:hover {
		background-color:rgba(255, 147, 38, 0.8);
	}
