h1,h2,h3,h4,h5,h6 {
    margin:0;
    font-family:'Roboto Condensed';
}
p, a, li, span {
    font-family:'Roboto';
}
a, a:hover {
    text-decoration:inherit;
    font-size:inherit;
    font-weight:inherit;
    color:inherit;
    float:none;
}
    p a {       border-bottom:1px dotted #666 }
    p a:hover { border-bottom:1px solid #666 }
    li { list-style:none; }
.blob-action,.arrow,.blob-text,.blob-more {
    transition:         0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition:    0.4s ease;
    -o-transition:      0.4s ease;
}
.sidebars {
    transition:         0.4s ease 0.01s;
    -webkit-transition: 0.4s ease 0.01s;
    -moz-transition:    0.4s ease 0.01s;
    -o-transition:      0.4s ease 0.01s;
}
.wrap-container {
    transition:         0.6s ease 0.01s;
    -webkit-transition: 0.6s ease 0.01s;
    -moz-transition:    0.6s ease 0.01s;
    -o-transition:      0.6s ease 0.01s;
}
/*.wrap-container {
    transition:         0.3s ease 0.6s;
    -webkit-transition: 0.3s ease 0.6s;
    -moz-transition:    0.3s ease 0.6s;
    -o-transition:      0.3s ease 0.6s;
}*/
.cover {
    transition:         0.4s ease 0.4s;
    -webkit-transition: 0.4s ease 0.4s;
    -moz-transition:    0.4s ease 0.4s;
    -o-transition:      0.4s ease 0.4s;
}
/* Structure */
.wrap-container {
    text-align:center;
}
.wrap {
    width:80%;
    max-width:1000px;
    float:none;
    display:inline-block;
    text-align:left;
    margin-top:50px;
}
/* Commons */
header {
    border-bottom:1px solid #eee;
    width:100%;
    float:left;
}
    .logo, .tools,.tools a { display:block; }
        .logo h1 {
            width:auto;
            text-align:left;
            font-size:1.5em;
        }
        .logo img {
            float:left;
            height:1.5em;
        }
        .logo {
            padding:30px;
        }
        .tools li a {
            float:right;
            padding:30px 20px;
            color:#666;
        }
        .tools img {
            margin-right:10px;
        }
.menu {
    display:none;
}
/* Elements */
.arrow {
    width:10px;
    height:3px;
}
    .arrow::before {
        content:"";
        position:absolute;
        bottom:0;
        right:0;
        height:10px;
        width:3px;
    }
    .arrow,.arrow::before,.check,.check::before {
        display:inline-block;
    }
    .colored .arrow,.colored .arrow::before,.arrow.white,.arrow.white::before {
        background-color:#FFF;
    }
    .arrow,.arrow::before,.arrow.dark,.arrow.dark::before {
        background-color:#666;
    }
    .arrow.fat {
        width:7px;
        height:3px;
    }
        .arrow.fat::before {
            height:7px;
            width:3px;
        }
    .right {
        color:#FFF;
        transform:          rotate(-45deg);
        -webkit-transform:  rotate(-45deg);
        -moz-transform:     rotate(-45deg);
        -o-transform:       rotate(-45deg);
    }
    input {
        border:none;
        outline:none;
    }
.stripes {
    display:inline-block;
    float:right;
    width:16px;
    cursor:pointer;
    margin:5px 10px;
}
    .stripe {
        display:inline-block;
        width:100%;
        height:2px;
        margin-bottom:2px;
        background-color:#666;
    }
.check {
    width:7px;
    height:3px;
    transform:          rotate(45deg);
    -webkit-transform:  rotate(45deg);
    -moz-transform:     rotate(45deg);
    -o-transform:       rotate(45deg);
}
    .check::before {
        content:"";
        position:absolute;
        bottom:0;
        right:0;
        height:10px;
        width:3px;
    }
    .check,.check::before {
        background-color:#FFF;
    }
.icon-question {
    font-weight:700;
    font-size:1.5em;
    display:inline-block;
    margin-top:-0.25em;
}
/* blob themes */
.blob[color="blue"], .colored.sidebar[color="blue"] { background-color:#00698C }
.blob[color="blue"] .blob-alert { background-color: #00BFFF }

.blob[color="green"], .colored.sidebar[color="green"] { background-color: #698C00 }
.blob[color="green"] .blob-alert { background-color: #A3D900 }

.blob[color="gold"], .colored.sidebar[color="gold"] { background-color:#D9A300 }
.blob[color="gold"] .blob-alert { background-color:#FFC926 }
        
/* Blobs */
.blob {
    color:#666;
    background-color:#eee;
    position:relative;
    display:inline-block;
    float:left;
    width:100%;
    margin-top:2.5em;
}
    .blob-alert {
        background-color:transparent;
        position:absolute;
        top:0;
        right:0;
        width:3em;
        height:3em;
        border-radius:50%;
        margin-right:-1.5em;
        margin-top:35px;
        line-height:2.5em;
        font-size:1.25em;
        text-align:center;
        border:5px solid #FFF;
        z-index:10;
        font-weight:700;
    }
        .blob-alert .check {
            margin:1.2em 0.25em 0 0;
        }
    .colored,.blob-more {
        color:#FFF;
    }
        .good .blob-alert { background-color:#690 }
        .bad .blob-alert { background-color:#D93600 }
    .blob-main {
        padding:50px 50px 30px 50px;
    }
    .blob-subtitle {
        margin-top:15px;
    }
    .blob-action {
        padding:30px 50px;
        background-color:rgba(0,0,0,0.05);
        width:100%;
        display:block;
        text-transform:uppercase;
        position:relative;
        font-weight:700;
        font-size:14px;
        letter-spacing:1px;
        cursor:pointer;
    }
        .colored .blob-action {
            background-color:rgba(0,0,0,0.2);
        }
        .blob-action:hover {
            padding:34px 40px;
            margin-top:-8px;
        }
        .blob-action .arrow {
            position:absolute;
            top:40px;
            right:30px;
        }
            .blob-action:hover .arrow {
                top:42px;
                right:25px;
            }
.blob-text, .blob-more {
    position:absolute;
    top:-100%;
    left:0;
    height:100%;
    width:100%;
    z-index:10;
}
    .blob-more {
        overflow:hidden;
    }
        .blob-more.flipped,.blob-more.flipped .blob-text {
            top:0;
        }
        .blob-more .blob-text {
            top:100%;
        }
    .blob-text {
        background-color:#555;
        padding:50px;
    }
    .flip {
        position:absolute;
        top:0;
        right:0;
        padding:20px;
        z-index:15;
        opacity:0.25;
    }
        .flip:hover {
            opacity:1;
            cursor:pointer;
        }
    .blob-shiftcopy {
        padding-left:25px;
        width:100%;
        box-sizing:border-box;
    }
        .blob-shiftcopy img {
            margin-left:-25px;
            margin-right:5px;
        }   
        span .arrow, p .arrow {
            margin:0 5px;
        }
    .blob-input {
        background-color:transparent;
    }
    .blob-subtitle {
        margin:0 0 15px 0
    }
    p img { margin-right:10px; }
    .blob-copy {
        margin-top:15px;
        line-height:150%;
    }
        .colored .blob-copy,.colored .blob-status {
            color:rgba(255,255,255,0.5);
        }
    .blob-status {
        font-style:italic;
    }
    .clock {
        height:16px;
        width:16px;
        display:inline-block;
        margin-left:-25px;
        margin-right:5px;
        background:url('../images/icon-calendar-tiny-dark.png') transparent no-repeat center center;
    }
        .colored .clock {
             background:url('../images/icon-calendar-tiny-light.png') transparent no-repeat center center;
        }
    .row:last-child {
        margin-bottom:10em
    }

/* -- sidebar -- */
.active .wrap-container {
    filter: blur(3px);
    filter: url("blur.svg#gaussian_blur");
    -webkit-filter: blur(3px);
    -o-filter: blur(3px);
}
.sidebars {
    position:fixed;
    top:0;
    right:-500px;
    height:100%;
    z-index:30;
    padding-left:5px;
    overflow-y:scroll;
}
    .active .sidebars {
        right:0;
    }
    .sidebar {
        min-height:100%;
        width:100%;
        background-color:#FFF;
        padding:0 0 0 5px;
        margin-right:-1px;
    }
        .colored.sidebar {
            background-color:#777;
        }
    .sidebar li::before,.sidebar-subtitle::before,.sidebar-header::before {
        content:"";
        width:5px;
        z-index:-1;
        position:absolute;
        left:0;
        top:0;
        bottom:0;
        background-color:rgba(0,0,0,0.5);
        left:-5px;
    }
        li + li {
            border-top:1px solid #eee;
        }
        .sidebar * {
            position:relative;
        }
        .sidebar-subtitle::before,.sidebar-header::before {
            z-index:35;
            background-color:rgba(0,0,0,0.2);
        }
            .colored .sidebar-subtitle::before {
                background-color:rgba(0,0,0,0.5);
            }
        .colored .sidebar-header::before {
            z-index:37;
            background-color:rgba(0,0,0,0.1);
        }
            .colored .sidebar-header::before {
                background-color:rgba(0,0,0,0.3);
            }
        .sidebar .sidebar-list li::before {
            z-index:36;
            background-color:rgba(255,255,255,0.8);
        }
    .sidebar-header {
        padding:35px 45px;
    }
    .sidebar-subtitle {
        width:100%;
        padding:25px 45px;
        font-size:1.25em;
        z-index:20;
        margin:0;
        color:#666;
        background-color:#e6e6e6;
    }
        .colored .sidebar-subtitle {
            color:#FFF;
            background-color:rgba(0,0,0,0.3);
        }
    .sidebar-list {
        padding:0;
        margin:0;
    }
    .sidebar li {
        width:100%;
        padding:20px 25px;
        background-color:#FFF;
        color:#666;
    }
        .sidebar li a {
            float:right;
            margin-right:10px;
        }
            .sidebar li .arrow {
                margin-left:10px;
            }
    .sidebar .action {
        width:100%;
        padding:25px;
        display:inline-block;
        color:#666;
        text-transform:uppercase;
        font-weight:700;
        text-align:center;
        box-sizing:border-box;
        z-index:25;
    }
        .colored.sidebar .action:hover {
            color:#FFF;
            cursor:pointer;
            background-color:rgba(0,0,0,0.15);
        }
        .colored.sidebar .action {
            color:rgba(255,255,255,0.75);
        }
    .cover {
        cursor:pointer;
        position:fixed;
        top:0;
        left:100%;
        height:100%;
        width:100%;
        z-index:20;
        background-color:rgba(255,255,255,0.5);
    }
        .active .cover {
            left:0;
        }
    .close {
        z-index:15;
        text-shadow:none;
        cursor:hover;
        transform:          rotate(45deg);
        -webkit-transform:  rotate(45deg);
        -moz-transform:     rotate(45deg);
        -o-transform:       rotate(45deg);
        opacity:1;
    }
        .sidebars .close {
            zoom:150%;
            z-index:38;
            position:absolute;
            top:0;
            right:0;
            margin:10px 20px;
            padding:10px;
            color:rgba(0,0,0,0.25);
            opacity:1;
        }
            .sidebars .close:hover {
                color:rgba(0,0,0,0.75);
            }
        .close.white {
            color:#FFF;
        }
            .blob-alert .close {
                float:none;
                margin-top:0.5em;
            }