h1,h2,h3,h4,h5,h6 {
    margin:0;
    font-family:'Roboto Condensed';
}
p, a, li, span:not([class^="hljs-"]) {
    font-family:'Roboto';
}
a, a:hover, a:focus {
    text-decoration:inherit;
    font-size:inherit;
    font-weight:inherit;
    color:inherit;
    float:none;
}
a:focus {
    outline: 0;
}
    p a {       border-bottom:1px dotted #666 }
    p a:hover { border-bottom:1px solid #666 }
    .colored p a {  border-bottom:1px dotted rgba(255,255,255,0.5) }
    .colored p a:hover { border-bottom:1px solid rgba(255,255,255,0.5) }
    li { list-style:none; }
.blob-action,.arrow,.blob-text,.blob-more,.menu,.container-fluid,.label,.flag {
    transition:         0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition:    0.4s ease;
    -o-transition:      0.4s ease;
}
.sidebar {
    transition:         0.4s ease 0.01s;
    -webkit-transition: 0.4s ease 0.01s;
    -moz-transition:    0.4s ease 0.01s;
    -o-transition:      0.4s ease 0.01s;
}
.toBlur {
    transition:         0.7s ease 0.01s;
    -webkit-transition: 0.7s ease 0.01s;
    -moz-transition:    0.7s ease 0.01s;
    -o-transition:      0.7s ease 0.01s;
}
/*.wrap-container {
    transition:         0.3s ease 0.6s;
    -webkit-transition: 0.3s ease 0.6s;
    -moz-transition:    0.3s ease 0.6s;
    -o-transition:      0.3s ease 0.6s;
}*/
.cover {
    transition:         0.4s ease 0.4s;
    -webkit-transition: 0.4s ease 0.4s;
    -moz-transition:    0.4s ease 0.4s;
    -o-transition:      0.4s ease 0.4s;
}
/* Structure */
.container-fluid {
    padding:0;
    margin:0;
}
.wrap-container {
    text-align:center;
}
.wrap {
    width:80%;
    max-width:1200px;
    float:none;
    display:inline-block;
    text-align:left;
    margin-top:50px;
}
/* Commons */
header {
    border-bottom:1px solid #eee;
    width:100%;
    float:left;
}
    .logo, .tools,.tools a { display:block; }
        .logo h1 {
            width:auto;
            text-align:left;
            font-size:1.5em;
        }
        .logo img {
            float:left;
            height:1.5em;
        }
        .logo {
            padding:30px;
        }
        .tools li a {
            float:right;
            padding:30px 20px;
            color:#666;
        }
        .tools img {
            margin-right:10px;
        }
.menu {
    position:fixed;
    top:0;
    right:-500px;
    height:100%;
    overflow-y:scroll;
    background-color:#FFF;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:20px 0;
    z-index:25;
}

    .menu li a {
        display:inline-block;
        width:100%;
        padding:20px;
    }
    .pushed,.pushed header {
        margin-left:-33.33%;
    }
    .pushed .menu {
        right:0;
    }
/* Elements */
.arrow {
    width:10px;
    height:3px;
}
    .arrow::before {
        content:"";
        position:absolute;
        bottom:0;
        right:0;
        height:10px;
        width:3px;
    }
    .arrow,.arrow::before,.check,.check::before {
        display:inline-block;
    }
    .colored .arrow,.colored .arrow::before,.arrow.white,.arrow.white::before {
        background-color:#FFF;
    }
    .arrow,.arrow::before,.arrow.dark,.arrow.dark::before {
        background-color:#666;
    }
    .arrow.fat {
        width:7px;
        height:3px;
    }
        .arrow.fat::before {
            height:7px;
            width:3px;
        }
    .arrow.right {
        color:#FFF;
        transform:          rotate(-45deg);
        -webkit-transform:  rotate(-45deg);
        -moz-transform:     rotate(-45deg);
        -o-transform:       rotate(-45deg);
    }
    input {
        border:none;
        outline:none;
    }
.stripes {
    display:inline-block;
    float:right;
    width:16px;
    cursor:pointer;
    margin:5px 10px;
    line-height:0;
}
    .stripe {
        display:inline-block;
        width:100%;
        height:2px;
        margin-bottom:2px;
        background-color:#666;
    }
.check {
    width:7px;
    height:3px;
    transform:          rotate(45deg);
    -webkit-transform:  rotate(45deg);
    -moz-transform:     rotate(45deg);
    -o-transform:       rotate(45deg);
}
    .check::before {
        content:"";
        position:absolute;
        bottom:0;
        right:0;
        height:10px;
        width:3px;
    }
    .check,.check::before {
        background-color:#FFF;
    }
.icon-question {
    font-weight:700;
    font-size:1.5em;
    display:inline-block;
    margin-top:-0.25em;
}
/* blob themes */
.blob[color="blue"], .colored.sidebar[color="blue"] { background-color:#00698C }
.blob[color="blue"] .blob-alert { background-color: #00BFFF }

.blob[color="green"], .colored.sidebar[color="green"] { background-color: #698C00 }
.blob[color="green"] .blob-alert { background-color: #A3D900 }

.blob[color="purple"], .colored.sidebar[color="purple"] { background-color: #835186 }
.blob[color="purple"] .blob-alert { background-color: #d976dc; }

.blob[color="gold"], .colored.sidebar[color="gold"] { background-color:#D9A300 }
.blob[color="gold"] .blob-alert { background-color:#FFC926 }

/* Blobs */
.blob {
    color:#666;
    background-color:#eee;
    position:relative;
    display:inline-block;
    float:left;
    width:100%;
    margin-top:2.5em;
    text-align:left;
    border-radius:5px;
}
    .blob.first {
        margin-top:0;
    }
    .blob-alert {
        background-color:transparent;
        position:absolute;
        top:0;
        right:0;
        width:3em;
        height:3em;
        border-radius:50%;
        margin-right:-1.5em;
        margin-top:35px;
        line-height:2.5em;
        font-size:1.25em;
        text-align:center;
        border:5px solid #FFF;
        z-index:10;
        font-weight:700;
    }
        .blob-alert .check {
            margin:0 0.25em 2.5px 0;
        }
        .blob-alert.thin {
            font-size:1em;
            font-weight:500;
            width:4em;
            height:4em;
            line-height:3.25em;
            margin-right:-1.75em;
        }
    .colored,.blob-more {
        color:#FFF;
    }
        .good .blob-alert { background-color:#690 }
        .bad .blob-alert { background-color:#D93600 }
    .blob-main {
        padding:50px 50px 30px 50px;
    }
    .blob-title {
        font-weight:300;
    }
    .blob-subtitle {
        margin-top:15px;
    }
    .blob-action {
        padding:30px 50px;
        background-color:rgba(0,0,0,0.05);
        width:100%;
        display:block;
        text-transform:uppercase;
        position:relative;
        font-weight:700;
        font-size:12px;
        letter-spacing:1px;
        cursor:pointer;
        border-radius:0 0 5px 5px;
    }
        .colored .blob-action {
            background-color:rgba(0,0,0,0.2);
        }
        .blob-action:hover {
            padding:34px 40px;
            margin-top:-8px;
        }
        .blob-action .arrow {
            position:absolute;
            top:40px;
            right:30px;
        }
            .blob-action:hover .arrow {
                top:42px;
                right:25px;
            }
.blob-text, .blob-more {
    position:absolute;
    top:-100%;
    left:0;
    height:100%;
    width:100%;
    z-index:10;
}
    .blob-more {
        overflow:hidden;
    }
        .blob-more.flipped,.blob-more.flipped .blob-text {
            top:0;
        }
        .blob-more .blob-text {
            top:100%;
        }
    .blob-text {
        background-color:#555;
        padding:50px;
    }
    .flip {
        position:absolute;
        top:0;
        right:0;
        padding:20px;
        z-index:15;
        opacity:0.25;
    }
        .flip:hover {
            opacity:1;
            cursor:pointer;
        }
    .blob-shiftcopy {
        padding-left:25px;
        width:100%;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
    }
        .blob-shiftcopy img {
            margin-left:-25px;
            margin-right:5px;
        }
        span .arrow, p .arrow {
            margin:0 5px;
        }
    .blob-input {
        background-color:transparent;
    }
    .blob-subtitle {
        margin:0 0 15px 0
    }
    p img { margin-right:10px; }
    .blob-copy {
        margin-top:15px;
        line-height:150%;
    }
        .colored .blob-copy,.colored .blob-status {
            color:rgba(255,255,255,0.75);
        }
    .blob-status {
        font-style:italic;
    }
    span[class^="icon-"] {
        height:16px;
        width:16px;
        display:inline-block;
        margin-left:-25px;
        margin-right:5px;
    }
        .icon-clock {
            background:url('../images/icon-calendar-tiny-dark.png') transparent no-repeat center center;
        }
        .colored .icon-clock {
             background:url('../images/icon-calendar-tiny-light.png') transparent no-repeat center center;
        }
        .icon-tag {
            background:url('../images/icon-tag-dark.png') transparent no-repeat center center;
        }
        .colored .icon-tag {
             background:url('../images/icon-tag-light.png') transparent no-repeat center center;
        }
    .row:last-child {
        margin-bottom:10em
    }

/* -- sidebar -- */
.active .toBlur {
    filter: blur(3px);
    filter:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' ><filter id='blur10'><feGaussianBlur  stdDeviation='10' /></filter></svg>#blur10");
    -webkit-filter: blur(3px);
    -o-filter: blur(3px);
}
.sidebars {
    position:fixed;
    top:0;
    right:-500px;
    height:100%;
    z-index:30;
    padding-left:5px;
    max-width:400px;
}
    .active.sidebar {
        right:500px;
    }
    .sidebar {
        height:100%;
        width:100%;
        min-width:400px;
        background-color:#FFF;
        padding:0 0 0 5px;
        margin-right:-1px;
        position:absolute;
        right:0;
        top:0;
        overflow-y:scroll;
        text-align:left;
    }
        .colored.sidebar {
            background-color:#777;
        }
    .sidebar li::before,.sidebar-subtitle::before,.sidebar-header::before {
        content:"";
        width:5px;
        z-index:-1;
        position:absolute;
        left:0;
        top:0;
        bottom:0;
        background-color:rgba(0,0,0,0.5);
        left:-5px;
    }
        li + li {
            border-top:1px solid #eee;
        }
        .sidebar * {
            position:relative;
        }
        .sidebar-subtitle::before,.sidebar-header::before {
            z-index:35;
            background-color:rgba(0,0,0,0.2);
        }
            .sidebar-member_label {
                line-height:30px;
                text-align:center;
                width:30px;
                height:30px;
                display:inline-block;
                background-color:#666;
                color:#FFF;
                border-radius:50%;
                margin-left:-10px;
                margin-right:10px;
            }
            .colored .sidebar-subtitle::before {
                background-color:rgba(0,0,0,0.5);
            }
        .colored .sidebar-header::before {
            z-index:37;
            background-color:rgba(0,0,0,0.1);
        }
            .colored .sidebar-header::before {
                background-color:rgba(0,0,0,0.3);
            }
        .sidebar .sidebar-list li::before {
            z-index:36;
            background-color:rgba(255,255,255,0.8);
        }
        .sidebar .fa-close {
            float:right;
            font-size:1.5em;
            line-height:30px;
            cursor:pointer;
            color:#CCC;
            position:relative;
        }
            .sidebar .fa-close:hover {
                color:#999
            }
    .sidebar-header {
        padding:35px 45px;
    }
    .sidebar-subtitle {
        width:100%;
        padding:25px 45px;
        font-size:1.25em;
        z-index:20;
        margin:0;
        color:#666;
        background-color:#e6e6e6;
    }
        .colored .sidebar-subtitle {
            color:#FFF;
            background-color:rgba(0,0,0,0.3);
        }
    .sidebar-list {
        padding:0;
        margin:0;
    }
    .sidebar li {
        width:100%;
        padding:20px 30px 20px 25px;
        background-color:#FFF;
        color:#666;
    }
        .sidebar .subms li {
            padding:20px 95px 20px 55px;
        }
        .sidebar li a {
            position:absolute;
            top:20px;
            right:30px;
        }
            .sidebar li .arrow {
                margin-left:10px;
            }
    .sidebar .action {
        width:100%;
        padding:25px;
        display:inline-block;
        color:#666;
        text-transform:uppercase;
        font-weight:700;
        text-align:center;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        z-index:25;
    }
        .colored.sidebar .action:hover {
            color:#FFF;
            cursor:pointer;
            background-color:rgba(0,0,0,0.15);
        }
        .colored.sidebar .action {
            color:rgba(255,255,255,0.75);
        }
        .sidebar input {
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            padding:20px;
            width:100%;
            color:#666;
        }
        .options {
            position:absolute;
            top:0;
            right:0;
            height:60px;
        }
        .option {
            float:right;
            height:100%;
            display:inline-block;
            width:75px;
            opacity:1;
            cursor:pointer;
            line-height:60px;
            text-align:center;
            color:#FFF;
            font-size:1.25em;
        }
            .option > span {
                margin:30px;
            }
            .option.bad {
                background-color:#cc4229;
            }
                .option.bad .fa-close {
                  float: none;
                  color: #FFF;
                  font-size: 1em;
                }
            .option.good {
                background-color:#690;
            }
        .sortable li {
            cursor:move;
        }
    .cover {
        cursor:pointer;
        position:fixed;
        top:0;
        left:100%;
        height:100%;
        width:100%;
        z-index:20;
        background-color:rgba(255,255,255,0.5);
    }
        .active .cover {
            left:0;
        }
    .close {
        transform:          rotate(45deg);
        -webkit-transform:  rotate(45deg);
        -moz-transform:     rotate(45deg);
        -o-transform:       rotate(45deg);
    }
    .sidebar .close {
        z-index:15;
        text-shadow:none;
        cursor:hover;
        opacity:1;
    }
        .sidebars .close {
            zoom:150%;
            z-index:38;
            position:absolute;
            top:0;
            right:0;
            margin:10px 20px;
            padding:10px;
            color:rgba(0,0,0,0.25);
            opacity:1;
        }
            .sidebars .close:hover {
                color:rgba(0,0,0,0.75);
            }
            .sidebar h3 span {
                font-family: 'Roboto';
              font-size: 11px;
              font-weight: 400;
              opacity: 0.5;
            }
        .close.white {
            color:#FFF;
        }
            .blob-alert .close {
                float:none;
                margin-top:0.5em;
                opacity:1;
                cursor:default;
            }
            div div li .flag {
                height:30px;
                width:30px;
                border-radius:50%;
                background-color:#666;
                position:absolute;
                top:15px;
                right:90%;
                cursor:pointer;
            }
            .flag .cloth {
                width:0;
                height:0;
                border-top:3px solid transparent;
                border-bottom:3px solid transparent;
                border-left:5px solid #FFF;
                position:absolute;
                top:9px;
                left:50%;
            }
            .flag .stem {
                width:2px;
                height:12px;
                position:absolute;
                top:9px;
                right:50%;
                margin-right:1px;
                background-color:#FFF;
            }
            .label {
                font-size:0.75em;
                text-transform:uppercase;
                padding:5px 10px;
                background-color:#333;
                position:absolute;
                top:5px;
                left:100%;
                color:#FFF;
                opacity:0;
            }
                .flag:hover .label,span:hover .label {
                    opacity:1;
                    margin-left:5px;
                }
                .label p {
                    margin-bottom:0;
                }
            .flag.active {
                background-color:#ccc;
            }
                .flag.active .label {
                    background-color:#690;
                }
/* submission */
.submission .blob {
    margin-top:-1px;
}
    .submission .sidebar .arrow {
        margin-top:10px;
    }
/* compatability with ok css */
.files p {
    font-size:0.8em;
    line-height:200%;
}
    .comment-header div {
        font-size:0.9em;
        padding:0.25em;
    }
