* {
	float:left;
	margin:0;
	padding:0;
	font-family:'Open Sans';
	font-weight:300;
	position:relative;
}
html,body,h1,h2,h3,h4,h5,h6,header,section,article,footer { width:100% }
html,body { height:100% }
h1,h2,h3,h4,h5,h6 { font-weight:lighter; text-align:center; }
a, c, br { float:none }
b { font-weight:700 }
a {
	text-decoration:inherit;
	font-family:inherit;
	color:inherit;
	font-size:inherit;
}
.bar input, a,.stripes,.submit,header a {
	transition:			0.2s ease;
	-webkit-transition:	0.2s ease;
	-moz-transition:	0.2s ease;
	-o-transition:		0.2s ease;
}
.button {
	background-color:#FF9326;
	font-weight:700;
	padding:15px 30px;
	color:#FFF;
	font-size:0.75em;
	letter-spacing:2px;
	border-radius:30px;
	text-transform:uppercase;
	display:inline-block;
}
	.button:hover {
		background-color:rgba(255, 147, 38, 0.8);
	}
.sect {
	transition:			0.2s ease;
	-webkit-transition:	0.2s ease;
	-moz-transition:	0.2s ease;
	-o-transition:		0.2s ease;
}
.fntc {
	float:none;
	display:inline-block;
}
.top {
	text-align:center;
	-webkit-animation: fade-in 0.5s ease;
  	-moz-animation:    fade-in 0.5s ease;
  	-o-animation:      fade-in 0.5s ease;
  	animation:         fade-in 0.5s ease;
}
	.nav {
		padding:40px 50px;
	}
img {
	border:none;
	outline:none;
	float:none;
	display:inline-block;
}
header {
	position:absolute;
	top:0;
	left:0;
	color:#FFF;
	width:100%;
	z-index:1000;
	padding:25px 50px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-animation: drop-in 2.5s ease;
  	-moz-animation:    drop-in 2.5s ease;
  	-o-animation:      drop-in 2.5s ease;
  	animation:         drop-in 2.5s ease;
}
	.stripes {
		width:20px;
		margin-top:3px;
		margin-left:10px;
	}
		.stripes:hover {
			margin-top:0px;
			transform:			rotate(180deg);
			-webkit-transform:	rotate(180deg);
			-moz-transform:		rotate(180deg);
			-o-transform:		rotate(180deg);
		}
		.stripe {
			width:100%;
			height:2px;
			margin-bottom:3px;
			background-color:#FFF;
		}
	header nav {
		float:right;
	}
	header h1 {
		margin-left:5px;
		font-size:1.25em;
		text-transform:uppercase;
		color:#FFF;
		width:auto;
	}
		header li a {
			display:inline-block;
			float:left;
			margin:5px;
			padding:10px;
			text-transform:uppercase;
			font-size:0.85em;
			border-bottom:1px dotted transparent;
		}
		header li a:hover {
			border-bottom:1px dotted #FFF;
		}
	.logo {
		width:150px;
		margin:10px 0;
	}
		.logo h1 {
			line-height:2em;
		}
		.logo img {
			float:left;
		}
/* -- center -- */
.center-container {
    text-align:center;
    overflow:hidden;
}
    .center-container::before {
        content:"";
        display:inline-block;
        vertical-align:middle;
        height:100%;
    }
.center {
    display:inline-block;
    text-align:center;
    float:none;
    vertical-align:middle;
    width:700px;
}
h1.title {
	font-size:3.1em;
	font-family:'Raleway';
	font-weight:200;
	color:#FFF;
	-webkit-animation: fade-in-2 1s ease;
  	-moz-animation:    fade-in-2 1s ease;
  	-o-animation:      fade-in-2 1s ease;
  	animation:         fade-in-2 1s ease;
}
.subtitle {
	color:#FFF;
	width:100%;
	padding:20px 0;
	font-weight:700;
	letter-spacing:2px;
	font-size:0.75em;
	text-transform:uppercase;
	opacity:0.5;
	-webkit-animation: fade-in-3 1.25s ease;
  	-moz-animation:    fade-in-3 1.25s ease;
  	-o-animation:      fade-in-3 1.25s ease;
  	animation:         fade-in-3 1.25s ease;
}
	.center .button {
		-webkit-animation: fade-in-4 2s ease;
	  	-moz-animation:    fade-in-4 2s ease;
	  	-o-animation:      fade-in-4 2s ease;
	  	animation:         fade-in-4 2s ease;
	}
	.break {
		width:100%;
		float:inline-block;
	}
	.bar {
		position:absolute;
		bottom:0;
		width:100%;
		left:0;
		background-color:rgba(0,0,0,0.5);
		padding:30px 50px;
		text-align:center;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-animation: rise-up 3s ease;
	  	-moz-animation:    rise-up 3s ease;
	  	-o-animation:      rise-up 3s ease;
	  	animation:         rise-up 3s ease;
	}
		.bar .input {
			display:inline-block;
			float:none;
		}
		.bar input {
			background:transparent;
			color:#FFF;
			font-size:2em;
			font-family:'Raleway';
			font-weight:100;
			opacity:0.5;
			text-align:center;
			outline:none;
			border:none;
		}
			.bar input:focus {
				opacity:1;
			}
		.bar .msg {
			color:#FFF;
			text-transform:uppercase;
			font-size:0.75em;
			letter-spacing:1px;
			line-height:50px;
			font-weight:300;
			position:absolute;
			top:30px;
			left:50px;
		}
		.bar-input {
			color:rgba(255,255,255,0.5);
			font-family:'Raleway';
			font-size:30px;
		}
		.bar-input:hover {
			color:#FFF;
		}
	.center .button {
		margin-top:20px;
	}
	.arrow {
		position:absolute;
		margin-top:-5px;
		top:50%;
		left:50%;
		margin-left:-5px;
		transform:			rotate(45deg);
		-webkit-transform:	rotate(45deg);
		-moz-transform:		rotate(45deg);
		-o-transform:		rotate(45deg);
		z-index:90;
	}
		.arrow .leg {
			width:10px;
			height:3px;
			background-color:#FFF;
		}
		.leg + .leg {
			width:3px;
			height:10px;
			margin-left:-3px;
		}
		.submit input {
			position:absolute;
			top:0;
			left:0;
			z-index:100;
			background-color:transparent;
			width:100%;
			height:100%;
		}
	.submit {
		width:50px;
		height:40px;
		position:absolute;
		top:0;
		left:100%;
		cursor:pointer;
		opacity:0.5;
	}
		.submit:hover {
			opacity:1;
		}
h2.title {
	font-size:1em;
	font-weight:700;
	color:#000;
	text-transform:uppercase;
}
.wrap-container {
	width:100%;
	text-align:center;
}
.wrap {
	display:inline-block;
    float:none;
    width:600px;
}
footer {
	padding:75px 0;
	box-sizing:border-box;
	background-color:#222;
	color:#666;
}
footer h3 {
	text-transform:uppercase;
	font-size:1em;
	font-weight:700;
	margin-bottom:10px;
}
	footer p {
		font-size:0.7em;
		letter-spacing:2px;
		width:100%;
		text-align:center;
		text-transform:uppercase;
	}
	footer p a:hover {
		color:#FFF;
	}
@-webkit-keyframes fade-in { 	0% { opacity: 0; } 100% { opacity: 1; } }
@-moz-keyframes fade-in { 		0% { opacity: 0; } 100% { opacity: 1; } }
@-o-keyframes fade-in { 		0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes fade-in {			0% { opacity: 0; } 100% { opacity: 1; } }
@-webkit-keyframes fade-in-2 { 	0% { opacity: 0; } 66% { opacity: 0; } 100% { opacity: 1; } }
@-moz-keyframes fade-in-2 { 	0% { opacity: 0; } 66% { opacity: 0; } 100% { opacity: 1; } }
@-o-keyframes fade-in-2 { 		0% { opacity: 0; } 66% { opacity: 0; } 100% { opacity: 1; } }
@keyframes fade-in-2 {			0% { opacity: 0; } 66% { opacity: 0; } 100% { opacity: 1; } }
@-webkit-keyframes fade-in-3 { 	0% { opacity: 0; } 75% { opacity: 0; } 100% { opacity: 0.5; } }
@-moz-keyframes fade-in-3 { 	0% { opacity: 0; } 75% { opacity: 0; } 100% { opacity: 0.5; } }
@-o-keyframes fade-in-3 { 		0% { opacity: 0; } 75% { opacity: 0; } 100% { opacity: 0.5; } }
@keyframes fade-in-3 {			0% { opacity: 0; } 75% { opacity: 0; } 100% { opacity: 0.5; } }
@-webkit-keyframes fade-in-4 { 	0% { opacity: 0; } 80% { opacity: 0; } 100% { opacity: 1; } }
@-moz-keyframes fade-in-4 { 	0% { opacity: 0; } 80% { opacity: 0; } 100% { opacity: 1; } }
@-o-keyframes fade-in-4 { 		0% { opacity: 0; } 80% { opacity: 0; } 100% { opacity: 1; } }
@keyframes fade-in-4 {			0% { opacity: 0; } 80% { opacity: 0; } 100% { opacity: 1; } }
@-webkit-keyframes drop-in { 	0% { margin-top: -100px; } 88% { margin-top: -100px; } 100% { margin-top: 1; } }
@-moz-keyframes drop-in {	 	0% { margin-top: -100px; } 88% { margin-top: -100px; } 100% { margin-top: 1; } }
@-o-keyframes drop-in { 		0% { margin-top: -100px; } 88% { margin-top: -100px; } 100% { margin-top: 1; } }
@keyframes drop-in {			0% { margin-top: -100px; } 88% { margin-top: -100px; } 100% { margin-top: 1; } }
@-webkit-keyframes rise-up { 	0% { margin-bottom: -200px; } 88% { margin-bottom: -200px; } 100% { margin-bottom: 1; } }
@-moz-keyframes rise-up {	 	0% { margin-bottom: -200px; } 88% { margin-bottom: -200px; } 100% { margin-bottom: 1; } }
@-o-keyframes rise-up { 		0% { margin-bottom: -200px; } 88% { margin-bottom: -200px; } 100% { margin-bottom: 1; } }
@keyframes rise-up {			0% { margin-bottom: -200px; } 88% { margin-bottom: -200px; } 100% { margin-bottom: 1; } }