* {
	float:left;
	margin:0;
	padding:0;
	font-family:'Roboto';
	font-weight:300;
	position:relative;
}
html,body,h1,h2,h3,h4,h5,h6,header,section,article,footer { width:100% }
html,body { height:100% }
h1,h2,h3,h4,h5,h6 { font-weight:lighter; text-align:center; }
a, c, br, b { float:none }
b { font-weight:700 }
a {
	text-decoration:inherit;
	font-family:inherit;
	color:inherit;
	font-size:inherit;
}
section,.arrow {
	transition:			0.5s;
	-webkit-transition:	0.5s;
	-moz-transition:	0.5s;
	-o-transition:		0.5s;
}
img {
	display:inline-block;
	float:none;
}
.clear {
	width:100%;
}
.button {
	background-color:#2878c8;
    font-weight:700;
    padding:25px 50px;
    color:#FFF;
    font-size:1.1em;
    letter-spacing:2px;
    border-radius:5px;
    text-transform:uppercase;
    display:inline-block;
    float:none;
}
	.button:hover {
		background-color:#2060a1;
	}
section {
	text-align:center;
	min-height:100%;
}
	.center {
		float:none;
		display:inline-block;
		margin-top:3em;
		width:50%;
        max-width:600px;
	}
	.screen-title .center {
		margin-top:10em;
	}
	.screen-end .center {
		margin-top:15em;
	}
section:nth-child(odd) {
	background-color:#eee;
}
	h1,h2 {
		font-family:'Roboto Condensed';
		font-size:4em;
	}
	h1 {
		margin-top:20px;
	}
	h2 {
		margin-top:-30px;
	}
	.deck {
		width:100%;
		color:#999;
		font-size:1.5em;
		box-sizing:border-box;
	}
		.screen-title .deck {
			padding:0.75em 0 1em 0;
		}
		.deck + img {
			margin-top:50px;
		}
		.screen-end .deck {
			margin:20px 0;
		}
		.screen-title .deck {
			margin-bottom:20px;
		}
	.screenshot {
		width:100%;
	}
	.blurb {
		position:absolute;
		width:150px;
	}
		.blurb.left {
			left:-35%;
		}
			.blurb.left * {
				text-align:right;
			}
		.blurb.right {
			right:-35%;
		}
			.blurb.right * {
				text-align:left;
			}
		.blurb h3 {
			color:#777;
			font-weight:700;
			font-size:1em;
			text-transform:uppercase;
		}
		.blurb p {
			color:#AAA;
			font-size:1em;
		}
	.line {
		position:absolute;
		width:150px;
		top:10px;
		margin:0 10px;
		height:1px;
		background-color:#999;
	}
		.left .line,.left .ring {
			left:100%;
		}
		.right .line,.right .ring {
			right:100%;
		}
		.ring {
			position:absolute;
			height:20px;
			width:20px;
			margin-top:-10px;
			border:1px solid #999;
			border-radius:50%;
		}
		.circle {
			width:14px;
			height:14px;
			background-color:#999;
			border-radius:50%;
			margin:3px;
		}
	.r21 {
		top:50%;
	}
	.l2 {
		top:45%;
	}
	.r22 {
		top:85%;
	}
	.r31 {
		top:30%;
	}
	.r32 {
		top:80%;
	}
	.l31 {
		top:40%;
	}
	.l32 {
		top:60%;
	}
	.r41 {
		top:70%;
	}
	.l41 {
		top:80%;
	}
	.l42 {
		top:33%;
	}
.wrapper {
	width:100%;
	height:100%;
	overflow:hidden;
}
	section {
		position:absolute;
		top:0;
	}
	.next {
		left:100%;
	}
	.prev {
		left:-100%;
	}
	.current {
		left:0;
	}
	.arrow {
		opacity:0.5;
		background-color:#666;
		width:20px;
		height:6px;
		position:fixed;
		top:50%;
		z-index:1000;
	}
		.arrow:hover {
			opacity:1;
			cursor:pointer;
		}
		.arrow::before {
			content:"";
			position:absolute;
			top:0;
			left:0;
			height:20px;
			width:6px;
			background-color:inherit;
		}
		.arrow.left {
			left:30px;
			transform:			rotate(-45deg);
			-webkit-transform:	rotate(-45deg);
			-moz-transform:		rotate(-45deg);
			-o-transform:		rotate(-45deg);
		}
			.arrow.left.hide {
				left:-60px;
			}
		.arrow.right {
			margin-top:10px;
			right:30px;
			transform:			rotate(135deg);
			-webkit-transform:	rotate(135deg);
			-moz-transform:		rotate(135deg);
			-o-transform:		rotate(135deg);
		}
			.arrow.right.hide {
				right:-60px;
			}
@media screen and (max-width: 900px) {
	.blurb .line {
		display:none;
	}
	div.blurb {
		position:relative;
        padding:20px 0;
        width:100%;
        font-size:1.5em;
	}
		div.blurb.right {
			right:auto;
		}
		div.blurb.left {
			left:auto;
		}
		div.blurb.left * {
			text-align:left;
		}
	section.current {
		height:100%;
        overflow-y:scroll;
        overflow-x:hidden;
	}
}
