<div class="small-box bg-green" ng-controller="CourseModuleController" ng-cloak>

    <div class="inner">
        <h3 ng-cloak>
          {{course_name}}
        </h3>
        <p>
            {{course_desc}}
        </p>
        </div>
        <div class="icon">
            <i class="ion ion-university"></i>
        </div>
        <a href="http://cs61a.org/" target="blank" class="small-box-footer">
            Course Homepage <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>

</div>
