    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">


        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-6 col-xs-6">
                <!-- small box -->
                <assignment-module/>
            </div><!-- ./col -->

          <div class="col-lg-6 col-xs-6">
            <course-module>
          </div><!-- ./col --> 

        </div><!-- /.row -->

        <div class="row">
            <div class="col-md-12">
                <assignment-list />
            </div>

            <div class="col-md-12">
                <submission-list />
            </div>
        </div>

    </section><!-- /.content -->

