<div class="box" ng-controller="SubmissionDashboardController" ng-cloak>
<div class="box-header">
  <h3 class="box-title" ng-if="submissions.length > 0">Recent Backups </h3>

  <h4 class="box-title" ng-if="submissions.length == 0" >No backups found</h3>
  <div class="box-tools">
    <ul class="pagination pagination-sm no-margin pull-right">
      <a ui-sref="submission.list" class="btn btn-default">View All</a>
    </ul>
  </div>
</div>


<!-- /.box-header -->

<div class="box-body no-padding table-responsive">

  <table ts-wrapper ng-if="submissions.length > 0" class="table table-striped table-bordered table-responsive ">

  <tbody>
  
    <tr>
      <th ts-criteria="assignment.display_name"∂>Assignment</th>
      <th ts-criteria="submitter.id" >Submitter</th>
      <th ts-criteria="created">Time</th>
      <th style="width: 15%">Tags</th>
      <th style="width: 20%">View Code</th>
    </tr>
    <tr ng-repeat="submission in submissions" ng-if='submission.messages.file_contents' ts-repeat>
      <td>
        <a ui-sref='assignment.detail({assignmentId:submission.assignment.id})'>{{submission.assignment.display_name}}
      </td>
      <td>{{submission.submitter.id}}</td>
      <td>
        {{submission.created | amCalendar}}
      </td>
      <!-- Future Progress Bar -->                 
      <td >
        <span class="badge bg-info">{{submission.assignment.display_name}}</span>
        <span class="badge bg-green" ng-if="submission.messages.file_contents.submit">Marked As Submit</span>
        <span ng-repeat="tag in submission.tags" class="badge bg-blue">
          {{ tag }}
        </span>
      </td>
      <td>
          <a ui-sref='submission.diff({submissionId:submission.id})' type="button" class="btn btn-flat btn-block btn-info">View Code</a>
      </td>    
    </tr>
</table>

    <div class='text-center'>
      <pager items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pager>
    </div>
  </div><!-- /.box-body -->
</div><!-- /.box -->
