{% extends "staff/base.html" %}
{% import 'staff/_formhelpers.html' as forms %}

{% block title %} Ok - {{ current_course.display_name }} Enrollment{% endblock %}

{% block main %}
  <section class="content-header">
      <h1>
        {{ current_course.display_name }} Enrollment
        <small>{{ current_course.offering }}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ url_for(".index") }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{ url_for(".course", cid=current_course.id) }}">
            <i class="fa fa-university"></i> {{ current_course.offering }}
        </a></li>
        <li class="active"><a href="{{ url_for('.enrollment', cid=current_course.id) }}">
          <i class="fa fa-list"></i> Enrollment</a>
        </li>
      </ol>
  </section>

  <section class="content">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              {{message}}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row">
      <div class="col-md-9 col-xs-12">
          <div class="box">
            <form action="" method="GET">
              <div class="box-header">
                <h3 class="box-title"><span> Students </span></h3>
                <div class="box-tools">
                  <div class="input-group input-group-md" style="width: 200px;">
                    {% if query %}
                      <input type="text" name="query" class="form-control pull-right" value={{query}}>
                    {% else %}
                      <input type="text" name="query" class="form-control pull-right" placeholder="Search By User Email">
                    {% endif %}
                      <div class="input-group-btn">
                          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                      </div>
                  </div>
                </div>
              </div>
          </form>

            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th>User</th>
                    <th>Name</th>
                    <th>SID</th>
                    <th>Secondary ID</th>
                    <th>Role</th>
                    <th>Enrolled At</th>
                    <th>Notes</th>
                  </tr>
                {%- for item in enrollments.items %}
                <tr>
                  <td>{{ item.user.email }}</td>
                  <td>{{ item.user.name }}</td>
                  <td>{{ item.user.sid }}</td>
                  <td>{{ item.user.secondary }}</td>
                  <td><span class="label label-success">{{item.role}}</span></td>
                  <td>{{item.created}}</td>
                  <td>{{item.user.notes}}</td>
                </tr>
                {% endfor %}
              </tbody></table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <div class="pull-left">
                <h5 class="box-title"><span> Total: {{ enrollments.total }} </span></h3>

              </div>

                  <ul class="pagination pagination-sm no-margin pull-right">
                    {% if enrollments.has_prev %}
                      <li><a href="{{ url_for('.enrollment', cid=current_course.id, page=enrollments.prev_num) }}">«</a></li>
                    {% endif %}

                    {%- for page in enrollments.iter_pages() %}
                      {% if page %}
                        {% if page != enrollments.page %}
                          <li><a href="{{ url_for('.enrollment', cid=current_course.id, page=page) }}">{{ page }}</a></li>
                        {% else %}
                          <li class="active"><a href="#">Page {{ enrollments.page }} of {{ enrollments.pages }}</a></li>
                        {% endif %}
                      {% else %}
                        <li><span class=ellipsis>…</span></li>
                      {% endif %}
                    {%- endfor %}
                    {% if enrollments.has_next %}
                      <li><a href="{{ url_for('.enrollment', cid=current_course.id, page=enrollments.next_num) }}">»</a></li>
                    {% endif %}
                  </ul>
            </div>

          </div>
          <!-- /.box -->

        <div class="box">
          <div class="box-header">
            <h3 class="box-title"><span> Staff </span></h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
              </button>
            </div>
          </div>

          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>User</th>
                  <th>Name</th>
                  <th>Secondary ID</th>
                  <th>Role</th>
                  <th>Remove</th>
                </tr>
              {%- for item in staff %}
              <tr>
                <td>{{ item.user.email }}</td>
                <td>{{ item.user.name }}</td>
                <td>{{ item.user.secondary }}</td>
                <td><span class="label label-warning">{{item.role}}</span></td>
                <td><button class="btn disabled btn-sm btn-red"> <i class="fa fa-trash"></i> </td>
              </tr>
              {% endfor %}
            </tbody></table>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
      <!-- Side Panel -->
      <div class="col-md-3 col-xs-12">
        <!-- Default box -->
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Add/Edit Participant</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body">
              <!-- form goes here -->
              {% call forms.render_form(single_form, action_url=url_for('.enrollment', cid=current_course.id), action_text='Enroll',
                                          class_='form') %}
                  {{ forms.render_field(single_form.name, label_visible=true, placeholder='Student Name (optional)', type='text') }}
                  {{ forms.render_field(single_form.email, label_visible=true, placeholder='test@test.com') }}
                  {{ forms.render_field(single_form.sid, label_visible=true, placeholder='1234567', type='text') }}
                  {{ forms.render_field(single_form.secondary, label_visible=true, placeholder='cs61a-abc', type='text') }}
                  {{ forms.render_field(single_form.role, label_visible=true) }}
              {% endcall %}
          </div>
          <!-- /.box-body -->
          <!-- /.box-footer-->
        </div>
        <!-- /.box -->

        <!-- New Box -->
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Batch Enroll (Students)</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body">
              <a href="{{url_for('.batch_enroll',cid=current_course.id)}}">
                <button class="btn btn-primary btn-block"> Enroll from CSV </button>
              </a>
          </div>
          <!-- /.box-body -->
          <!-- /.box-footer-->
        </div>


      </div>
    </div>

  </section>


  <!-- </body> do not close body in template-->
{% endblock %}
