<div class="box">
    <form action="" method="GET">
        <div class="box-header">
            <h3 class="box-title"><span> Students </span></h3>
            <div class="box-tools">
                <div class="input-group input-group-md" style="width: 200px;">
                    {% if query %}
                    <input type="text" name="query" class="form-control pull-right" value={{query}}>
                    {% else %}
                    <input type="text" name="query" class="form-control pull-right" placeholder="Search By User Email">
                    {% endif %}
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>User</th>
                    <th>Name</th>
                    <th>SID</th>
                    <th>Secondary ID</th>
                    <th>Role</th>
                    <th>Enrolled At</th>
                    <th>Section</th>
                </tr>
                {%- for item in enrollments.items %}
                <tr>
                    <td>{{ item.user.email }}</td>
                    <td>{{ item.user.name }}</td>
                    <td>{{ item.sid }}</td>
                    <td>{{ item.class_account }}</td>
                    <td><span class="label label-success">{{item.role}}</span></td>
                    <td>{{item.created}}</td>
                    <td>{{item.section}}</td>
                </tr>
                {% endfor %}
            </tbody></table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <div class="pull-left">
            <h5 class="box-title"><span> Total: {{ enrollments.total }} </span></h5>
            </div>

                <ul class="pagination pagination-sm no-margin pull-right">
                    {% if enrollments.has_prev %}
                    <li><a href="{{ url_for(request.endpoint, cid=current_course.id, page=enrollments.prev_num) }}">«</a></li>
                    {% endif %}

                    {%- for page in enrollments.iter_pages() %}
                    {% if page %}
                    {% if page != enrollments.page %}
                    <li><a href="{{ url_for(request.endpoint, cid=current_course.id, page=page) }}">{{ page }}</a></li>
                    {% else %}
                    <li class="active"><a href="#">Page {{ enrollments.page }} of {{ enrollments.pages }}</a></li>
                    {% endif %}
                    {% else %}
                    <li><span class=ellipsis>…</span></li>
                    {% endif %}
                    {%- endfor %}
                    {% if enrollments.has_next %}
                    <li><a href="{{ url_for(request.endpoint, cid=current_course.id, page=enrollments.next_num) }}">»</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
