<html>
<head>
	<title>Okpy</title>
	<link href="styles/all.css" rel="stylesheet">
	<link rel="stylesheet" href="styles/zenburn.css">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  	<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<script src="scripts/all.js"></script>
	<script src="scripts/highlight.pack.js"></script>
</head>
	<body class="course">
		<div class="main">
			<div class="shadow"></div>
			<div class="content">
				<header>
					<a href="courses.html" class="logo">
						<img src="images/logo-light.png">
						<h1>Okpy</h1>
					</a>
					<div class="alert red active">
						<p class="alert-info"><b>Deadline</b> The ants project is due in 2 days and you haven't even started.</p>
						<div class="close"><span class="icon-x">+</span></div>
					</div>
				</header>
				<nav class="tools">
					<ul>
						<li><a href="mailto:questions@cs61a.org"><span class="icon-question">?</span></a></li>
						<li>
							<a href="#" class="show-menu">
								Menu
								<span class="stripes">
									<span class="stripe"></span>
									<span class="stripe"></span>
									<span class="stripe"></span>
								</span>
							</a>
						</li>
					</ul>
				</nav>
				<span class="menu-cover"></span>
				<nav class="menu">
					<ul>
						<div class="close light close-menu"><span class="icon-x">+</span></div>
						<li><a href="courses.html">Courses</a></li>
						<li><a href="#">CS61A</a></li>
						<li><a href="#">DumDum</a></li>
					</ul>
				</nav>
				<aside>
					<div class="block">
						<div class="block-dom">
							<h3 class="block-title">3</h3>
							<span>Active Assignments</span>
						</div>
						<div class="block-sub">
							<p class="block-label"><c>70%</c>Project: Scheme</p>
							<div class="block-progress" progress="70"><span class="block-bar"></div>
							<p class="block-label"><c>70%</c>Homework: 11</p>
							<div class="block-progress" progress="70"><span class="block-bar"></div>
						</div>
						<a href="#" class="block-link">
							<span class="icon-link">8</span>
							<p class="link-label">Course Website</p>
						</a>
					</div>
					<div class="newblock">
						<a href="#" class="block-link block-back">
							<span class="arrow left dark"></span>
							<p>Back</p>
						</a>
						<a href="#" class="block-link">
							<span class="icon-link">8</span>
							<p class="link-label">Course Website</p>
						</a>
					</div>
				</aside>
				<section>
					<div class="newscreen">
						<div class="assign code small inactive" id="2">
							<div class="assign-main">
								<h2 class="assign-title">Homework 12
									<span class="flag">
										<span class="cloth"></span>
										<span class="stem"></span>
									</span>
								</h2>
								<div class="assign-deck">
									<p><img src="images/icon-clock.png">grader: cs61a-ain</p>
									<p><span class="icon-question">?</span>Scores: 23/25 . 2/3</p>
								</div>
							</div>
							<div class="assign-code">
								<div class="code-cont">
									<div id="1" class="comments-cont active">
										<div class="comment" style="top:40px">
											<span class="comment-icon"></span>
											<div class="comment-content">
												<div class="comment-text">
													<h3>Name Goes HERE</h3>
													<p>This cooooode shosho B-E-A-Utiful.</p>
												</div>
												<form>
													<div class="comment-reply">
														<div class="reply">
															<h4>NaME TWOOOO</h4>
															<p>Moaaar text. This code shosho U-G-L-Y.</p>
														</div>
														<input class="reply-input" placeholder="your thoughts?">
													</div>
													<input type="submit" class="action">
												</form>
											</div>
										</div>
									</div>
									<div class="num-cont">
										<ul>
											<p>1</p>
											<p>2</p>
											<p>3</p>
											<p>4</p>
											<p>5</p>
											<p>6</p>
											<p>7</p>
											<p>8</p>
											<p>9</p>
											<p>10</p>
											<p>12</p>
											<p>13</p>
											<p>14</p>
											<p>15</p>
											<p>16</p>
											<p>17</p>
										</ul>
									</div>
									<div id="2" class="comments-cont"></div>
									<div id="3" class="comments-cont"></div>
									<pre>
										<code id="3">
select * from zoos where location='LA';
										</code>
										<code id="2">
(break-free (x)
	(cond (? x 0) #t)
	(else #f)
)
										</code>
										<code id="1" class="active">def algie(angie):
	global alvin
	if close_enough(alvin,angie):
		return 'happy';
	else:
		return 'sad';
import requests


class AuthenticationException(Exception):
"""
Exception thrown when authentication fails.
"""
pass


class Authenticator(object):
"""
Authenticates a user with an access token.
"""

def __init__(self):
pass

def authenticate(self, access_token):
"""
Returns the email this access token corresponds to.
"""
raise NotImplementedError


class GoogleAuthenticator(Authenticator):
"""
Authenticates a user with an access token using Google APIs.
"""

API_URL = "https://www.googleapis.com/oauth2/v1/userinfo"

def authenticate(self, access_token):
response = requests.get(self.API_URL, params={
'access_token': access_token
}).json()
if 'error' in response:
raise AuthenticationException("access token invalid")
if 'email' not in response:
raise AuthenticationException("email doesn't exist")
return response['email']

class TestingAuthenticator(Authenticator):
"""
Authenticates a user with an access token.
FOR TESTING ONLY.
"""
def authenticate(self, access_token):
return access_token

										</code>
									</pre>
								</div>
								<div class="files">
									<div class="file active" id="1">
										<h3 class="file-name">hunkydory.py</h3>
										<p class="file-comments">3 comments</p>
									</div>
									<div class="file" id="2">
										<h3 class="file-name">ohno.scm</h3>
										<p class="file-comments">3 comments</p>
									</div>
									<div class="file" id="3">
										<h3 class="file-name">animaux.sql</h3>
										<p class="file-comments">3 comments</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="screen">
						<div class="assign large active" id="1">
							<div class="assign-main">
								<img class="assign-bg" src="images/bg-clock.png">
								<h2 class="assign-title">Scheme Interpreter</h2>
								<div class="assign-deck">
									<p><img src="images/icon-clock.png">due January 18</p>
									<p><span class="icon-question">?</span>18 questions</p>
									<a href="#" class="link light"><span class="icon-link">8</span>cs61a.org</a>
								</div>
							</div>
							<div class="assign-progress">
								<div class="assign-bar"><span class="assign-fill"></span></div>
								<p class="assign-label"><c>80%</c>complete.<c>Not submitted</c></p>
							</div>
							<div class="assign-more">
								<div class="assign-text">
									<div class="col left">
										<h3 class="assign-subtitle">Group members</h3>
										<ul class="sortable">
											<li>
												<span class="stripes dark">
													<span class="stripe"></span>
													<span class="stripe"></span>
													<span class="stripe"></span>
												</span>
												Alvin Wan
											</li>
											<li>
												<span class="stripes dark">
													<span class="stripe"></span>
													<span class="stripe"></span>
													<span class="stripe"></span>
												</span>
												Angie Jodjana
											</li>
										</ul>
										<a href="#" class="link view-group" id="1">view group &raquo;</a>
									</div>
									<div class="col right">
										<h3 class="assign-subtitle">Latest Submission</h3>
										<a href="#" class="link view-submission"><p>January 5 at 5:00 p.m. &raquo;</p></a>
										<a href="#" class="link view-submissions">view submissions &raquo;</a>
										<span class="clear"><a href="#" class="link view-backups">view backups &raquo;</a></span>
									</div>
								</div>
							</div>
							<div class="assign-expand">
								<p>Expand</p>
							</div>
						</div>
						<div class="assign small inactive" id="2">
							<div class="assign-main">
								<h2 class="assign-title">Homework 12</h2>
								<div class="assign-deck">
									<p><img src="images/icon-clock.png">due January 12</p>
									<p><span class="icon-question">?</span>submitted</p>
									<a href="#" class="link light"><span class="icon-link">8</span>cs61a.org</a>
								</div>
							</div>
							<div class="assign-more">
								<div class="assign-progress">
									<div class="assign-bar"><span class="assign-fill"></span></div>
									<p class="assign-label"><c>80%</c>complete.<c>Not submitted</c></p>
								</div>
								<div class="assign-text">
									<div class="col left">
										<h3 class="assign-subtitle">Group members</h3>
										<ul class="sortable">
											<li>
												<span class="stripes dark">
													<span class="stripe"></span>
													<span class="stripe"></span>
													<span class="stripe"></span>
												</span>
												Alvin Wan
											</li>
											<li>
												<span class="stripes dark">
													<span class="stripe"></span>
													<span class="stripe"></span>
													<span class="stripe"></span>
												</span>
												Angie Jodjana
											</li>
										</ul>
										<a href="#" class="link view-group" id="1">view group &raquo;</a>
									</div>
									<div class="col right">
										<h3 class="assign-subtitle">Latest Submission</h3>
										<a href="#" class="view-submission link"><p>January 5 at 5:00 p.m. &raquo;</p></a>
										<a href="#" class="link view-submissions">view submissions &raquo;</a>
										<span class="clear"><a href="#" class="link view-backups">view backups &raquo;</a></span>
									</div>
								</div>
							</div>
							<div class="assign-expand">
								<p>Expand</p>
							</div>
						</div>
						<div class="assign small active" id="3">
							<div class="assign-main">
								<h2 class="assign-title">Homework 12</h2>
								<div class="assign-deck">
									<p><img src="images/icon-clock.png">due January 12</p>
									<p><span class="icon-question">?</span>not submitted</p>
									<a href="#" class="link light"><span class="icon-link">8</span>cs61a.org</a>
								</div>
							</div>
							<div class="assign-more">
								<div class="assign-progress">
									<div class="assign-bar"><span class="assign-fill"></span></div>
									<p class="assign-label"><c>80%</c>complete.<c>Not submitted</c></p>
								</div>
								<div class="assign-text">
									<div class="col left">
										<h3 class="assign-subtitle">Group members</h3>
										<ul class="sortable">
											<li>
												<span class="stripes dark">
													<span class="stripe"></span>
													<span class="stripe"></span>
													<span class="stripe"></span>
												</span>
												Alvin Wan
											</li>
											<li>
												<span class="stripes dark">
													<span class="stripe"></span>
													<span class="stripe"></span>
													<span class="stripe"></span>
												</span>
												Angie Jodjana
											</li>
										</ul>
										<a href="#" class="link view-group" id="1">view group &raquo;</a>
									</div>
									<div class="col right">
										<h3 class="assign-subtitle">Latest Submission</h3>
										<a href="#" class="view-submission link"><p>January 5 at 5:00 p.m. &raquo;</p></a>
										<a href="#" class="link view-submissions">view submissions &raquo;</a>
										<span class="clear"><a href="#" class="link view-backups">view backups &raquo;</a></span>
									</div>
								</div>
							</div>
							<div class="assign-expand">
								<p>Expand</p>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		<div class="popups">
			<div class="popup group hide">
				<div class="close"><span class="icon-x">+</span></div>
				<h2 class="popup-title">Group</h2>
				<p class="popup-byline">created <b class="creation-date">Jan. 16</b> for <b class="assign-name">Scheme Interpreter</b></p>
				<div class="pop-content">
					<ul class="sortable">
						<li class="pop-item">
							<span class="item-no">0</span>
							<span class="stripes">
								<span class="stripe"></span>
								<span class="stripe"></span>
								<span class="stripe"></span>
							</span>
							<p class="first-member">Alvin Wan</p>
							<div class="remove-user"><span class="icon-x">+</span></div>
						</li>
						<li class="pop-item">
							<span class="item-no">1</span>
							<span class="stripes">
								<span class="stripe"></span>
								<span class="stripe"></span>
								<span class="stripe"></span>
							</span>
							<p class="second-member">Angie Jodjana</p>
						</li>
						<li class="pop-item">
							<span class="item-no">2</span>
							<span class="stripes">
								<span class="stripe"></span>
								<span class="stripe"></span>
								<span class="stripe"></span>
							</span>
							<p class="third-member">Person</p>
							<div class="remove-user"><span class="icon-x">+</span></div>
						</li>
					</ul>
					<a href="#" class="action leave-group">Leave</a>
				</div>
			</div>
			<div class="popup submissions active">
				<div class="close"><span ng-click="hidePopups()" class="icon-x">+</span></div>
				<h2 class="popup-title">Submissions</h2>
				<p class="popup-byline">for <b class="ng-binding"></b></p>
				<div class="pop-content">
					<li class="header">
						<span class="col-1"><p>Date</p></span>
						<span class="col-2"><p>By</p></span>
					</li>
					<!-- ngRepeat: subm in currAssign.submissions --><li class="pop-item ng-scope" id="1" ng-repeat="subm in currAssign.submissions">
					<a class="flag" ng-class=" {active: currAssign.final &amp;&amp; subm.id == currAssign.final.backup.id }">
						<span class="label left"><p>Flagged for Grading</p></span>
						<span class="cloth"></span>
						<span class="stem"></span>
					</a>
					<span class="col-1"><p class="ng-binding">Today at 2:56 AM</p></span>
					<span class="col-2"><p class="ng-binding">partner0@teamwork.com</p></span>
					<a ui-sref="submission.detail({submissionId:subm.id})" class="light link view-submission" href="#/submission/5418393301680128">view »</a>
				</li><!-- end ngRepeat: subm in currAssign.submissions --><li class="pop-item ng-scope" id="1" ng-repeat="subm in currAssign.submissions">
					<a class="flag" ng-class=" {active: currAssign.final &amp;&amp; subm.id == currAssign.final.backup.id }">
						<span class="label left"><p>Flagged for Grading</p></span>
						<span class="cloth"></span>
						<span class="stem"></span>
					</a>
					<span class="col-1"><p class="ng-binding">Today at 2:56 AM</p></span>
					<span class="col-2"><p class="ng-binding">partner1@teamwork.com</p></span>
					<a ui-sref="submission.detail({submissionId:subm.id})" class="light link view-submission" href="#/submission/4714705859903488">view »</a>
				</li><!-- end ngRepeat: subm in currAssign.submissions --><li class="pop-item ng-scope" id="1" ng-repeat="subm in currAssign.submissions">
					<a class="flag active" ng-class=" {active: currAssign.final &amp;&amp; subm.id == currAssign.final.backup.id }">
						<span class="label left"><p>Flagged for Grading</p></span>
						<span class="cloth"></span>
						<span class="stem"></span>
					</a>
					<span class="col-1"><p class="ng-binding">Today at 2:56 AM</p></span>
					<span class="col-2"><p class="ng-binding">partner1@teamwork.com</p></span>
					<a ui-sref="submission.detail({submissionId:subm.id})" class="light link view-submission" href="#/submission/5383208929591296">view »</a>
				</li><!-- end ngRepeat: subm in currAssign.submissions -->
				</div>
			</div>
			<div class="popup backups hide">
				<div class="close"><span class="icon-x">+</span></div>
				<h2 class="popup-title">Backups</h2>
				<p class="popup-byline">for <b>Scheme Interpreter</b></p>
				<div class="pop-content">
					<li class="header">
						<span class="col-1"><p>Date</p></span>
						<span class="col-2"><p>By</p></span>
					</li>
					<li class="pop-item" id="1">
						<span class="col-1"><p>Jan. 16 <span>5:00 p.m.</span></p></span>
						<span class="col-2"><p>Alvin</p></span>
						<a href="#" class="light link view-submission">view &raquo;</a>
					</li>
					<li class="pop-item" id="2">
						<span class="col-1"><p>Jan. 16 <span>5:00 p.m.</span></p></span>
						<span class="col-2"><p>Alvin</p></span>
						<a href="#" class="light link view-submission">view &raquo;</a>
					</li>
					<li class="pop-item" id="3">
						<span class="col-1"><p>Jan. 16 <span>5:00 p.m.</span></p></span>
						<span class="col-2"><p>Alvin</p></span>
						<a href="#" class="light link view-submission">view &raquo;</a>
					</li>
					<li class="pop-item" id="4">
						<span class="col-1"><p>Jan. 16 <span>5:00 p.m.</span></p></span>
						<span class="col-2"><p>Alvin</p></span>
						<a href="#" class="light link view-submission">view &raquo;</a>
					</li>
					<li class="pop-item" id="5">
						<span class="col-1"><p>Jan. 16 <span>5:00 p.m.</span></p></span>
						<span class="col-2"><p>Alvin</p></span>
						<a href="#" class="light link view-submission">view &raquo;</a>
					</li>
					<li class="pop-item" id="5">
						<span class="col-1"><p>Jan. 16 <span>5:00 p.m.</span></p></span>
						<span class="col-2"><p>Alvin</p></span>
						<a href="#" class="light link view-submission">view &raquo;</a>
					</li>
					<li class="pop-item" id="5">
						<span class="col-1"><p>Jan. 16 <span>5:00 p.m.</span></p></span>
						<span class="col-2"><p>Alvin</p></span>
						<a href="#" class="light link view-submission">view &raquo;</a>
					</li>
					<li class="pop-item" id="5">
						<span class="col-1"><p>Jan. 16 <span>5:00 p.m.</span></p></span>
						<span class="col-2"><p>Alvin</p></span>
						<a href="#" class="light link view-submission">view &raquo;</a>
					</li>
					<li class="pop-item" id="5">
						<span class="col-1"><p>Jan. 16 <span>5:00 p.m.</span></p></span>
						<span class="col-2"><p>Alvin</p></span>
						<a href="#" class="light link view-submission">view &raquo;</a>
					</li>
				</div>
			</div>
		</div>
		<div class="loader active">
			<div class="center">
				<div class="circle">
					<span class="mask">
						<span class="half"></span>
					</span>
					<span class="mask other">
						<span class="half"></span>
					</span>
				</div>
				<p>k</p>
			</div>
		</div>
	</body>
	<link href='http://fonts.googleapis.com/css?family=Raleway:100|Open+Sans:300,700' rel='stylesheet' type='text/css'>
</html>