<html class="no-js ng-scope" ng-app="student">
<head>
    <style type="text/css">@charset
        "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none
        !important;}ng\:form{display:block;}
    </style>
    <meta charset="UTF-8">
    <title>Ok Student</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles/courses.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/zenburn.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link href="../vendor/angular-loading-bar/build/loading-bar.css" rel="stylesheet">
    <!--<link href="../vendor/sweetalert/lib/sweet-alert.css" rel="stylesheet">-->
    <script src="../vendor/jquery/dist/jquery.min.js"></script>
    <style type="text/css"></style>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <!--<script src="//cdn.ravenjs.com/1.1.16/angular,jquery,native/raven.min.js"></script>-->
    <script src="scripts/course.js"></script>
    <script src="scripts/highlight.pack.js"></script>
    <script src="../vendor/angular/angular.js"></script>
    <script src="../vendor/highlightjs/highlight.pack.js"></script>
    <script src="../vendor/angular-resource/angular-resource.js"></script>
    <script src="../vendor/underscore/underscore.js"></script>
    <script src="../vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../vendor/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="../vendor/angular-animate/angular-animate.js"></script>
    <script src="../vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <!--<script src="../vendor/moment/moment.js"></script>-->
    <!--<script src="../js/other/moment-timezone-with-data.js"></script>-->
    <!--<script src="../vendor/angular-moment/angular-moment.js"></script>-->
    <!--<script src="../vendor/showdown/compressed/Showdown.js"></script>-->
    <!--<script src="../vendor/sweetalert/lib/sweet-alert.min.js"></script>-->
    <!--<script src="../vendor/angular-tablesort/js/angular-tablesort.js"></script>-->
    <!--<script src="../vendor/angular-ui-sortable/sortable.js"></script>-->
    <!--<script src="../js/student.js?cacheblock"></script>-->
    <!--<script src="../js/common/main.js"></script>-->
    <!--<script src="../js/common/services.js"></script>-->
    <!--<script src="../js/common/controllers.js"></script>-->
    <!--<script src="../js/student/controllers.js"></script>-->
    <!--<script src="../admin/js/ok/app.js"></script>-->
    <!--<script>-->
    <!--Raven.config('https://edc8538d3d5f47fcb1b14c33d9ae7d8b@app.getsentry.com/36686', {-->
    <!--whitelistUrls: ['https://ok-server.appspot.com', 'ok-server.appspot.com']-->
    <!--}).install();-->
    <!---->

    <!--</script>-->
</head>
<body class="course">
<div class="container-fluid">
    <div class="wrap-container">
        <header>
            <a ui-sref="dashboard" class="logo col-md-3">
                <img src="images/logo-dark.png">

                <h1>Okpy</h1>
            </a>
            <nav class="tools col-md-9">
                <ul>
                    <li>
                        <a class="show-menu">
                            Menu
							<span class="stripes">
							  <span class="stripe"></span>
							  <span class="stripe"></span>
							  <span class="stripe"></span>
							</span>
                        </a>
                    </li>
                    <li><a href="tour.html"><span class="icon-question">?</span></a></li>
                    <li><a href="#"><img src="images/icon-profile.png">alvinwan@berkeley.edu</a></li>
                </ul>
            </nav>
        </header>
        <nav class="menu">
            <ul>
                <span class="close light close-menu"><span class="icon-x">+</span></span>
                <li><a href="">alvinwan@berkeley.edu</a></li>
                <li><a href="http://cs61a.org">CS61A</a></li>
                <li>
                    <a href="https://ok-server.appspot.com/_ah/logout?continue=https://www.google.com/accounts/Logout%3Fcontinue%3Dhttps://appengine.google.com/_ah/logout%253Fcontinue%253Dhttps://ok-server.appspot.com/landing%26service%3Dah">Log
                        Out</a></li>
            </ul>
        </nav>
        <!-- uiView:  -->
        <section class="ng-scope wrap">
            <div class="fullWidth screen courses">
                <div class="screen ng-scope" ng-controller="AssignmentDashController">
                    <div class="row">
                        <div class="col-md-4 ng-scope"
                             ng-repeat="assign in assignments | orderBy: ['assignment.active','assignment.points']:true">
                            <div class="blob colored blue"
                                 ng-class="{'colored blue': assign.assignment.active || assign.assignment.revision, 'neutral': !assign.assignment.active &amp;&amp; !assign.assignment.revision}"
                                 id="1">
                                <div class="blob-dot"></div>
                                <div class="blob-main">
                                    <div class="blob-alert">!</div>
                                    <p class="blob-status ng-scope" ng-if="!assign.final.final_submission">Not submitted
                                        yet</p><!-- end ngIf: !assign.final.final_submission -->
                                    <h2 class="blob-title ng-binding"> Project 1 Contest: Hog Strategy</h2>

                                    <p class="blob-shiftcopy blob-copy ng-binding"><img
                                            src="images/icon-calendar-tiny-light.png">due
                                        02/18/2015 at 11:59 PM</p>
                                </div>
                                <div class="blob-more" ng-show="currAssign == blob">
                                    <div class="blob-text">
                                        <span class="flip"><img src="images/icon-flip-light.png"></span>

                                        <div ng-if="!assign.group.group_info" class="ng-scope">
                                            <h3 class="blob-subtitle">Project 1 Contest</h3>

                                            <form name="inviteGroup" ng-if="assign.assignment.max_group_size &gt; 1"
                                                  class="ng-pristine ng-scope ng-invalid ng-invalid-required ng-valid-email">
                                                <div class="blob-shiftcopy">
                                                    <img src="images/icon-members-light.png">
                                                    <input type="email"
                                                           class="blob-input invite email ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required"
                                                           placeholder="invite member to group"
                                                           ng-model="assign.invitee"
                                                           required="">
                                                    <a ng-click="addMember(blob, assign.invitee)"
                                                       class="button">Invite</a>
                                                </div>
                                            </form>
                                            <!-- end ngIf: assign.assignment.max_group_size > 1 -->
                                        </div>
                                        <!-- end ngIf: !assign.group.group_info -->
                                        <p class="blob-shiftcopy ng-scope"
                                           ng-if="!assign.submissions"><img src="images/icon-submission-light.png">
                                            Submission on Feb. 6 at 4:59 p.m.</p><!-- end ngIf: !assign.submissions -->
                                        <span class="clear"></span>
                                        <span class="blob-shiftcopy ng-scope"
                                              ng-if="assign.backups">view backups<span
                                                class="arrow white right fat"></span></span><!-- end ngIf: !assign.backups -->
                                    </div>
                                </div>
                                <div class="blob-expand">
                                    <div class="ng-scope blob-action" ng-if="blob != currAssign"
                                         ng-click="toggleAssign(blob)">View
                                        Details<span class="white arrow right"></span></div>
                                    <!-- end ngIf: blob != currAssign -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ng-scope"
                             ng-repeat="assign in assignments | orderBy: ['assignment.active','assignment.points']:true">
                            <div class="blob grey"
                                 ng-class="{'colored blue': assign.assignment.active || assign.assignment.revision, 'neutral': !assign.assignment.active &amp;&amp; !assign.assignment.revision}"
                                 id="2">
                                <div class="blob-dot"></div>
                                <div class="blob-main">
                                    <p class="blob-status ng-scope" ng-if="!assign.final.final_submission">Not submitted
                                        yet</p><!-- end ngIf: !assign.final.final_submission -->
                                    <h2 class="blob-title ng-binding"> Project 1 Contest: Hog Strategy</h2>

                                    <p class="blob-shiftcopy blob-copy ng-binding"><img
                                            src="images/icon-calendar-tiny-dark.png">due
                                        02/18/2015 at 11:59 PM</p>
                                </div>
                                <div class="blob-more" ng-show="currAssign == blob">
                                    <div class="blob-text">
                                        <span class="flip"><img src="images/icon-flip-light.png"></span>

                                        <div ng-if="!assign.group.group_info" class="ng-scope">
                                            <h3 class="blob-subtitle">Project 1 Contest</h3>

                                            <form name="inviteGroup" ng-if="assign.assignment.max_group_size &gt; 1"
                                                  class="ng-pristine ng-scope ng-invalid ng-invalid-required ng-valid-email">
                                                <div class="blob-shiftcopy">
                                                    <img src="images/icon-members-light.png">
                                                    <input type="email"
                                                           class="blob-input invite email ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required"
                                                           placeholder="invite member to group"
                                                           ng-model="assign.invitee"
                                                           required="">
                                                    <a ng-click="addMember(blob, assign.invitee)"
                                                       class="button">Invite</a>
                                                </div>
                                            </form>
                                            <!-- end ngIf: assign.assignment.max_group_size > 1 -->
                                        </div>
                                        <!-- end ngIf: !assign.group.group_info -->
                                        <p class="blob-shiftcopy ng-scope"
                                           ng-if="!assign.submissions"><img src="images/icon-submission-light.png">
                                            Submission on Feb. 6 at 4:59 p.m.</p><!-- end ngIf: !assign.submissions -->
                                        <span class="clear"></span>
                                        <span class="blob-shiftcopy ng-scope"
                                              ng-if="assign.backups">view backups<span
                                                class="arrow right fat"></span></span><!-- end ngIf: !assign.backups -->
                                    </div>
                                </div>
                                <div class="blob-expand">
                                    <div class="ng-scope blob-action" ng-if="blob != currAssign"
                                         ng-click="toggleAssign(blob)">View
                                        Details<span class="white dark arrow right"></span></div>
                                    <!-- end ngIf: blob != currAssign -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ng-scope"
                             ng-repeat="assign in assignments | orderBy: ['assignment.active','assignment.points']:true">
                            <div class="blob grey"
                                 ng-class="{'colored blue': assign.assignment.active || assign.assignment.revision, 'neutral': !assign.assignment.active &amp;&amp; !assign.assignment.revision}"
                                 id="2">
                                <div class="blob-dot"></div>
                                <div class="blob-main">
                                    <p class="blob-status ng-scope" ng-if="!assign.final.final_submission">Not submitted
                                        yet</p><!-- end ngIf: !assign.final.final_submission -->
                                    <h2 class="blob-title ng-binding"> Project 1 Contest: Hog Strategy</h2>

                                    <p class="blob-shiftcopy blob-copy ng-binding"><img
                                            src="images/icon-calendar-tiny-dark.png">due
                                        02/18/2015 at 11:59 PM</p>
                                </div>
                                <div class="blob-more" ng-show="currAssign == blob">
                                    <div class="blob-text">
                                        <span class="flip"><img src="images/icon-flip-light.png"></span>

                                        <div ng-if="!assign.group.group_info" class="ng-scope">
                                            <h3 class="blob-subtitle">Project 1 Contest</h3>

                                            <form name="inviteGroup" ng-if="assign.assignment.max_group_size &gt; 1"
                                                  class="ng-pristine ng-scope ng-invalid ng-invalid-required ng-valid-email">
                                                <div class="blob-shiftcopy">
                                                    <img src="images/icon-members-light.png">
                                                    <input type="email"
                                                           class="blob-input invite email ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required"
                                                           placeholder="invite member to group"
                                                           ng-model="assign.invitee"
                                                           required="">
                                                    <a ng-click="addMember(blob, assign.invitee)"
                                                       class="button">Invite</a>
                                                </div>
                                            </form>
                                            <!-- end ngIf: assign.assignment.max_group_size > 1 -->
                                        </div>
                                        <!-- end ngIf: !assign.group.group_info -->
                                        <p class="blob-shiftcopy ng-scope"
                                           ng-if="!assign.submissions"><img src="images/icon-submission-light.png">
                                            Submission on Feb. 6 at 4:59 p.m.</p><!-- end ngIf: !assign.submissions -->
                                        <span class="clear"></span>
                                        <span class="blob-shiftcopy ng-scope"
                                              ng-if="assign.backups">view backups<span
                                                class="arrow right fat"></span></span><!-- end ngIf: !assign.backups -->
                                    </div>
                                </div>
                                <div class="blob-expand">
                                    <div class="ng-scope blob-action" ng-if="blob != currAssign"
                                         ng-click="toggleAssign(blob)">View
                                        Details<span class="white dark arrow right"></span></div>
                                    <!-- end ngIf: blob != currAssign -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 ng-scope"
                             ng-repeat="assign in assignments | orderBy: ['assignment.active','assignment.points']:true">
                            <div class="blob grey"
                                 ng-class="{'colored blue': assign.assignment.active || assign.assignment.revision, 'neutral': !assign.assignment.active &amp;&amp; !assign.assignment.revision}"
                                 id="2">
                                <div class="blob-dot"></div>
                                <div class="blob-main">
                                    <p class="blob-status ng-scope" ng-if="!assign.final.final_submission">Not submitted
                                        yet</p><!-- end ngIf: !assign.final.final_submission -->
                                    <h2 class="blob-title ng-binding"> Project 1 Contest: Hog Strategy</h2>

                                    <p class="blob-shiftcopy blob-copy ng-binding"><img
                                            src="images/icon-calendar-tiny-dark.png">due
                                        02/18/2015 at 11:59 PM</p>
                                </div>
                                <div class="blob-more" ng-show="currAssign == blob">
                                    <div class="blob-text">
                                        <span class="flip"><img src="images/icon-flip-light.png"></span>

                                        <div ng-if="!assign.group.group_info" class="ng-scope">
                                            <h3 class="blob-subtitle">Project 1 Contest</h3>

                                            <form name="inviteGroup" ng-if="assign.assignment.max_group_size &gt; 1"
                                                  class="ng-pristine ng-scope ng-invalid ng-invalid-required ng-valid-email">
                                                <div class="blob-shiftcopy">
                                                    <img src="images/icon-members-light.png">
                                                    <input type="email"
                                                           class="blob-input invite email ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required"
                                                           placeholder="invite member to group"
                                                           ng-model="assign.invitee"
                                                           required="">
                                                    <a ng-click="addMember(blob, assign.invitee)"
                                                       class="button">Invite</a>
                                                </div>
                                            </form>
                                            <!-- end ngIf: assign.assignment.max_group_size > 1 -->
                                        </div>
                                        <!-- end ngIf: !assign.group.group_info -->
                                        <p class="blob-shiftcopy ng-scope"
                                           ng-if="!assign.submissions"><img src="images/icon-submission-light.png">
                                            Submission on Feb. 6 at 4:59 p.m.</p><!-- end ngIf: !assign.submissions -->
                                        <span class="clear"></span>
                                        <span class="blob-shiftcopy ng-scope"
                                              ng-if="assign.backups">view backups<span
                                                class="arrow right fat"></span></span><!-- end ngIf: !assign.backups -->
                                    </div>
                                </div>
                                <div class="blob-expand">
                                    <div class="ng-scope blob-action" ng-if="blob != currAssign"
                                         ng-click="toggleAssign(blob)">View
                                        Details<span class="white dark arrow right"></span></div>
                                    <!-- end ngIf: blob != currAssign -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <span class="cover"></span>
    <div class="sidebars">
        <div class="sidebar group col-md-4">
            <div class="sidebar-header colored">
                <div class="close"><span ng-click="hidePopups()" class="icon-x">+</span></div>
                <p class="blob-status ng-scope" ng-if="!assign.final.final_submission">Not submitted
                    yet</p><!-- end ngIf: !assign.final.final_submission -->
                <h2 class="blob-title ng-binding"> Project 1 Contest: Hog Strategy</h2>

                <p class="blob-shiftcopy blob-copy ng-binding"><img
                        src="images/icon-calendar-tiny-light.png">due
                    02/18/2015 at 11:59 PM</p>
            </div>
            <h2 class="sidebar-subtitle">Group</h2>
            <!--<p class="sidebar-byline"><b class="blob-name ng-binding"></b></p>-->
            <!--<ul ui-sortable="" ng-model="currGroup.member"-->
            <!--class="list-view ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable">-->
            <!--</ul>-->
            <ul class="sidebar-list">
                <li>Some content</li>
                <li>Some content</li>
            </ul>
            <a ng-click="" class="action">Save</a>

            <h2 class="sidebar-subtitle">Submissions</h2>

            <p class="sidebar-byline">for <b class="ng-binding"></b></p>

            <div class="pop-content">
                <li class="header">
                    <span class="col-1"><p>Date</p></span>
                    <span class="col-2"><p>By</p></span>
                </li>


            </div>
            <h2 class="sidebar-subtitle">Backups</h2>

            <p class="sidebar-byline">for <b class="ng-binding"></b></p>

            <div class="pop-content">
                <li class="header">
                    <span class="col-1"><p>Date</p></span>
                    <span class="col-2"><p>By</p></span>
                </li>

            </div>
        </div>
    </div>
</div>
<!--<link href="//fonts.googleapis.com/css?family=Raleway:100|Open+Sans:300,700" rel="stylesheet" type="text/css">-->
</body>
</html>