<html class="no-js ng-scope" ng-app="student">
<head>
    <style type="text/css">@charset
        "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none
        !important;}ng\:form{display:block;}
    </style>
    <meta charset="UTF-8">
    <title>Ok Student</title>

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="styles/courses.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/zenburn.css">
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">-->
    <!--<link href="../vendor/angular-loading-bar/build/loading-bar.css" rel="stylesheet">-->

    <!--<link href="../vendor/sweetalert/lib/sweet-alert.css" rel="stylesheet">-->

    <script src="../vendor/jquery/dist/jquery.min.js"></script>
    <style type="text/css"></style>

    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <!--<script src="//cdn.ravenjs.com/1.1.16/angular,jquery,native/raven.min.js"></script>-->

    <script src="scripts/all.js"></script>
    <script src="scripts/highlight.pack.js"></script>

    <!--<script src="../vendor/angular/angular.js"></script>-->
    <script src="../vendor/highlightjs/highlight.pack.js"></script>

    <!--<script src="../vendor/angular-resource/angular-resource.js"></script>-->
    <!--<script src="../vendor/underscore/underscore.js"></script>-->
    <!--<script src="../vendor/angular-ui-router/release/angular-ui-router.js"></script>-->
    <!--<script src="../vendor/angular-loading-bar/build/loading-bar.min.js"></script>-->
    <!--<script src="../vendor/angular-animate/angular-animate.js"></script>-->
    <!--<script src="../vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>-->
    <!--<script src="../vendor/moment/moment.js"></script>-->
    <!--<script src="../js/other/moment-timezone-with-data.js"></script>-->
    <!--<script src="../vendor/angular-moment/angular-moment.js"></script>-->
    <!--<script src="../vendor/showdown/compressed/Showdown.js"></script>-->
    <!--<script src="../vendor/sweetalert/lib/sweet-alert.min.js"></script>-->
    <!--<script src="../vendor/angular-tablesort/js/angular-tablesort.js"></script>-->
    <!--<script src="../vendor/angular-ui-sortable/sortable.js"></script>-->

    <script src="../js/student.js?cacheblock"></script>
    <script src="../js/common/main.js"></script>
    <script src="../js/common/services.js"></script>
    <script src="../js/common/controllers.js"></script>
    <script src="../js/student/controllers.js"></script>
    <script src="../admin/js/ok/app.js"></script>

    <script>
    Raven.config('https://edc8538d3d5f47fcb1b14c33d9ae7d8b@app.getsentry.com/36686', {
        whitelistUrls: ['https://ok-server.appspot.com', 'ok-server.appspot.com']
    }).install();
    
    </script>
</head>
<body class="courses">
<div class="container-fluid">
    <div class="wrap-container">
        <header>
            <div class="col-md-4">
                <a ui-sref="dashboard" class="logo">
                    <img src="images/logo-dark.png">
                    <h1>Okpy</h1>
                </a>
            </div>
            <nav class="tools col-md-8">
                <ul>
                    <li>
                        <a class="show-menu">
                            Menu
							<span class="stripes">
							  <span class="stripe"></span>
							  <span class="stripe"></span>
							  <span class="stripe"></span>
							</span>
                        </a>
                    </li>
                    <li><a href="tour.html"><span class="icon-question">?</span></a></li>
                    <li><a href="#"><img src="images/icon-profile.png">alvinwan@berkeley.edu</a></li>
                </ul>
            </nav>
        </header>
        <nav class="menu">
            <ul>
                <span class="close light close-menu"><span class="icon-x">+</span></span>

                <li><a href="">alvinwan@berkeley.edu</a></li>

                <li><a href="http://cs61a.org">CS61A</a></li>
                <li>
                    <a href="https://ok-server.appspot.com/_ah/logout?continue=https://www.google.com/accounts/Logout%3Fcontinue%3Dhttps://appengine.google.com/_ah/logout%253Fcontinue%253Dhttps://ok-server.appspot.com/landing%26service%3Dah">Log
                        Out</a></li>
            </ul>
        </nav>

        <!-- uiView:  -->
        <div class="ng-scope wrap">
            <div class="screen courses ng-scope" ng-controller="CourseSelectorController">
                <div class="row">
                    <!-- ngRepeat: course in courses -->
                    <div class="col-md-4 ng-scope" ng-repeat="course in courses">
                        <div class="blob colored" color="gold">
                            <div class="blob-main attn">
                                <div class="blob-alert thin">3</div>
                                <h2 class="blob-title ng-binding">CS 98-052</h2>
                                <p class="blob-subtitle ng-binding"> UC Berkeley &nbsp; &nbsp;</p>
                            </div>
                            <a class="blob-action"
                               ui-sref="student({courseId:course.id})"
                               href="course.html#/course/6058925581402112">View Course
                                <span class="white arrow right"></span></a>
                        </div>
                    </div>
                    <!-- end ngRepeat: course in courses -->
                    <div class="col-md-4 ng-scope" ng-repeat="course in courses">
                        <div class="blob colored" color="blue">
                            <div class="blob-main attn">
                                <div class="blob-alert thin">5</div>
                                <h2 class="blob-title ng-binding">CS 98-052</h2>
                                <p class="blob-subtitle ng-binding"> UC Berkeley &nbsp; &nbsp;</p>
                            </div>
                            <a class="blob-action"
                               ui-sref="student({courseId:course.id})"
                               href="course.html#/course/6058925581402112">View Course
                                <span class="white arrow right"></span></a>
                        </div>
                    </div>
                    <!-- end ngRepeat: course in courses -->
                    <div class="col-md-4 ng-scope" ng-repeat="course in courses">
                        <div ui-sref="student({courseId:course.id})" class="blob">
                            <div class="blob-main">
                                <h2 class="blob-title ng-binding">Enter Course ID</h2>
                                <p class="blob-subtitle ng-binding"> Is your course missing? <a href="#">Ask your instructor</a> about it.</p>
                            </div>
                            <input class="blob-action" placeholder="course identification number">
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="loader hide">
        <div class="center">
            <div class="circle">
          <span class="mask">
            <span class="half"></span>
          </span>
          <span class="mask other">
            <span class="half"></span>
          </span>
            </div>
            <p>k</p>
        </div>
    </div>


    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700|Roboto+Condensed' rel='stylesheet' type='text/css'>
</div>
</body>
</html>