<html class="no-js ng-scope" ng-app="student">
<head>
    <style type="text/css">@charset
        "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none
        !important;}ng\:form{display:block;}
    </style>
    <meta charset="UTF-8">
    <title>Ok Student</title>
    <link href="../vendor/highlightjs/styles/github.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles/courses.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <link href="../admin/css/ok.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link href="../vendor/angular-loading-bar/build/loading-bar.css" rel="stylesheet">
    <!--<link href="../vendor/sweetalert/lib/sweet-alert.css" rel="stylesheet">-->
    <script src="../vendor/jquery/dist/jquery.min.js"></script>
    <style type="text/css"></style>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <!--<script src="//cdn.ravenjs.com/1.1.16/angular,jquery,native/raven.min.js"></script>-->
    <script src="scripts/course.js"></script>
    <script src="scripts/highlight.pack.js"></script>
    <script src="../vendor/angular/angular.js"></script>
    <script src="../vendor/highlightjs/highlight.pack.js"></script>
    <script src="../vendor/angular-resource/angular-resource.js"></script>
    <script src="../vendor/underscore/underscore.js"></script>
    <script src="../vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../vendor/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="../vendor/angular-animate/angular-animate.js"></script>
    <script src="../vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <!--<script src="../vendor/moment/moment.js"></script>-->
    <!--<script src="../js/other/moment-timezone-with-data.js"></script>-->
    <!--<script src="../vendor/angular-moment/angular-moment.js"></script>-->
    <!--<script src="../vendor/showdown/compressed/Showdown.js"></script>-->
    <!--<script src="../vendor/sweetalert/lib/sweet-alert.min.js"></script>-->
    <!--<script src="../vendor/angular-tablesort/js/angular-tablesort.js"></script>-->
    <!--<script src="../vendor/angular-ui-sortable/sortable.js"></script>-->
    <!--<script src="../js/student.js?cacheblock"></script>-->
    <!--<script src="../js/common/main.js"></script>-->
    <!--<script src="../js/common/services.js"></script>-->
    <!--<script src="../js/common/controllers.js"></script>-->
    <!--<script src="../js/student/controllers.js"></script>-->
    <!--<script src="../admin/js/ok/app.js"></script>-->
    <!--<script>-->
    <!--Raven.config('https://edc8538d3d5f47fcb1b14c33d9ae7d8b@app.getsentry.com/36686', {-->
    <!--whitelistUrls: ['https://ok-server.appspot.com', 'ok-server.appspot.com']-->
    <!--}).install();-->
    <!---->

    <!--</script>-->
</head>
<body class="submission">
<div class="container-fluid">
    <div class="wrap-container">
        <header>
            <div class="col-md-4">
                <a href="courses.html" ui-sref="dashboard" class="logo">
                    <img src="images/logo-dark.png">
                    <h1>Okpy</h1>
                </a>
            </div>
            <nav class="tools col-md-8">
                <ul>
                    <li>
                        <a class="show-menu">
                            Menu
							<span class="stripes">
							  <span class="stripe"></span>
							  <span class="stripe"></span>
							  <span class="stripe"></span>
							</span>
                        </a>
                    </li>
                    <li><a href="tour.html"><span class="icon-question">?</span></a></li>
                    <li><a href="#"><img src="images/icon-profile.png">alvinwan@berkeley.edu</a></li>
                </ul>
            </nav>
        </header>
        <nav class="menu">
            <ul>
                <span class="close light close-menu"><span class="icon-x">+</span></span>
                <li><a href="">alvinwan@berkeley.edu</a></li>
                <li><a href="http://cs61a.org">CS61A</a></li>
                <li>
                    <a href="https://ok-server.appspot.com/_ah/logout?continue=https://www.google.com/accounts/Logout%3Fcontinue%3Dhttps://appengine.google.com/_ah/logout%253Fcontinue%253Dhttps://ok-server.appspot.com/landing%26service%3Dah">Log
                        Out</a></li>
            </ul>
        </nav>
        <!-- uiView:  -->
        <div class="blob colored" color="blue"
             ng-class="{'colored blue': assign.assignment.active || assign.assignment.revision, 'neutral': !assign.assignment.active &amp;&amp; !assign.assignment.revision}"
             id="1">
            <div class="blob-dot"></div>
            <div class="blob-main attn">
                <p class="blob-status ng-scope" ng-if="!assign.final.final_submission">Not submitted
                    yet</p><!-- end ngIf: !assign.final.final_submission -->
                <h2 class="blob-title ng-binding"> Project 1 Contest: Hog Strategy</h2>

                <p class="blob-shiftcopy blob-copy ng-binding"><span class="clock"></span>due
                    02/18/2015 at 11:59 PM</p>
            </div>
            <div class="ng-scope blob-action" ng-if="blob != currAssign"
                 ng-click="toggleAssign(blob)">View
                Details<span class="white arrow right"></span></div>
            <!-- end ngIf: blob != currAssign -->
        </div>
        <section class="ng-scope wrap">
            <div ui-view="" class="ng-scope">
                <div class="ng-scope">
                    <div class="center-block">
                        <!-- ngRepeat: score in submission.score --><!-- ngIf: submission.score.length != 0 --><span ng-if="submission.score.length != 0" ng-repeat="score in submission.score" class="badge bg-info ng-binding ng-scope">
      Graded - 2 - alvinwan@berkeley.edu
    </span><!-- end ngIf: submission.score.length != 0 --><!-- end ngRepeat: score in submission.score -->

                    </div>

                    <!-- ngRepeat: (file_name, contents) in diff.diff -->
                    <div ng-repeat="(file_name, contents) in diff.diff" class="ng-scope files">
                    <diff>
                        <div class="file">
                        <div class="meta">
                            <div class="info ng-binding">
                                ants.py
                            </div>
                        </div>
                        <div class="snippet-wrapper">
                            <table class="snippet ng-scope" ng-controller="DiffController">
                                <!-- ngRepeat: codeline in contents track by $index --><tbody ng-controller="DiffLineController" ng-repeat="codeline in contents track by $index" ng-hide="neutral &amp;&amp; hideEmpty" class="ng-scope">
                            <tr ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                                <td ng-click="scroll()" id="ants.py-L1" ng-class="{&quot;diff-line-num-neg&quot;: negative, &quot;diff-line-num-pos&quot;: positive}" class="diff-line-num diff-line-num-left ng-binding">
                                    1
                                </td>
                                <td ng-click="scroll()" id="ants.py-L1" ng-class="{&quot;diff-line-num-neg&quot;: negative, &quot;diff-line-num-pos&quot;: positive}" class="diff-line-num diff-line-num-right ng-binding">
                                    1
                                    <!-- ngIf: hover && !negative -->
                                </td>
                                <td ng-class="{&quot;diff-line-code-pos&quot;:positive, &quot;diff-line-code-neg&quot;: negative, &quot;diff-line-code-empty&quot;: neutral}" class="diff-line-code ng-binding diff-line-code-empty hljs python"> <span class="hljs-string">"""The ants module implements game logic for Ants Vs. SomeBees."""</span></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <comments><div>
                                        <!-- ngIf: showComment || codeline.comments.length > 0 -->
                                    </div>
                                    </comments>
                                </td>
                            </tr>
                            </tbody><!-- end ngRepeat: codeline in contents track by $index --><tbody ng-controller="DiffLineController" ng-repeat="codeline in contents track by $index" ng-hide="neutral &amp;&amp; hideEmpty" class="ng-scope">
                            <tr ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                                <td ng-click="scroll()" id="ants.py-L2" ng-class="{&quot;diff-line-num-neg&quot;: negative, &quot;diff-line-num-pos&quot;: positive}" class="diff-line-num diff-line-num-left ng-binding">
                                    2
                                </td>
                                <td ng-click="scroll()" id="ants.py-L2" ng-class="{&quot;diff-line-num-neg&quot;: negative, &quot;diff-line-num-pos&quot;: positive}" class="diff-line-num diff-line-num-right ng-binding">
                                    2
                                    <!-- ngIf: hover && !negative -->
                                </td>
                                <td ng-class="{&quot;diff-line-code-pos&quot;:positive, &quot;diff-line-code-neg&quot;: negative, &quot;diff-line-code-empty&quot;: neutral}" class="diff-line-code ng-binding diff-line-code-empty hljs "> </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <comments><div>
                                        <!-- ngIf: showComment || codeline.comments.length > 0 -->
                                    </div>
                                    </comments>
                                </td>
                            </tr>
                            </tbody><!-- end ngRepeat: codeline in contents track by $index --><tbody ng-controller="DiffLineController" ng-repeat="codeline in contents track by $index" ng-hide="neutral &amp;&amp; hideEmpty" class="ng-scope">
                            <tr ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                                <td ng-click="scroll()" id="ants.py-L3" ng-class="{&quot;diff-line-num-neg&quot;: negative, &quot;diff-line-num-pos&quot;: positive}" class="diff-line-num diff-line-num-left ng-binding">
                                    3
                                </td>
                                <td ng-click="scroll()" id="ants.py-L3" ng-class="{&quot;diff-line-num-neg&quot;: negative, &quot;diff-line-num-pos&quot;: positive}" class="diff-line-num diff-line-num-right ng-binding">
                                    3
                                    <!-- ngIf: hover && !negative -->
                                </td>
                                <td ng-class="{&quot;diff-line-code-pos&quot;:positive, &quot;diff-line-code-neg&quot;: negative, &quot;diff-line-code-empty&quot;: neutral}" class="diff-line-code ng-binding diff-line-code-empty hljs coffeescript"> <span class="hljs-reserved">import</span> random</td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <comments><div>
                                        <!-- ngIf: showComment || codeline.comments.length > 0 -->
                                    </div>
                                    </comments>
                                </td>
                            </tr>
                            </tbody><!-- end ngRepeat: codeline in contents track by $index --><tbody ng-controller="DiffLineController" ng-repeat="codeline in contents track by $index" ng-hide="neutral &amp;&amp; hideEmpty" class="ng-scope">
                            <tr ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                                <td ng-click="scroll()" id="ants.py-L4" ng-class="{&quot;diff-line-num-neg&quot;: negative, &quot;diff-line-num-pos&quot;: positive}" class="diff-line-num diff-line-num-left ng-binding">
                                    4
                                </td>
                                <td ng-click="scroll()" id="ants.py-L4" ng-class="{&quot;diff-line-num-neg&quot;: negative, &quot;diff-line-num-pos&quot;: positive}" class="diff-line-num diff-line-num-right ng-binding">
                                    4
                                    <!-- ngIf: hover && !negative -->
                                </td>
                                <td ng-class="{&quot;diff-line-code-pos&quot;:positive, &quot;diff-line-code-neg&quot;: negative, &quot;diff-line-code-empty&quot;: neutral}" class="diff-line-code ng-binding diff-line-code-empty hljs coffeescript"> <span class="hljs-reserved">import</span> sys</td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <comments><div>
                                        <!-- ngIf: showComment || codeline.comments.length > 0 -->
                                    </div>
                                    </comments>
                                </td>
                            </tr>
                            </tbody><!-- end ngRepeat: codeline in contents track by $index --><tbody ng-controller="DiffLineController" ng-repeat="codeline in contents track by $index" ng-hide="neutral &amp;&amp; hideEmpty" class="ng-scope">
                            <tr ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                                <td ng-click="scroll()" id="ants.py-L5" ng-class="{&quot;diff-line-num-neg&quot;: negative, &quot;diff-line-num-pos&quot;: positive}" class="diff-line-num diff-line-num-left ng-binding">
                                    5
                                </td>
                                <td ng-click="scroll()" id="ants.py-L5" ng-class="{&quot;diff-line-num-neg&quot;: negative, &quot;diff-line-num-pos&quot;: positive}" class="diff-line-num diff-line-num-right ng-binding">
                                    5
                                    <!-- ngIf: hover && !negative -->
                                </td>
                                <td ng-class="{&quot;diff-line-code-pos&quot;:positive, &quot;diff-line-code-neg&quot;: negative, &quot;diff-line-code-empty&quot;: neutral}" class="diff-line-code ng-binding diff-line-code-empty hljs python"> <span class="hljs-keyword">from</span> ucb <span class="hljs-keyword">import</span> main, interact, trace</td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <comments><div>
                                        <!-- ngIf: showComment || codeline.comments.length > 0 -->
                                    </div>
                                    </comments>
                                </td>
                            </tr>
                            </tbody><!-- end ngRepeat: codeline in contents track by $index --><tbody ng-controller="DiffLineController" ng-repeat="codeline in contents track by $index" ng-hide="neutral &amp;&amp; hideEmpty" class="ng-scope">
                            <tr ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                                <td ng-click="scroll()" id="ants.py-L6" ng-class="{&quot;diff-line-num-neg&quot;: negative, &quot;diff-line-num-pos&quot;: positive}" class="diff-line-num diff-line-num-left ng-binding">
                                    6
                                </td>
                                <td ng-click="scroll()" id="ants.py-L6" ng-class="{&quot;diff-line-num-neg&quot;: negative, &quot;diff-line-num-pos&quot;: positive}" class="diff-line-num diff-line-num-right ng-binding">
                                    6
                                    <!-- ngIf: hover && !negative -->
                                </td>
                                <td ng-class="{&quot;diff-line-code-pos&quot;:positive, &quot;diff-line-code-neg&quot;: negative, &quot;diff-line-code-empty&quot;: neutral}" class="diff-line-code ng-binding diff-line-code-empty hljs python"> <span class="hljs-keyword">from</span> collections <span class="hljs-keyword">import</span> OrderedDict</td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <comments><div>
                                        <!-- ngIf: showComment || codeline.comments.length > 0 -->
                                    </div>
                                    </comments>
                                </td>
                            </tr>
                            </tbody><!-- end ngRepeat: codeline in contents track by $index --><tbody ng-controller="DiffLineController" ng-repeat="codeline in contents track by $index" ng-hide="neutral &amp;&amp; hideEmpty" class="ng-scope">
                            <tr ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                                <td ng-click="scroll()" id="ants.py-L7" ng-class="{&quot;diff-line-num-neg&quot;: negative, &quot;diff-line-num-pos&quot;: positive}" class="diff-line-num diff-line-num-left ng-binding">
                                    7
                                </td>
                                <td ng-click="scroll()" id="ants.py-L7" ng-class="{&quot;diff-line-num-neg&quot;: negative, &quot;diff-line-num-pos&quot;: positive}" class="diff-line-num diff-line-num-right ng-binding">
                                    7
                                    <!-- ngIf: hover && !negative -->
                                </td>
                                <td ng-class="{&quot;diff-line-code-pos&quot;:positive, &quot;diff-line-code-neg&quot;: negative, &quot;diff-line-code-empty&quot;: neutral}" class="diff-line-code ng-binding diff-line-code-empty hljs "> </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <comments><div>
                                        <!-- ngIf: showComment || codeline.comments.length > 0 -->
                                    </div>
                                    </comments>
                                </td>
                            </tr>
                            </tbody><!-- end ngRepeat: codeline in contents track by $index --><tbody ng-controller="DiffLineController" ng-repeat="codeline in contents track by $index" ng-hide="neutral &amp;&amp; hideEmpty" class="ng-scope">
                            <tr ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                                <td ng-click="scroll()" id="ants.py-L8" ng-class="{&quot;diff-line-num-neg&quot;: negative, &quot;diff-line-num-pos&quot;: positive}" class="diff-line-num diff-line-num-left ng-binding">
                                    8
                                </td>
                                <td ng-click="scroll()" id="ants.py-L8" ng-class="{&quot;diff-line-num-neg&quot;: negative, &quot;diff-line-num-pos&quot;: positive}" class="diff-line-num diff-line-num-right ng-binding">
                                    8
                                    <!-- ngIf: hover && !negative -->
                                </td>
                                <td ng-class="{&quot;diff-line-code-pos&quot;:positive, &quot;diff-line-code-neg&quot;: negative, &quot;diff-line-code-empty&quot;: neutral}" class="diff-line-code ng-binding diff-line-code-empty hljs "> </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <comments><div>
                                        <!-- ngIf: showComment || codeline.comments.length > 0 -->
                                    </div>
                                    </comments>
                                </td>
                            </tr>
                            </tbody><!-- end ngRepeat: codeline in contents track by $index --><tbody ng-controller="DiffLineController" ng-repeat="codeline in contents track by $index" ng-hide="neutral &amp;&amp; hideEmpty" class="ng-scope">
                            <tr ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                                <td ng-click="scroll()" id="ants.py-L9" ng-class="{&quot;diff-line-num-neg&quot;: negative, &quot;diff-line-num-pos&quot;: positive}" class="diff-line-num diff-line-num-left ng-binding">
                                    9
                                </td>
                                <td ng-click="scroll()" id="ants.py-L9" ng-class="{&quot;diff-line-num-neg&quot;: negative, &quot;diff-line-num-pos&quot;: positive}" class="diff-line-num diff-line-num-right ng-binding">
                                    9
                                    <!-- ngIf: hover && !negative -->
                                </td>
                                <td ng-class="{&quot;diff-line-code-pos&quot;:positive, &quot;diff-line-code-neg&quot;: negative, &quot;diff-line-code-empty&quot;: neutral}" class="diff-line-code ng-binding diff-line-code-empty hljs coffeescript"> <span class="hljs-comment">######</span><span class="hljs-comment">######</span><span class="hljs-comment">####</span></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <comments><div>
                                        <!-- ngIf: showComment || codeline.comments.length > 0 -->
                                    </div>
                                    </comments>
                                </td>
                            </tr>
                            </tbody><!-- end ngRepeat: codeline in contents track by $index --><tbody ng-controller="DiffLineController" ng-repeat="codeline in contents track by $index" ng-hide="neutral &amp;&amp; hideEmpty" class="ng-scope">
                            <tr ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                                <td ng-click="scroll()" id="ants.py-L10" ng-class="{&quot;diff-line-num-neg&quot;: negative, &quot;diff-line-num-pos&quot;: positive}" class="diff-line-num diff-line-num-left ng-binding">
                                    10
                                </td>
                                <td ng-click="scroll()" id="ants.py-L10" ng-class="{&quot;diff-line-num-neg&quot;: negative, &quot;diff-line-num-pos&quot;: positive}" class="diff-line-num diff-line-num-right ng-binding">
                                    10
                                    <!-- ngIf: hover && !negative -->
                                </td>
                                <td ng-class="{&quot;diff-line-code-pos&quot;:positive, &quot;diff-line-code-neg&quot;: negative, &quot;diff-line-code-empty&quot;: neutral}" class="diff-line-code ng-binding diff-line-code-empty hljs coffeescript"> <span class="hljs-comment"># Core Classes #</span></td>
                            </tr>
                            </tbody><!-- end ngRepeat: codeline in contents track by $index --><tbody ng-controller="DiffLineController" ng-repeat="codeline in contents track by $index" ng-hide="neutral &amp;&amp; hideEmpty" class="ng-scope">
                            <tr ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                                <td ng-click="scroll()" id="ants.py-L810" ng-class="{&quot;diff-line-num-neg&quot;: negative, &quot;diff-line-num-pos&quot;: positive}" class="diff-line-num diff-line-num-left ng-binding">
                                    619
                                </td>
                                <td ng-click="scroll()" id="ants.py-L810" ng-class="{&quot;diff-line-num-neg&quot;: negative, &quot;diff-line-num-pos&quot;: positive}" class="diff-line-num diff-line-num-right ng-binding">
                                    765
                                    <!-- ngIf: hover && !negative -->
                                </td>
                                <td ng-class="{&quot;diff-line-code-pos&quot;:positive, &quot;diff-line-code-neg&quot;: negative, &quot;diff-line-code-empty&quot;: neutral}" class="diff-line-code ng-binding diff-line-code-empty hljs "> </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <comments><div>
                                        <!-- ngIf: showComment || codeline.comments.length > 0 -->
                                    </div>
                                    </comments>
                                </td>
                            </tr>
                            </tbody><!-- end ngRepeat: codeline in contents track by $index -->
                            </table>
                        </div>
                    </div>
                    </diff>
                </div><!-- end ngRepeat: (file_name, contents) in diff.diff -->
                </div>
            </div>
        </section>
    </div>
    <div class="sidebars">
        <div class="sidebar colored group col-md-4">
            <div class="sidebar-header">
                <div class="close"><span ng-click="hidePopups()" class="icon-x">+</span></div>
                <p class="blob-status ng-scope" ng-if="!assign.final.final_submission">Not submitted
                    yet</p><!-- end ngIf: !assign.final.final_submission -->
                <h2 class="blob-title ng-binding"> Project 1 Contest: Hog Strategy</h2>

                <p class="blob-shiftcopy blob-copy ng-binding"><span class="clock"></span>due
                    02/18/2015 at 11:59 PM</p>
            </div>
            <h2 class="sidebar-subtitle">Group</h2>
            <!--<p class="sidebar-byline"><b class="blob-name ng-binding"></b></p>-->
            <!--<ul ui-sortable="" ng-model="currGroup.member"-->
            <!--class="list-view ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable">-->
            <!--</ul>-->
            <ul class="sidebar-list">
                <li>Some content</li>
                <li>Some content</li>
            </ul>
            <a ng-click="" class="action">Save</a>

            <h2 class="sidebar-subtitle">Submissions</h2>
            <ul class="sidebar-list">
                <li>Feb. 2 at 6:00 p.m. by Alvin Wan<a href="submission.html">view<span class="arrow right dark fat"></span></a></li>
                <li>Feb. 2 at 6:00 p.m. by Angie Jodjana<a href="submission.html">view<span class="arrow right dark fat"></span></a></li>
                <li>Feb. 2 at 6:00 p.m. by Alvin Wan<a href="submission.html">view<span class="arrow right dark fat"></span></a></li>
                <li>Feb. 2 at 6:00 p.m. by Angie Jodjana<a href="submission.html">view<span class="arrow right dark fat"></span></a></li>
                <li>Feb. 2 at 6:00 p.m. by Alvin Wan<a href="submission.html">view<span class="arrow right dark fat"></span></a></li>
            </ul>
            <a ng-click="" class="action">Load More</a>
            <h2 class="sidebar-subtitle">Backups</h2>
            <ul class="sidebar-list">
                <li>Feb. 2 at 6:00 p.m. by Alvin Wan<a href="submission.html">view<span class="arrow right dark fat"></span></a></li>
                <li>Feb. 2 at 6:00 p.m. by Angie Jodjana<a href="submission.html">view<span class="arrow right dark fat"></span></a></li>
                <li>Feb. 2 at 6:00 p.m. by Alvin Wan<a href="submission.html">view<span class="arrow right dark fat"></span></a></li>
                <li>Feb. 2 at 6:00 p.m. by Angie Jodjana<a href="submission.html">view<span class="arrow right dark fat"></span></a></li>
                <li>Feb. 2 at 6:00 p.m. by Alvin Wan<a href="submission.html">view<span class="arrow right dark fat"></span></a></li>
            </ul>
            <a ng-click="" class="action">Load More</a>
        </div>
    </div>
</div>
<!--<link href="//fonts.googleapis.com/css?family=Raleway:100|Open+Sans:300,700" rel="stylesheet" type="text/css">-->
</body>
</html>